.TransactionsContainer {
  justify-content: center;
  margin-left: 10.972vw;
  margin-right: 10.972vw;
  min-height: 788px;
  background-color: white;
  padding: 48px 60px 56px;
  th {
    padding-bottom: 8px;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  td {
    padding: 9px 0px;
    font-size: 16px;
    line-height: 24px;
  }

  .TransactionTableRow {
    border-bottom: 0.7px solid #c8c8c8;
  }
}
.TransactionHeaderContainer {
  padding-bottom: 20px;
}
.TransactionContainerHeader {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

@media (max-width: 768px) {
  .TransactionsContainer {
    margin-left: unset;
    height: unset;
    min-height: calc(100vh - 74px);
    margin-right: unset;
    background-color: #efeff0;
    padding: unset;
    padding-bottom: 40px;
    width: 100vw;
    h3 {
      padding-top: 36px;
    }
    p,
    h3 {
      padding-left: 22px;
    }
    p {
      padding-top: 9px;
      padding-bottom: 7px;
      margin-bottom: 0px;
    }
  }
}
