.HomeFooter.footer {
  color: #1a1a1a;
  background: #efeff0;
  padding-top: 2vw;
  padding-bottom: 2vw;
  font-family: Graphik Web;
}

.HomeFooter a {
  &:hover {
    color: #0056b3;
  }
}

.HomeFooterCopyright {
  font-size: 12px;
  margin: 0px;
  padding: 5px;
  color: #646469;
}

.HomeFooterP {
  line-height: 18px;
  font-size: 12px;
}

.FooterNavLink {
  color: #1a1a1a;
  &:hover {
    color: #1a1a1a !important;
  }
  line-height: 32px;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  display: block;
  margin-bottom: 1.4vw;
}

.AppBadges {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.app-download-link {
  display: inline-block;
}

.store-badge {
  height: 40px;
  margin-right: 12px;
}

.FooterSocial {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
}

.FooterSocialImg {
  margin-right: 8px;
}

.FooterSocialA {
  font-weight: bold;
  margin-top: 2.5vw;
  margin-bottom: 2.5vw;
  margin-right: 48px;
  font-size: 12px;
  &:hover {
    color: #1a1a1a !important;
  }
}

@media (max-width: 767px) {
  .HomeFooter.footer {
    padding-top: 10vw;
    padding-bottom: 5vw;
    margin-top: 0;
  }

  .HomeFooterP {
    text-align: left;
    padding-left: 15px;
  }

  .HomeFooterCopyright {
    text-align: center;
  }

  .AppBadges {
    margin-top: 24px;
    padding-left: 6px;
  }

  .app-store-badge {
    padding-left: 10px;
  }

  .social-platform-name {
    display: none;
  }

  .FooterSocial {
    padding: 0 15px;
  }

  .FooterSocialA {
    margin-right: 16px;
  }
}
