.FooterNavLink {
  line-height: 32px;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.HomeFooter a {
  color: #1a1a1a;
  &:hover {
    color: #0056b3;
  }
}

.AppBadges {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.app-download-link {
  display: inline-block;
}
.FooterSocial {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
}
.app-store-badge {
  height: 40px;
  margin-right: 12px;
}

.play-store-badge {
  height: 60px;
}

.FooterSocialA {
  font-family: Graphik Web;
  font-weight: bold;
  margin-right: 48px;
  font-size: 12px;
}

@media (min-width: 768px) {
  .HomeFooter.footer.font-small {
    color: #1a1a1a;
    background-color: #efeff0;
    padding-top: 2vw;
    margin-top: 2vw;
  }
  .FooterSocial {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .HomeFooterP {
    line-height: 16px;
    font-size: 12px;
    font-family: Graphik Web;
    color: #1a1a1a;
  }
  .FooterSocialImg {
    margin-right: 0.5vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
  }
  .HomeFooterCopyright {
    font-family: Graphik Web;
    font-size: 12px;
    margin: 0px;
    padding: 5px;
    color: #646469;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .HomeFooter.footer.font-small {
    color: #1a1a1a;
    background-color: #efeff0;
    padding-top: 2vw;
    margin-top: 2vw;
  }
  .FooterSocial {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .HomeFooterP {
    line-height: 16px;
    font-size: 12px;
    font-family: Graphik Web;
    color: #1a1a1a;
  }
  .FooterSocialImg {
    margin-right: 0.5vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
  }
  .HomeFooterCopyright {
    font-family: Graphik Web;
    font-size: 12px;
    margin: 0px;
    padding: 5px;
    color: #646469;
  }
}

@media (max-width: 767px) {
  .HomeFooter.footer.font-small {
    color: #1a1a1a;
    background-color: #efeff0;
    padding-top: 10vw;
    // margin-top: 97vw;
  }
  .HomeFooterP {
    line-height: 16px;
    font-size: 12px;
    font-family: Graphik Web;
    color: #1a1a1a;
    text-align: left;
    padding-left: 15px;
  }
  .FooterSocial {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .FooterSocialA {
    margin: 0;
    padding: 0 16px;
  }
  .AppBadges {
    padding-left: 16px;
    margin-top: 24px;
  }
  .HomeFooterCopyright {
    font-family: Graphik Web;
    font-size: 12px;
    margin: 0px;
    padding: 5px;
    color: #646469;
  }
}
