.navbar-brand,
.navbar-nav {
    font-family: Graphik Web;
    font-size: 2vw;
}


.navbar-toggler {
    padding: 1px 1px 1px 1px;
}
@media (min-width:768px) {
    .search{
        height:4vw;
        left:96vw;
        position:absolute;
        z-index:100;
    }
    .navbar-toggler {
        padding:0!important;
        margin:0!important;
    }
    .navbar-brand{
        padding-top:0!important;
        padding-bottom:0!important;
    }
    .logoHouse{
        height: 4vw;
    }
    .logoText{
      // margin: 1vw;
        height: 4vw;
    }

    a.smallNav.nav-link{
        padding:0 !important;
    }
    .ml-auto fix navbar-nav {
        margin-left: 0px !important;
        width: 20vw!important;
    }

    .navbar.fixed-left {
        bottom: 0;
        background-color:transparent!important;
        width: 20vw!important;
        flex-flow: column nowrap;
        align-items: flex-start
    }

    .navbar.fixed-left .navbar-collapse {
        flex-grow: 0;
        flex-direction: column;
        width: 20vw!important;
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 18vw!important;
        margin-left:0px!important;
        // width: 100%
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
        //  width: 100%
        width: 20vw!important;
    }

    .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
        top: 0
    }

    .navbar.fixed-left {
        right: auto
    }

    .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-left: .3em solid;
        border-bottom: .3em solid transparent;
        border-right: none;
        vertical-align: baseline
    }

    .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
        left: 100%
    }

    .navbar {
        padding: 0!important;
    }

    .smallNav {
        font-size: 1vw;
        margin-left: 30px;
        margin-top: 0px;
        margin-bottom: 5px;
        padding: 0;
        color: #000000;
        padding-bottom: 0vw;
    }

    .bigNav {
        padding: 0px;
        color: #000000;
        //line-height: 1.3vw;
        // font-weight: bold;
        font-size: 1.33vw;
        padding-bottom: 0.5vw;
        padding-top: 0.5vw;
    }

    .nav-item a {
        padding: 1px 1px 1px 1px;
        font-size: 2vw;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-left: 0px;

    }

    .navbar.fixed-left {
        position: absolute;

        left: 0;
        right: 0;
        width: 16vw;
        z-index: 99;
        margin: 1vw!important;
        top: 0vh;
    }

    .ml-auto.unfix.navbar-nav {
        position: relative;
        top: 100vh;
        width: 20vw;
        left: 0vw!important;
    }

    .ml-auto.fix.navbar-nav {
        position: fixed;
        top: 30vh;
        left: 2vw!important;
        width: 20vw;
        // margin:2vw;

    }
    .ml-auto.fixed.navbar-nav {
        position: fixed;
        top: 30vh;
        left: 2vw!important;
        width: 20vw;
        left: 2vw!important;
        // margin:2vw;

    }
    .footerSocial{
        width:70vw;
        overflow-wrap: break-word;
        font-family:Graphik Web;
        font-size: 12px;
        white-space: normal;
        font-weight: bold;
    }
    .navbar-expander{
        height: 14vh
      }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .search{
        height:4vw;
        left:96vw;
        position:absolute;
        z-index:100;
    }
    .logoHouse{
        height: 4vw;
    }
    .logoText{
    //   margin: 1vw;
        height: 4vw;
    }
    a.smallNav.nav-link{
        padding:0 !important;
    }
    .navbar {
        padding: 1px 1px 1px 1px;

    }
    .navbar-brand{
        padding-top:0!important;
        padding-bottom:0!important;
    }
    .navbar a {
        padding: 0px;
        color: #000000;


        //line-height: 1.3vw;
        // font-weight: bold;
        font-size: 1.33vw;
    }
    .smallNav {
        font-size: 1vw;
        margin-left: 30px;
        margin-top:0px;
        margin-bottom:5px;
        padding:0;
        color: #000000;
        padding-bottom: 0vw;
    }
    .bigNav {
        padding: 0px;
        color: #000000;
        //line-height: 1.3vw;
        // font-weight: bold;
        font-size: 1.33vw;
        padding-bottom: 0.5vw;
        padding-top: 0.5vw;
    }

    .navbar.fixed-left {
        position: absolute;

        left: 0;
        right: 0;
        width: 16vw;
        z-index: 99;
        margin: 0vw;
        top: 0vh;
    }
    .nav-item a {
        padding: 1px 1px 1px 1px;
        font-size: 4vw;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-left: 0px;
        padding-bottom: 1vw;
    }

    .ml-auto.unfix.navbar-nav {
        position: relative;
        top: 100vh;

    }

    .ml-auto.fix.navbar-nav {
        position: fixed;
        top: 30vh;
        left: 2vw;
        // margin:2vw;

    }
    .footerSocial{
        width:70vw;
        overflow-wrap: break-word;
        font-family:Graphik Web;
        font-size: 12px;
        white-space: normal;
        font-weight: bold;
    }
    .navbar-expander{
        height: 14vh
      }
}

@media (max-width: 767px) {
    .search{
        height:8vw;
        left:73vw;
        position:absolute;
        z-index:100;
        top: 5.6vw;
    }
    .navbar-brand{
        padding-top:0!important;
        padding-bottom:0!important;
        margin-left: 15px;
        position: relative;
        top: .5rem;
    }
    .logoHouse{
        height: 10.4vw;
    }
    .logoText{
       margin: 0vw;
       margin-left:1vw;
        height: 8vw;
    }
    a.smallNav.nav-link{
        padding:0 !important;
        margin-top:0;
        margin-bottom:0;
    }
    .navbar {
        padding: 1px 1px 1px 1px;

    }
    .navbar-toggler{
        position:absolute;
        left:86.5vw;
        top:5.35vw;
        height:8vw;
        margin:0vw!important;
        padding:0vw!important;
    }
   .navbar-expander{
     height: 8vw;


   }
    .navbar a {
        padding: 0px;
        color: #000000;


        //line-height: 1.3vw;
        // font-weight: bold;
      //  font-size: 4vw;
    }
    .smallNav {
        font-size: 3vw;
        margin-left: 30px;
        margin-top:5px;
        margin-bottom:0px;
        padding:0;
        color: #000000;
        padding-bottom: 0vw;
        margin:20px 15px 15px 65px;
    }
    .bigNav {
        padding: 0px;
        color: #000000;
        //line-height: 1.3vw;
        // font-weight: bold;
        font-size: 3.5vw;
        padding-bottom: 0.5vw;
        padding-top: 0.5vw;
        margin: 10px 15px 15px 25px;
    }

    .nav-item a {
        padding: 1px 1px 1px 1px;
        font-size: 4vw;
    }

    .navbar-custom {
        position: fixed;
        background-color:#ffffff;
        left: 0;
        right: 0;
        width: 100vw;
        z-index: 1030;
        padding: 2vw 0 2vw 0;
        top: 0vh;
        height:19.2vw;
    }
    .navbar.fixed-left {
        position: fixed;
        top: 0vh;
        z-index:0;
        padding:0vw;
        height:0vw;
        //height:5vw;
        /*
        right: 4vw;
        width: 4vw;
        z-index: 1030;
        margin: 2vw;
        */
    }

    .navbar-collapse{
        left:-2vw;
        top:10vw;
        position:relative;
        background-color:#ffffff;
        width:100vw;
    }
    .navbar-toggler-icon{
        width:8vw;
    }
    .footerSocial{
        width:90vw;
        overflow-wrap: break-word;
        font-family:Graphik Web;
        font-size: 12px;
        white-space: normal;
        font-weight: bold;
    }
}
