@use '../../theme';

.navbar-brand,
.navbar-nav {
  font-family: Graphik Web;
  font-size: 2vw;
}

.navbar-toggler {
  padding: 1px 1px 1px 1px;
}

.navbar-nav .nav-link {
  text-decoration: none;
}

@media (min-width: 768px) {
  .expanderButton {
    background-color: #ffffff00 !important;
    position: relative;
    margin: 0;
    margin-left: 8px;
    margin-top: 2px;
    padding: 0;
    border: none !important;
    width: 20px;
    height: 20px;
  }

  .vertical-line {
    transition: 0.5s;
    position: absolute;
    background-color: theme.$onyxblacktext;
    width: 2px;
    height: 12px;
    left: 50%;
    margin-left: -1px;
    top: 50%;
    margin-top: -6px;
  }

  .horizontal-line {
    transition: 0.5s;
    position: absolute;
    background-color: theme.$onyxblacktext;
    width: 12px;
    height: 2px;
    left: 50%;
    margin-left: -6px;
    top: 50%;
    margin-top: -1px;
  }

  .horizontal-line.xstate {
    transform: rotate(45deg);
  }

  .vertical-line.xstate {
    transform: rotate(-135deg);
  }

  .search {
    //display: none;
    top: 0;
    height: 5vw;
    width: 5vw;
    right: 0;
    position: fixed;
    z-index: 101;
    background-color: #ffffff;
    cursor: pointer;
    padding: 1.1vw;
    border: 0;
    border-radius: 0;
    &:hover {
      background-color: #efeff0 !important;
    }
    &:active {
      background-color: #efeff0 !important;
    }
    &:focus {
      background-color: #efeff0;
    }
    &.offset {
      top: 56px;
    }
  }

  .navbar-toggler {
    padding: 0 !important;
    margin: 0 !important;
  }
  .navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .logoHouse {
    position: absolute;
    height: 4vw;
  }
  .logoText {
    height: 4vw;
  }
  .logoOffset {
    margin-top: 56px;
  }

  a.smallNav.nav-link {
    padding: 0 !important;
  }
  .ml-auto fix navbar-nav {
    margin-left: 0px !important;
    width: 20vw !important;
  }

  .navbar.fixed-left {
    bottom: 0;
    background-color: transparent !important;
    width: 20vw !important;
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  .navbar.fixed-left .navbar-collapse {
    flex-grow: 0;
    flex-direction: column;
    width: 20vw !important;
  }

  .navbar.fixed-left .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 18vw !important;
    margin-left: 0px !important;
  }

  .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
    top: 0;
  }

  .navbar.fixed-left {
    right: auto;
  }

  .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
    border-top: 0.3em solid transparent;
    border-left: 0.3em solid;
    border-bottom: 0.3em solid transparent;
    border-right: none;
    vertical-align: baseline;
  }

  .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
    left: 100%;
  }

  .navbar {
    padding: 0 !important;
  }

  .smallNav {
    font-size: 1vw !important;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0;
    color: theme.$onyxblacktext;
    padding-bottom: 0vw;
  }

  .bigNav {
    padding: 0px;
    color: theme.$onyxblacktext;
    font-size: 1.33vw !important;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
  }

  .nav-item a {
    padding: 1px 1px 1px 1px;
    font-size: 2vw;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-left: 0px;
  }

  .navbar.fixed-left {
    position: absolute;

    left: 0;
    right: 0;
    width: 16vw;
    z-index: 99;
    margin: 1vw !important;
    top: 0vh;
  }

  .ml-auto.unfix.navbar-nav {
    position: relative;
    top: 100vh;
    width: 20vw;
    left: 0vw !important;
  }

  .ml-auto.fix.navbar-nav {
    position: fixed;
    top: 30vh;
    left: 2vw !important;
    width: 20vw;
  }
  .ml-auto.fixed.navbar-nav {
    position: fixed;
    top: 30vh;
    left: 2vw !important;
    width: 20vw;
    left: 2vw !important;
  }
  .navbar-expander {
    height: 14vh;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .expanderButton {
    background-color: #ffffff00 !important;
    position: relative;
    margin: 0;
    margin-left: 8px;
    margin-top: 2px;
    border: none !important;
    padding: 0;
    width: 20px;
    height: 20px;
  }

  .vertical-line {
    transition: 0.5s;
    position: absolute;
    background-color: theme.$onyxblacktext;
    width: 2px;
    height: 12px;
    left: 50%;
    margin-left: -1px;
    top: 50%;
    margin-top: -6px;
  }

  .horizontal-line {
    transition: 0.5s;
    position: absolute;
    background-color: theme.$onyxblacktext;
    width: 12px;
    height: 2px;
    left: 50%;
    margin-left: -6px;
    top: 50%;
    margin-top: -1px;
  }

  .horizontal-line.xstate {
    transform: rotate(45deg);
  }

  .vertical-line.xstate {
    transform: rotate(-135deg);
  }

  .search {
    // display: none;
    height: 5vw;
    width: 5vw;
    position: fixed;
    z-index: 101;
    background-color: #ffffff;
    cursor: pointer;
    border: 0;
    border-radius: 0;
    &:hover {
      background-color: #efeff0 !important;
    }
    &:active {
      background-color: #efeff0 !important;
    }
    &:focus {
      background-color: #efeff0;
    }
    &.offset {
      top: 56px;
    }
  }
  .liveEvent {
    right: 7vw;
    position: absolute;
    z-index: 100;
    background-color: #ffffff00;
    cursor: pointer;
    margin-top: 0.8vw;
    color: theme.$onyxblacktext;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 2vw;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    text-decoration: none;
    &:hover {
      color: initial;
    }
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff,
        0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000,
        0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000;
    }
  }
  .logoHouse {
    position: absolute;
    height: 4vw;
  }
  .logoText {
    height: 4vw;
  }
  a.smallNav.nav-link {
    padding: 0 !important;
  }
  .navbar {
    padding: 1px 1px 1px 1px;
  }
  .navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .navbar a {
    padding: 0px;
    color: theme.$onyxblacktext;
    font-size: 1.33vw;
  }
  .smallNav {
    font-size: 1vw !important;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0;
    color: theme.$onyxblacktext;
    padding-bottom: 0vw;
  }
  .bigNav {
    padding: 0px;
    color: theme.$onyxblacktext;
    font-size: 1.33vw !important;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
  }

  .navbar.fixed-left {
    position: absolute;

    left: 0;
    right: 0;
    width: 16vw;
    z-index: 99;
    margin: 0vw;
    top: 0vh;
  }
  .nav-item a {
    padding: 1px 1px 1px 1px;
    font-size: 4vw;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-left: 0px;
    padding-bottom: 1vw;
  }

  .ml-auto.unfix.navbar-nav {
    position: relative;
    top: 100vh;
  }

  .ml-auto.fix.navbar-nav {
    position: fixed;
    top: 30vh;
    left: 2vw;
  }
  .navbar-expander {
    height: 14vh;
  }
}

@media (max-width: 767px) {
  .barOffset {
    margin-top: calc(52px + 1vh);
    padding-top: 10px;
  }
  .expanderButton {
    background-color: #ffffff00 !important;
    position: relative;
    margin: 0;
    margin-left: 8px;
    margin-bottom: 8px;
    border: none !important;
    padding: 0;
    width: 20px;
    height: 20px;
  }

  .vertical-line {
    transition: 0.5s;
    position: absolute;
    background-color: theme.$onyxblacktext;
    width: 2px;
    height: 10px;
    left: 50%;
    margin-left: -1px;
    top: 50%;
    margin-top: -5px;
  }

  .horizontal-line {
    transition: 0.5s;
    position: absolute;
    background-color: theme.$onyxblacktext;
    width: 10px;
    height: 2px;
    left: 50%;
    margin-left: -5px;
    top: 50%;
    margin-top: -1px;
  }

  .horizontal-line.xstate {
    transform: rotate(45deg);
  }

  .vertical-line.xstate {
    transform: rotate(-135deg);
  }

  .search {
    // display: none;
    height: 8vw;
    left: 73vw;
    position: absolute;
    z-index: 100;
    padding-top: 2px;
    top: 5.6vw;
    background-color: #ffffff00;
    cursor: pointer;
    border: 0;
    border-radius: 0;
    &:hover {
      background-color: #efeff0 !important;
    }
    &:active {
      background-color: #efeff0 !important;
    }
    &:focus {
      background-color: #efeff0;
    }
  }
  .navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-left: 15px;
    position: relative;
    top: 0.5rem;
  }
  .logoContainer {
    top: -8px;
    left: 0px;
    position: absolute;
  }
  .logoHouse {
    position: absolute;
    height: 10.4vw;
  }
  .logoText {
    margin: 0vw;
    margin-left: 1vw;
    height: 8vw;
  }
  a.smallNav.nav-link {
    padding: 0 !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .navbar {
    padding: 1px 1px 1px 1px;
  }
  .navbar-toggler {
    position: absolute;
    outline-color: #ffffff00 !important;
    border-color: #ffffff00 !important;
    background-color: #ffffff00 !important;
    left: 86.5vw;
    top: 5.35vw;
    height: 8vw;
    margin: 0vw !important;
    padding: 2px 0px 0px 3px !important;
  }
  .navbar-expander {
    height: 8vw;
  }
  .navbar a {
    padding: 0px;
    color: theme.$onyxblacktext;
  }
  .smallNav {
    font-size: 3.5vw !important;
    margin-left: 30px;
    margin-top: 8px;
    margin-bottom: 3px;
    padding: 0;
    color: theme.$onyxblacktext;
    padding-bottom: 0vw;
    margin: 20px 15px 15px 65px;
  }
  .bigNav {
    padding: 0px;
    color: theme.$onyxblacktext;
    font-size: 4.5vw !important;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    margin: 10px 15px 15px 25px;
  }

  .nav-item a {
    padding: 1px 1px 1px 1px;
    font-size: 4vw;
  }

  .navbar-custom {
    position: fixed;
    background: #ffffff;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 1030;
    padding: 2vw 0 2vw 0;
    top: 0vh;
    height: 19.2vw;
  }
  .navbar-custom.white {
    position: fixed;
    background: #000000 !important;
    left: 0;
    right: 0;
    width: 100vw;
    z-index: 1030;
    padding: 2vw 0 2vw 0 !important;
    top: 0vh;
    height: 19.2vw;
  }
  .navbar.fixed-left {
    position: fixed;
    top: 0vh;
    z-index: 0;
    padding: 0vw;
    height: 0vw;
  }

  .navbar-collapse {
    left: -2vw;
    top: 10vw;
    position: relative;
    background-color: #ffffff;
    width: 102vw;
  }
  .navbar-toggler-icon {
    width: 8vw;
  }
  .navbar-nav {
    margin-bottom: 5vw;
  }
}
