.StepContainer {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  width: 100%;
  padding: 16px;
  transition: all 0.5s;
  opacity: 0;
  border-radius: 16px;

  &.active {
    visibility: visible;
    border-radius: 0;
    opacity: 1;
  }
}
