#set( $sermonId = $ctx.args.sermonId )
{
"version": "2018-05-29",
"method": "GET",
"params": {
    "headers":{
        "Content-Type":"text/html"
    },
        "body":""
},
"resourcePath": "/takenote/api/v1/sermonVerses.php?sermonId=$sermonId"
}