#set( $videoId = $ctx.args.videoId )
{
"version": "2018-05-29",
"method": "GET",
"params": {
    "headers":{
        "Content-Type":"text/html"
    },
        "body":""
},
"resourcePath": "/youtube/v3/captions?videoId=$videoId&part=snippet&maxResults=50&channelId=UCRyI8BJBCTUKhzHEab3hSmw&key=AIzaSyDuy2jmShkFmumJg8eGmgeuiOH69IiUzq0"
}