@import '../../theme';
.DropdownMainContainer {
    padding-top:4px;
    background-color: transparent;
    color:white;
    width:28vw;
    min-width:420px;
    position:absolute;
    right:2vw;
    z-index: 3000;
    display:flex;
    flex-direction: column;
    max-height:50vh;
    padding-bottom:4px;
}
.DropdownFill{
    overflow:auto;
    margin-top:30px;
    min-height:11vh;
    background-color:#1a1a1a;
    max-height:50vh;
}
.Dropdown-appear{
    opacity:0;
}
.Dropdown-appear-active{
    opacity:1;
    transition: opacity 200ms ease-out;
}
.Heading{
    padding-left:8px;
    padding-right:8px;
    text-align: center;
    padding-bottom:0;
    font-family: Graphik Web;
    font-weight: bold;
    color: #ffffff;
    font-size: 2.5vw;
}
.EventItem{
    display:flex;
    flex-direction: row;
    margin-right:24px;
    margin-left:24px;
    margin-top:16px;
}
.EventTime{
    flex-direction: column;
    padding-right:8px;
    margin:auto;
    font-size: calc(0.2vw + 13px);
    font-weight:500;
    width:24%;
    color:#ffffff;
    display:inline;
}
.EventTitle{
    flex-direction: column;
    margin:auto;
    padding-left:12px;
    font-size: calc(0.4vw + 14px);
    padding-right:16px;
    color:#ffffff;
    display:inline;
    flex:1;
}

.triangle {
    width: 0;
    height: 0;
    position:absolute;
    right: calc(50% - 35px);
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 35px solid #1a1a1a;
}
.EventButton{
    flex-direction: column;
    padding-right:1.5vw;
    padding-left:1.5vw;
    min-height:46px;
    height:2.5vw;
    color:#1a1a1a;
    background-color: #ffffff;
    font-weight: 800;
    text-decoration: none;
    margin:auto;
    display: "grid";
    justify-content: "center";
    align-items:"center";
}
.EventFooter{
    padding-top:8px;
    padding-bottom:16px;
    background-color:#1a1a1a;
    font-size: calc(8px + 0.3vw);
    font-weight:600;
    position:relative;
    text-align: center;
    bottom:0;
}
.EventButton:hover{
    text-decoration: none;
    color:black;
}
.close{
    display:none;
}

@media (max-width: 768px) {
    .DropdownMainContainer {
        top:-35px;
        left:0;
        min-width: 100vw;
        position:absolute;
        z-index: 3000;
    }
    .DropdownFill{
        top:0;
        overflow:auto;
        min-height:100vh;
        background-color:#1a1a1a;
    }
    .triangle{
        display:none;
    }
    .Heading{
        text-align:left;
        margin-left:16px;
        font-size: 6vw;
    }
    .EventTitle{
        padding-right:8px;
        margin:auto;
        font-size: 4.5vw;
        color:#ffffff;
        display:inline;
        flex:1;
    }
    .EventTime{
        width:33%;
        padding-right:16px;
        margin:auto;
        font-size:4vw;
        color:#ffffff;
        display:inline;
    }
    .EventButton{
        padding-right:5.5vw;
        padding-left:5.5vw;
        min-height:46px;
        height:2.5vw;
        color:#1a1a1a;
        background-color: #ffffff;
        font-weight: 800;
        text-decoration: none;
        font-family: Graphik Web;
    }
    .close{
        display:unset;
        position:relative;
        right:24px;
        top:24px;
    }
}
  