@import "../../custom.scss";

.ContactLeadersModal {
      .modal-content {
            border-radius: 0;
      }
      .modal-header {
            border-bottom: 0;
            padding-left: 25px;
            .modal-title {
                  font-size: 36px;
                  font-family: Graphik Web;
                  font-weight: bold;
            }

      }
      .modal-body {
            background-color: $white !important;
            padding: 10px 25px 20px !important;
      }

      label {
            font-size: 14px;
            font-family: Graphik Web;
            font-weight: bold;
            margin: 0rem 0 0.25rem;
      }
      input {
            border-radius: 0;
            font-size: 16px;
            padding: 0.75rem 0.75rem;
            height: calc(2.25em + .75rem + 2px);
      }
      textarea {
            border-radius: 0;
            padding: 0.5rem 0.75rem;
            font-size: 16px;
      }
      button {
            border-radius: 0;
            background: $onyxblack !important;
            color: $white;
            border-color: $onyxblack;
            font-family: Graphik Web;
            font-weight: bold;
            font-weight: 600;
            font-size: 14px;
            padding: 0.75rem 1.25rem;
            white-space: nowrap;
            &:hover {
                  background-color: $onyxblacktext;
            }
            &:active {
                  background-color: $onyxblacktext;
            }
      }

      .FooterProgress {
          vertical-align: middle;
          flex-grow: 1;
          font-family: Graphik Web;
          font-weight: 500;
          .spinner-border {
              vertical-align: middle;
          }

      }

      .FooterError {
          color: $crimson;
          flex-grow: 1;
          font-family: Graphik Web;
          vertical-align: middle;
          font-size: 14px;
          font-weight: 500;
      }
  }
  
@media (min-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


}

@media (max-width: 767px) {

}
