.OptionButton {
  background-color: white;
  border: 2px solid #c8c8c8;
  color: black;
  font-size: 24px;
  height: 64px;
  line-height: 32px;
  flex: 1;
  min-width: 115px;
  &.active {
    background-color: black;
    border-color: black;
    color: white;
    input {
      color: white;
    }
    input::placeholder {
      color: white;
      opacity: 0.5;
    }
  }
  input {
    background-color: tomato;
    flex: 1;
    font-size: 24px;
    max-width: 6ch;
    display: flex;
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
  }
}

.OptionButtonContainer {
  display: grid;
  gap: 17px;
  grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
}
