.GENextButton {
  background-color: #1a1a1a;
  height: 56px;
  color: white;
  width: 160px;
  align-self: flex-end;
  font-weight: 700;
}
.GiveContentContainer {
  h1 {
    margin-bottom: 40px;
  }
}
