#set( $user = $ctx.args.user )
#set( $start = $ctx.args.start )
#set( $count = $ctx.args.count )
{
"version": "2018-05-29",
"method": "GET",
"params": {
    "headers":{
        "Content-Type":"text/html"
    },
        "body":""
},
"resourcePath": "/takenote/api/v1/series.php?user=$user&start=$start&count=$count"
}