#set( $videoId = $ctx.args.videoId )
{
"version": "2020-06-20",
"method": "GET",
"params": {
    "headers":{
        "Content-Type":"text/html"
    },
        "body":""
},
"resourcePath": "/youtube/v3/videos?id=$videoId&part=contentDetails&key="
}