#set( $eventId = $ctx.args.eventId )
{
"version": "2018-05-29",
"method": "GET",
"params": {
    "headers":{
        "Content-Type":"text/html"
    },
        "body":""
}, 
"resourcePath": "/v9.0/$eventId?fields=event_times%2Cdescription%2Cend_time%2Cname%2Cplace%2Cstart_time%2Cid%2Ccover%2Cticket_uri%2Conline_event_third_party_url%2Conline_event_format&access_token="
}

