#set( $pageId = $ctx.args.pageId )
#set( $secrets = $util.parseJson($ctx.prev.result).SecretString ) 
#set( $secretFB = $util.parseJson($secrets).facebookToken ) 

{
"version": "2018-05-29",
"method": "GET",
"params": {
    "headers":{
        "Content-Type":"text/html"
    },
        "body":""
}, 
"resourcePath": "/v9.0/$pageId/media?fields=shortcode%2Cpermalink%2Ctimestamp%2cthumbnail_url%2Cmedia_type%2Clike_count%2Ccomments_count%2Ccaption%2Cmedia_url&access_token=$secretFB"
}

