#set( $nextPageToken = $ctx.args.nextPageToken )
{
"version": "2018-05-29",
"method": "GET",
"params": {
    "headers":{
        "Content-Type":"text/html"
    },
        "body":""
},
"resourcePath": "/youtube/v3/playlists?pageToken=$nextPageToken&part=snippet,status,contentDetails&maxResults=50&channelId=UCRyI8BJBCTUKhzHEab3hSmw&key=AIzaSyDuy2jmShkFmumJg8eGmgeuiOH69IiUzq0"
}