.VideoOverlayClose {
  width: 48px;
}

.CloseButton {
  width: 48px;
  height: 48px;
  border: 0;
  background: #ffffff00;
}

.no-scroll {
  overflow-y: hidden !important;
}

.backdrop-white {
  position: fixed;
  background-color: white;
}
@media (min-width: 768px) {
  .modal-content {
    border-radius: 0;
    border: none;
  }

  .modal-video {
    width: 100%;
    max-width: none !important;
    background-color: #000000 !important;
    margin: 0 !important;
  }

  .modal-video .white {
    width: 100%;
    max-width: none !important;
    background-color: #ffffff !important;
    margin: 0 !important;
  }

  .modal-footer {
    width: 100%;
    max-width: none !important;
    background-color: #000000 !important;
    margin: 0 !important;
    border-radius: 0;
    border: none !important;
    height: 10vh;
  }

  .modal-footer .white {
    width: 100%;
    max-width: none !important;
    background-color: #ffffff !important;
    margin: 0 !important;
    height: 10vh;
    border-radius: 0;
    border: none !important;
  }

  .modal-body {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #000000 !important;
  }

  .modal-body .white {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #ffffff !important;
  }
  .VideoOverlayClose,
  .CloseButton {
    position: fixed;
    z-index: 1000;
    top: 1.3vw;
    left: 94.3vw;
  }

  .fade.modal.show {
    padding-left: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .modal-video {
    width: 100%;
    max-width: none !important;
    background-color: #000000 !important;
    margin: 0 !important;
  }

  .modal-video .white {
    width: 100%;
    max-width: none !important;
    background-color: #ffffff !important;
    margin: 0 !important;
  }

  .modal-body {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #000000 !important;
  }

  .modal-body .white {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #ffffff !important;
  }

  .VideoOverlayClose,
  .CloseButton {
    position: fixed;
    z-index: 1000;
    top: 1.3vw;
    left: 94.3vw;
  }

  .modal-content {
    border-radius: 0;
    border: none;
  }

  .modal-footer {
    width: 100%;
    max-width: none !important;
    background-color: #000000 !important;
    margin: 0 !important;
    border-radius: 0;
    border: none !important;
    height: 10vh;
  }

  .modal-footer .white {
    width: 100%;
    max-width: none !important;
    background-color: #ffffff !important;
    margin: 0 !important;
    height: 10vh;
    border-radius: 0;
    border: none !important;
  }

  .fade.modal.show {
    padding-left: 0 !important;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .modal-content {
    border: none;
    border-radius: 0;
  }

  .modal-video {
    width: 100%;
    max-width: none !important;
    background-color: #000000;
    margin: 0 !important;
  }

  .modal-video .white {
    width: 100%;
    max-width: none !important;
    background-color: #ffffff;
    margin: 0 !important;
  }
  .modal-body {
    padding: 0;
    margin: 0 !important;
    background-color: #000000;
  }

  .modal-body .white {
    padding: 0;
    margin: 0 !important;
    background-color: #ffffff;
  }

  .VideoOverlayClose,
  .CloseButton {
    position: fixed;
    z-index: 1041;
    top: 3vw;
    left: 84vw;
  }

  .modal-footer {
    width: 100%;
    max-width: none !important;
    background-color: #000000;
    margin: 0 !important;
    border-radius: 0;
    border: none !important;
    height: 50vh;
  }

  .modal-footer .white {
    width: 100%;
    max-width: none !important;
    background-color: #ffffff;
    margin: 0 !important;
    height: 50vh;
    border-radius: 0;
    border: none !important;
  }

  .fade.modal.show {
    padding-left: 0 !important;
  }
}
.GiveModal {
  .navbar-custom.white {
    background-color: #1a1a1a !important;
  }
  max-width: unset !important;
  margin: 0px;
  min-height: 100% !important;
  .modal-video {
    width: 100% !important;
  }
  .modal-body {
    width: 100% !important;
    margin-top: 0px !important;
    background-color: #1a1a1a !important;
  }
  .modal-footer {
    display: none;
  }
}
