@media (min-width: 768px) {

    .modal-video {
        width: 100%;
        max-width: none !important;
        background-color: #000000 !important;
        margin: 0 !important;
    }

    .modal-video .white {
        width: 100%;
        max-width: none !important;
        background-color: #ffffff !important;
        margin: 0 !important;
    }

    .modal-body {
        padding: 0 !important;
        margin: 0 !important;
        background-color: #000000 !important
    }

    .modal-body .white {
        padding: 0 !important;
        margin: 0 !important;
        background-color: #ffffff !important
    }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .modal-video {
        width: 100%;
        max-width: none !important;
        background-color: #000000 !important;
        margin: 0 !important;
    }

    .modal-video .white {
        width: 100%;
        max-width: none !important;
        background-color: #ffffff !important;
        margin: 0 !important;
    }

    .modal-body {
        padding: 0 !important;
        margin: 0 !important;
        background-color: #000000 !important
    }

    .modal-body .white {
        padding: 0 !important;
        margin: 0 !important;
        background-color: #ffffff !important
    }


}

@media (min-width: 320px) and (max-width: 767px) {

    .modal-video {
        width: 100%;
        max-width: none !important;
        color: #000000;
        margin: 0 !important;
    }

    .modal-video .modal-content {

        background-color: #000000 !important;
    }
}