@import '../../theme';

.AnnouncementBarContainer {
    display:flex;
    justify-content: center;
    align-content: center;
    width:100vw;
    top:0vh;

    height:56px;
    background-color: $goldensun;
    z-index: 300;
    margin:auto;
    cursor: pointer;
}
.bannerMessage{
    text-align: center;
    margin-top:auto;
    margin-bottom:auto;
    font-family: Graphik Web;
    font-weight: 700;
    color:black;
    font-size: 1.3em;
}


@media (max-width: 767px) {
    .AnnouncementBarContainer {
        margin-top:9.1vw;
        height:calc(52px + 1vh);
        position: relative;
    }
    .bannerMessage{
        padding-right:4px;
        padding-left:4px;
        font-size: 1em;
    }
}
  