@import '../../theme.scss';

.LoadingArchivesDiv1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}

.LoadingArchivesText {
    margin-top: 20px;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 20px;
    color: $onyxblacktext;
}

.sk-cube-grid {
    width: 42px;
    height: 42px;
}
  
.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: $onyxblacktext;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
-webkit-animation-delay: 0.2s;
        animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
-webkit-animation-delay: 0.3s;
        animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
-webkit-animation-delay: 0.4s;
        animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
-webkit-animation-delay: 0.1s;
        animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
-webkit-animation-delay: 0.2s;
        animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
-webkit-animation-delay: 0.3s;
        animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
-webkit-animation-delay: 0s;
        animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
-webkit-animation-delay: 0.1s;
        animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
-webkit-animation-delay: 0.2s;
        animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
} 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
}
}

@keyframes sk-cubeGridScaleDelay {
0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
} 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
} 
}

@mixin two-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@mixin one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

@media (min-width: 768px) {
    $width: 18vw;
    $height: $width*(9/16);
    .ArchiveItemDiv1 {
        position: relative;
        z-index: 99;
        left: 20vw;
        width: 80vw;
        top: 3vw;
    }

    .ArchiveItemGrid {
        display: grid;
        grid-template-columns: repeat(4,$width);
        grid-template-rows: auto;
        column-gap: 1vw;
        row-gap: 1vw;
        padding-bottom: 3vw;
    }

    .ArchiveItemVideoThumb {
        width: $width;
        object-fit: cover;
        height: $height;
    }

    .ArchiveItemPlayImageOverlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: $height;
        text-align: center;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease;
        img {
            height: 100%;
        }
    }

    .ArchiveItemVideo {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        position: relative;
        :hover {
            .ArchiveItemPlayImageOverlay {
                opacity: 0.75;
            }
        }
    }

    .ArchiveItemEpisodeNum,
    .ArchiveItemName {
        width: $width;
        font-weight: bold;
        white-space: normal;
        font-family: Graphik Web;
        @include two-line();
        color: $onyxblacktext;
    }

    .ArchiveItemSeriesTitle,
    .ArchiveItemPublishedDate,
    .ArchiveItemYearEpisode {
        width: $width;
        white-space: normal;
        font-family: Graphik Web;
        @include one-line();
        color: $onyxblacktext;
    }

    .ArchiveItemImage2 {
        width: $width;
    }

    .ArchiveItemH1 {
        position: relative;
        left: 0vw;
        width: 80vw;
        color: #1A1A1A;
        font-weight: bold;
        font-size: 3vw;
        font-family: Graphik Web;
    }

    .ArchiveSelectByYear {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 3vw;
        width: 70vw;
    }

    .SelectByYearOption {
        background: $onyxblacktext;
        color: white;
        padding: 7px 16px;
        margin-right: 8px;
        margin-bottom: 4px;
        border-radius: 50px;
        font-family: Graphik Web;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background: #54565A;
        }
    }

    .SelectedYearOption {
        background: white;
        color: $onyxblacktext;
        padding: 6px 15px;
        margin-right: 8px;
        margin-bottom: 4px;
        border-radius: 50px;
        border: 1px $onyxblacktext solid;
        font-family: Graphik Web;
        font-weight: bold;
        cursor: pointer;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    $width: 24vw;
    $height: $width*(9/16);
    .ArchiveItemDiv1 {
        position: relative;
        z-index: 99;
        left: 20vw;
        width: 80vw;
        top: 3vw;
    }

    .ArchiveItemGrid {
        display: grid;
        grid-template-columns: repeat(3,$width);
        grid-template-rows: auto;
        column-gap: 1vw;
        row-gap: 1vw;
        padding-bottom: 4vw;
    }

    .ArchiveItemVideoThumb {
        width: $width;
        object-fit: cover;
        height: $height;
    }

    .ArchiveItemPlayImageOverlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: $height;
        text-align: center;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease;
        img {
            height: 100%;
        }
    }

    .ArchiveItemVideo {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        position: relative;
        :hover {
            .ArchiveItemPlayImageOverlay {
                opacity: 0.75;
            }
        }
    }

    .ArchiveItemEpisodeNum,
    .ArchiveItemName {
        width: $width;
        font-weight: bold;
        white-space: normal;
        font-family: Graphik Web;
        @include two-line();    
        color: $onyxblacktext;
    }

    .ArchiveItemSeriesTitle,
    .ArchiveItemPublishedDate,
    .ArchiveItemYearEpisode {
        width: $width;
        white-space: normal;
        font-family: Graphik Web;
        @include one-line();
        color: $onyxblacktext;
    }

    .ArchiveItemImage2 {
        width: $width;
    }

    .ArchiveItemH1 {
        position: relative;
        left: 0vw;
        width: 80vw;
        color: #1A1A1A;
        font-weight: bold;
        font-size: 5vw;
        font-family: Graphik Web;
    }

    .ArchiveSelectByYear {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 3vw;
        width: 70vw;
    }

    .SelectByYearOption {
        background: $onyxblacktext;
        color: white;
        padding: 7px 16px;
        margin-right: 8px;
        margin-bottom: 4px;
        border-radius: 50px;
        font-family: Graphik Web;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background: #54565A;
        }
    }

    .SelectedYearOption {
        background: white;
        color: $onyxblacktext;
        padding: 6px 15px;
        margin-right: 8px;
        margin-bottom: 4px;
        border-radius: 50px;
        border: 1px $onyxblacktext solid;
        font-family: Graphik Web;
        font-weight: bold;
        cursor: pointer;
    }
}
@media (max-width: 767px) {
    $width: 44vw;
    $height: $width*(9/16);
    .ArchiveItemDiv1 {
        position: relative;
        z-index: 99;
        padding: 10vw 5vw 0vw;
    }

    .ArchiveItemGrid {
        display: grid;
        grid-template-columns: repeat(2,$width);
        grid-template-rows: auto;
        column-gap: 2vw;
        row-gap: 2vw;
        padding-bottom: 6vw;
    }

    .ArchiveItemVideoThumb {
        width: $width;
        margin-right: 1vw;
        object-fit: cover;
        height: $height;
    }

    .ArchiveItemPlayImageOverlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: $height;
        text-align: center;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease;
        img {
            height: 100%;
        }
    }

    .ArchiveItemVideo {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        position: relative;
        :hover {
            .ArchiveItemPlayImageOverlay {
                opacity: 0.75;
            }
        }
    }

    .ArchiveItemEpisodeNum,
    .ArchiveItemName {
        width: $width;
        font-weight: bold;
        white-space: normal;
        font-family: Graphik Web;
        @include two-line();
        color: $onyxblacktext;
    }

    .ArchiveItemSeriesTitle,
    .ArchiveItemPublishedDate,
    .ArchiveItemYearEpisode {
        width: $width;
        white-space: normal;
        font-family: Graphik Web;
        @include one-line();
        color: $onyxblacktext;
    }

    .ArchiveItemImage2 {
        width: $width;
    }

    .ArchiveItemH1 {
        position: relative;
        left: 0vw;
        width: 80vw;
        color: #1A1A1A;
        font-size: 10vw;
        font-weight: 700;
        font-family: Graphik Web;
    }

    .ArchiveSelectByYear {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        padding-bottom: 6vw;
        width: 90vw;
    }

    .SelectByYearOption {
        background: $onyxblacktext;
        color: white;
        padding: 7px 16px;
        margin-right: 8px;
        margin-bottom: 4px;
        border-radius: 50px;
        font-family: Graphik Web;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background: #54565A;
        }
    }

    .SelectedYearOption {
        background: white;
        color: $onyxblacktext;
        padding: 6px 15px;
        margin-right: 8px;
        margin-bottom: 4px;
        border-radius: 50px;
        border: 1px $onyxblacktext solid;
        font-family: Graphik Web;
        font-weight: bold;
        cursor: pointer;
    }
}
