@use '../../theme';

@mixin whiteBlack {
  &.black-blog,
  &.tmh-black {
    color: theme.$onyxblacktext;
  }
  &.white-blog,
  &.tmh-white {
    color: white;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

$preview-image-ratio: 0.745;

.blog-item {
  .suggested-reads-header {
    margin-bottom: 1.5rem;
  }

  .suggested-reads-sub-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .blog-item-link {
    text-decoration: none;
    &:hover,
    &:focus {
      .BlogPreviewTitle {
        text-decoration: underline !important;
      }
    }
  }

  .author-underline {
    color: white;
    &.multiImage {
      color: theme.$onyxblacktext;
    }
  }

  .featured-blog-list-wrapper {
    .HorizontalScrollListItem {
      padding: 0 !important;
    }
  }

  .featured-blog-container {
    &.black-blog {
      background: theme.$onyxblacktext;
    }
    &.white-blog {
      background: theme.$white;
    }
    padding: 136px 0;
    &.less-padding {
      padding-top: 96px;
      padding-bottom: 96px;
    }
  }

  .BlogPreviewTitle {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .BlogPreviewDescription {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .BlogPreviewAuthorDate {
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: theme.$coolgray11;
    &.watch-page-blog,
    &.feat-blog.white-blog {
      color: theme.$coolgray3;
    }
  }

  .BlogPreviewTitle,
  .BlogPreviewAuthor,
  .BlogPreviewDescription {
    white-space: normal !important;
    @include whiteBlack();
    &.watch-page-blog {
      color: theme.$coolgray3;
    }
  }

  .featured-blog-description {
    font-size: 1.25rem;
    line-height: 2rem;
    font-family: Graphik Web;
    font-weight: normal;
    max-width: 700px;
    &.black-blog {
      color: theme.$coolgray3;
    }
    &.white-blog {
      color: theme.$onyxblacktext;
    }
  }

  .blog-blackbox {
    background-color: theme.$onyxblacktext;
    color: white;
  }

  .blog-post-title {
    font-weight: bold;
    color: white;
    font-family: Graphik Web;
  }

  .blogdiv {
    color: theme.$coolgray3;
    font-family: Graphik Web;
  }

  .blogdiv2 {
    font-family: Graphik Web;
  }

  .load-more-suggested-reads {
    font-family: Graphik Web;
    color: white;
    background: transparent;
    font-size: 1rem;
    text-decoration: underline solid white;
    text-underline-offset: 0.4rem;
    border: none !important;
    margin-top: 12px;
  }

  .suggested-reads-item {
    animation: fadeIn ease 1s;
  }

  @media (min-width: 768px) {
    .blog-item-link {
      &:hover,
      &:focus {
        .suggested-blog-arrow {
          transition: 1s;
          transform: translateX(20px);
        }
      }
    }

    .watch-page-suggested-reads {
      margin: 0 10vw 24px;
    }

    .suggested-reads-item {
      display: flex;
      flex-direction: row;
      margin-bottom: 60px;
    }

    .suggested-image {
      width: 120px;
      height: 120px;
    }

    .suggested-text {
      margin-left: 24px;
    }

    .featured-blog-list-wrapper {
      white-space: nowrap;
    }

    .blogauthor {
      font-size: 0.83vw;
      width: 30.625vw;
    }

    .featured-blog-container {
      position: relative;
      width: 80vw;
      left: 20vw;
      margin-bottom: 5vw;
      &.black-blog {
        padding-left: 5vw;
      }
    }

    $featured-width: 28.33vw;

    .featured-blog-item {
      width: $featured-width;
      margin-right: 1.67vw;
    }

    .featured-blog-image {
      width: $featured-width;
      height: $preview-image-ratio * $featured-width;
    }

    .blog-h1 {
      position: relative;
      top: 3vw;
    }

    .blogdiv {
      padding: 0 0.5vw;
    }

    .blog-blackbox {
      top: 10vw;
      position: absolute;
      width: 50vw;
      height: 42vw;
      padding: 7vw 15vw 3vw 3vw;
    }

    .blogdiv2 {
      position: absolute;
      bottom: 6vw;
      padding: 0.5vw;
    }

    .blog-post-title {
      padding: 0.5vw;
      font-size: 1.98rem;
    }

    .blog-image-desktop {
      cursor: pointer;
      position: absolute;
      top: 5vw;
      left: 40vw;
      width: 40vw;
    }

    .blog {
      position: relative;
      left: 20vw;
      width: 80vw;
      height: 55vw;
      padding-bottom: 5vh;
    }

    .blog.multiImage {
      height: auto;
      padding-top: 5vw;
      padding-bottom: 5vw;
    }

    .blog-multiImage-h2 {
      padding-bottom: 2.2vw;
    }

    .blog-banner-image.multiImage {
      width: 38.33vw;
      height: 20.83vw;
      cursor: pointer;
      object-fit: cover;
    }

    .BlogMultiImageItem {
      width: 38.33vw;
      display: inline-flex;
      flex-direction: column;
      margin-right: 1.67vw;
      margin-bottom: 1.67vw;
    }

    .BlogPreviewDescription {
      margin: 2.2vw 0;
      &.watch-page-blog {
        margin: 16px 0 0;
      }
    }

    .BlogPreviewTextContainer {
      padding-top: 2.2vw;
      &.watch-page-blog {
        padding-top: 0;
        margin-left: 24px;
        max-width: 800px;
      }
    }

    .multiImageButton {
      margin-top: 1.67vw;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .blog-post-title {
      font-size: 1.2rem;
    }
    .blogdescription {
      font-size: 0.9rem;
    }
    .blogauthor {
      font-size: 0.7rem;
    }
    .suggested-image {
      width: 160px;
      height: 160px;
    }

    .suggested-reads-item {
      margin-bottom: 48px;
    }

    .featured-blog-container {
      padding: 136px 0 136px 28px;
      &.white-blog {
        padding: 136px 0;
      }
    }

    .featured-blog-list {
      display: flex;
      overflow-x: scroll;
    }

    $featured-width: 45vw;

    .featured-blog-item {
      width: $featured-width;
      margin-right: 3.125vw;
    }

    .featured-blog-image {
      width: $featured-width;
      height: $preview-image-ratio * $featured-width;
    }
  }

  @media (max-width: 767px) {
    .watch-page-suggested-reads {
      margin: 0 5.87vw 56px;
    }

    .load-more-suggested-reads {
      margin-top: 0;
      margin-bottom: 56px;
    }

    .suggested-blog-arrow {
      margin-top: 24px;
    }

    .suggested-image {
      width: 156px;
      height: 156px;
    }

    .suggested-reads-item {
      margin-bottom: 48px;
    }

    .blog-h1 {
      margin-top: 56px;
      margin-bottom: 40px;
      margin-left: 22px;
    }

    $featured-width: 88.5vw;

    .featured-blog-container {
      padding: 136px 5.75vw;
    }

    .featured-blog-item {
      width: $featured-width;
      margin-right: 1.67vw;
    }

    .featured-blog-image {
      width: $featured-width;
      height: $preview-image-ratio * $featured-width;
    }

    .featured-blog-description {
      margin-bottom: 40px;
    }

    .BlogPreviewTextContainer {
      margin-top: 2.2vw;
      padding-bottom: 12.8vw;
      padding-left: 2vw;
      &.feat-blog {
        padding-left: 0;
        margin-top: 28px;
      }
      &.watch-page-blog {
        margin-top: 24px;
        margin-bottom: 0px;
        padding: 0;
      }
    }

    .blog-blackbox {
      position: relative;
      left: 0;
      width: 100vw;
      padding: 12vw 3vw 3vw;
      padding-bottom: 30vw;
    }

    .blogdiv {
      padding: 3vw 2vw;
      font-size: 3.25vw;
    }

    .blogdiv2 {
      margin-top: calc(48px - 3vw);
      margin-bottom: 10vw;
      padding-bottom: 5vw;
      padding-left: 2vw;
    }

    .blog-post-title {
      padding: 0vw 2vw;
      font-size: 2.538rem;
      line-height: 10.7vw;
    }

    .blog-image-mobile {
      cursor: pointer;
      position: relative;
      width: 90%;
      bottom: 10vw;
    }

    .mobile-image-container {
      text-align: center;
      margin-top: -20vw;
      display: block;
    }

    .blog {
      position: relative;
      left: 0vw;
      width: 100vw;
    }

    .blog.multiImage {
      height: auto;
      padding: 10vw 5vw 0vw;
    }

    .blog-multiImage-h2 {
      padding-bottom: 9.6vw;
    }

    .blog-square-image.multiImage {
      width: 88.5vw;
      height: 88.5vw;
      object-fit: cover;
    }

    .BlogMultiImageItem {
      margin-right: 1.67vw;
    }

    .BlogPreviewDescription {
      padding-top: 6.4vw;
      padding-bottom: 12.8vw;
      &.watch-page-blog {
        padding-bottom: 0;
      }
    }

    .BlogPreviewAuthorDate {
      padding-top: 1.2vw;
    }
  }
}
