@use '../../theme';
@use "sass:math";

#portal-root {
  .inline-share {
    position: absolute;
    display: flex;
    flex-direction: column;

    $width: 104px;
    $height: 56px;
    $triangle-size: 12px;

    .button-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background: theme.$onyxblacktext;
      width: $width;
      height: $height;
      .share-button {
        width: math.div($width, 2);
        height: $height;
      }
    }

    .triangle {
      width: 0;
      height: 0;
      border-left: $triangle-size solid transparent;
      border-right: $triangle-size solid transparent;
      border-top: $triangle-size solid theme.$onyxblacktext;
      align-self: center;
    }
  }
}

.blog-reader {
  .download-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 134px;
    height: 56px;
    margin: 0;
    font-size: 16px;
  }

  .blog-body *,
  .notes-body *,
  .questions-body * {
    font-family: Graphik Web !important;
    color: theme.$onyxblacktext !important;
  }

  .blog-body {
    padding-top: 36px;
    padding-bottom: 72px;
    font-family: Graphik Web;
    width: 48.33vw;
    overflow-x: hidden;
    :not(img)::selection,
    :not(img)::-moz-selection {
      background: theme.$goldensun;
    }
  }

  .blog-author {
    color: #1a1a1a;
  }

  .blog-details {
    font-family: Graphik Web;
    color: #54565a;
    font-size: 12px;
  }

  .link-to-main-blog-page {
    font-size: 12px;
    color: #1a1a1a;
    &:hover {
      cursor: pointer;
    }
  }

  @media (min-width: 768px) {
    .blog-content {
      position: relative;
      top: 48px;
      left: 22.5vw;
      width: 75vw;
      padding-bottom: 5vh;
      min-height: 80vh;
    }

    .blog-h1 {
      font-size: 40px;
      margin-top: 12px;
      margin-bottom: 16px;
      font-weight: bold;
      font-family: Graphik Web;
      color: #1a1a1a;
      width: 58vw;
    }

    .notes-body {
      padding-top: 3vw;
      padding-bottom: 1vw;
      font-family: Graphik Web;
      width: 48.33vw;
      overflow-x: hidden;
    }

    .questions-body {
      padding-top: 1vw;
      padding-bottom: 3vw;
      font-family: Graphik Web;
      width: 48.33vw;
      overflow-x: hidden;
    }

    .notes-line {
      border-bottom: black 1px solid;
      width: 48.33vw;
    }

    .button-icon {
      margin-right: 16px;
    }

    .dropdown-toggle:after {
      display: none;
    }

    #share-custom {
      border-radius: 0;
      color: #ffffff;
      background-color: #1a1a1a;
      border-color: #1a1a1a;
      font-family: Graphik Web;
      font-weight: bold;
      width: 134px;
      height: 56px;
      margin-top: 5px;
      box-shadow: none !important;
    }

    .ShareButtonDesktop {
      margin-right: 11.25vw;
      float: right;
    }

    .ShareButtonMobile {
      display: none;
    }

    .social-share-icon {
      margin-right: 20px;
    }

    .ShareMenu {
      border-radius: 0;
    }

    .dropitem {
      width: 200px;
    }

    .dropitem:hover {
      background-color: #c8c8c8;
      border: none;
    }

    .ShareOption {
      text-align: left;
    }

    .dropdown-caret {
      transform: rotate(-90deg) translate(1px);
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .notes-body {
      padding-top: 3vw;
      padding-bottom: 1vw;
      font-family: Graphik Web;
      width: 48.33vw;
      overflow-x: hidden;
    }

    .questions-body {
      padding-top: 1vw;
      padding-bottom: 3vw;
      font-family: Graphik Web;
      width: 48.33vw;
      overflow-x: hidden;
    }

    .notes-line {
      border-bottom: black 1px solid;
      width: 48.33vw;
    }

    .button-icon {
      margin-right: 16px;
    }

    .dropdown-toggle:after {
      display: none;
    }

    #share-custom {
      border-radius: 0;
      color: #ffffff;
      background-color: #1a1a1a;
      border-color: #1a1a1a;
      font-family: Graphik Web;
      font-weight: bold;
      width: 134px;
      height: 56px;
      margin-top: 5px;
      box-shadow: none !important;
    }

    .ShareButtonDesktop {
      margin-right: 11.25vw;
      float: right;
    }

    .ShareButtonMobile {
      display: none;
    }

    .social-share-icon {
      margin-right: 20px;
    }

    .ShareMenu {
      border-radius: 0;
    }

    .dropitem {
      width: 200px;
    }

    .dropitem:hover {
      background-color: #c8c8c8;
      border: none;
    }

    .ShareOption {
      text-align: left;
    }

    .dropdown-caret {
      transform: rotate(-90deg) translate(1px);
    }
  }

  @media (max-width: 767px) {
    .blog-content {
      position: relative;
      top: 60px;
      padding-left: 5.8vw;
      padding-bottom: 24vw;
    }

    .blog-h1 {
      font-size: 32px;
      font-weight: bold;
      font-family: Graphik Web;
      color: #1a1a1a;
      width: 88.5vw;
    }

    .blog-body {
      padding-top: 36px;
      padding-bottom: 0;
      width: 88.5vw;
    }

    .notes-body {
      padding-top: 4vw;
      padding-bottom: 2.5vw;
      font-family: Graphik Web;
      width: 88.5vw;
      overflow-x: hidden;
    }

    .questions-body {
      padding-top: 2.5vw;
      padding-bottom: 4vw;
      font-family: Graphik Web;
      width: 88.5vw;
      overflow-x: hidden;
    }

    .notes-line {
      border-bottom: black 1px solid;
      width: 88.5vw;
    }

    .button-icon {
      margin-right: 16px;
    }

    .dropdown-toggle:after {
      display: none;
    }

    #share-custom {
      border-radius: 0;
      color: #ffffff;
      background-color: #1a1a1a;
      border-color: #1a1a1a;
      font-family: Graphik Web;
      font-weight: bold;
      width: 134px;
      height: 56px;
      margin-top: 5vh;
      box-shadow: none !important;
    }

    .ShareButtonDesktop {
      display: none;
    }

    .ShareButtonMobile {
      left: 5.8vw;
      padding-bottom: 5vh;
    }

    .social-share-icon {
      margin-right: 20px;
    }

    .ShareMenu {
      border-radius: 0;
      width: 175px;
    }

    .dropitem {
      width: 173px;
    }

    .dropitem:hover {
      background-color: #c8c8c8;
      border: none;
    }

    .ShareOption {
      text-align: left;
    }

    .dropdown-caret {
      transform: rotate(-90deg) translate(1px);
    }
  }
}
