@use '../../theme';

@mixin whiteBlack {
  &.black {
    color: theme.$onyxblacktext;
  }
  &.white {
    color: white;
  }
}

$preview-image-ratio: 0.745;

.blog-item {
  .blog-item-link {
    text-decoration: none;
    &:hover,
    &:focus {
      .BlogPreviewTitle {
        text-decoration: underline !important;
      }
    }
  }

  .author-underline {
    color: white;
    &.multiImage {
      color: theme.$onyxblacktext;
    }
  }

  .featured-blog-list-wrapper {
    .HorizontalScrollListItem {
      padding: 0 !important;
    }
  }

  .featured-blog-container {
    &.black {
      background: theme.$onyxblacktext;
    }
    &.white {
      background: theme.$white;
    }
    padding: 136px 0;
    &.less-padding {
      padding: 96px 0;
    }
  }

  .BlogPreviewTitle {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .BlogPreviewDescription {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .BlogPreviewAuthorDate {
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: theme.$coolgray11;
  }

  .BlogPreviewTitle,
  .BlogPreviewAuthor,
  .BlogPreviewDescription {
    white-space: normal !important;
    @include whiteBlack();
  }

  .featured-blog-description {
    font-size: 1.25rem;
    line-height: 2rem;
    font-family: Graphik Web;
    font-weight: normal;
    max-width: 700px;
    &.black {
      color: theme.$coolgray3;
    }
    &.white {
      color: theme.$onyxblacktext;
    }
  }

  .blog-blackbox {
    background-color: theme.$onyxblacktext;
    color: white;
  }

  .blog-post-title {
    font-weight: bold;
    color: white;
    font-family: Graphik Web;
  }

  .blogdiv {
    color: theme.$coolgray3;
    font-family: Graphik Web;
  }

  .blogdiv2 {
    font-family: Graphik Web;
  }

  @media (min-width: 768px) {
    .featured-blog-list-wrapper {
      white-space: nowrap;
    }

    .blogauthor {
      font-size: 0.83vw;
      width: 30.625vw;
    }

    .featured-blog-container {
      position: relative;
      width: 80vw;
      left: 20vw;
      padding-left: 5vw;
      margin-bottom: 5vw;
    }

    $featured-width: 28.33vw;

    .featured-blog-item {
      width: $featured-width;
      margin-right: 1.67vw;
    }

    .featured-blog-image {
      width: $featured-width;
      height: $preview-image-ratio * $featured-width;
    }

    .blog-h1 {
      position: relative;
      top: 3vw;
    }

    .blogdiv {
      padding: 0 0.5vw;
    }

    .blog-blackbox {
      top: 10vw;
      position: absolute;
      width: 50vw;
      height: 42vw;
      padding: 7vw 15vw 3vw 3vw;
    }

    .blogdiv2 {
      position: absolute;
      bottom: 6vw;
      padding: 0.5vw;
    }

    .blog-post-title {
      padding: 0.5vw;
      font-size: 2.2vw;
    }

    .blog-image-desktop {
      cursor: pointer;
      position: absolute;
      top: 5vw;
      left: 40vw;
      width: 40vw;
    }

    .blog {
      position: relative;
      left: 20vw;
      width: 80vw;
      height: 55vw;
      padding-bottom: 5vh;
    }

    .blog.multiImage {
      height: auto;
      padding-bottom: 5vw;
    }

    .blog-multiImage-h2 {
      padding-bottom: 2.2vw;
    }

    .blog-banner-image.multiImage {
      width: 38.33vw;
      height: 20.83vw;
      cursor: pointer;
      object-fit: cover;
    }

    .BlogMultiImageItem {
      width: 38.33vw;
      display: inline-flex;
      flex-direction: column;
      margin-right: 1.67vw;
      margin-bottom: 1.67vw;
    }

    .BlogPreviewDescription {
      margin: 2.2vw 0;
    }

    .BlogPreviewTextContainer {
      padding-top: 2.2vw;
    }

    .multiImageButton {
      margin-top: 1.67vw;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .featured-blog-container {
      padding: 136px 0 136px 28px;
    }

    .featured-blog-list {
      display: flex;
      overflow-x: scroll;
    }

    $featured-width: 45vw;

    .featured-blog-item {
      width: $featured-width;
      margin-right: 3.125vw;
    }

    .featured-blog-image {
      width: $featured-width;
      height: $preview-image-ratio * $featured-width;
    }
  }

  @media (max-width: 767px) {
    .blog-h1 {
      display: none;
    }

    $featured-width: 88.5vw;

    .featured-blog-container {
      padding: 136px 5.75vw;
    }

    .featured-blog-item {
      width: $featured-width;
      margin-right: 1.67vw;
    }

    .featured-blog-image {
      width: $featured-width;
      height: $preview-image-ratio * $featured-width;
    }

    .featured-blog-description {
      margin-bottom: 40px;
    }

    .BlogPreviewTextContainer {
      margin-top: 2.2vw;
      padding-bottom: 12.8vw;
      padding-left: 2vw;
      &.feat {
        padding-left: 0;
        margin-top: 28px;
      }
    }

    .blog-blackbox {
      position: relative;
      top: 16vw;
      left: 0;
      width: 100vw;
      padding: 12vw 3vw 3vw;
      padding-bottom: 30vw;
    }

    .blogdiv {
      padding: 3vw 2vw;
      font-size: 3.25vw;
    }

    .blogdiv2 {
      padding-bottom: 5vw;
      padding-left: 2vw;
    }

    .blog-post-title {
      padding: 0vw 2vw;
      font-size: 8.55vw;
      line-height: 10.7vw;
    }

    .blog-image-mobile {
      cursor: pointer;
      position: relative;
      width: 90%;
      bottom: 10vw;
    }

    .mobile-image-container {
      text-align: center;
      display: block;
    }

    .blog {
      position: relative;
      left: 0vw;
      width: 100vw;
    }

    .blog.multiImage {
      height: auto;
      padding: 10vw 5vw 0vw;
    }

    .blog-multiImage-h2 {
      padding-bottom: 9.6vw;
    }

    .blog-square-image.multiImage {
      width: 88.5vw;
      height: 88.5vw;
      object-fit: cover;
    }

    .BlogMultiImageItem {
      margin-right: 1.67vw;
    }

    .BlogPreviewDescription {
      padding-top: 6.4vw;
      padding-bottom: 12.8vw;
    }

    .BlogPreviewAuthorDate {
      padding-top: 1.2vw;
    }
  }
}
