@use '../../theme';
@use 'sass:math';
.pieText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.downArrow {
  width: 2vw;
  height: 2vw;
  transition: all 1s ease;
}
.downArrow:hover {
  transition: all 1s ease;
  transform: translateY(20px);
}
@media (min-width: 768px) {
  .downArrow {
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
  /*mad*/
  .madContainer {
    display: flex;
    flex-direction: row;
    left: 4vw;
    position: relative;
    margin-top: 3vw;
    max-width: 80%;
    &.madReverse {
      flex-direction: row-reverse;
      max-width: 100%;
      left: 1vw;
      margin-left: -5vw;
    }
  }
  .madContainerDiv1 {
    width: 38vw;
    padding-right: 3vw;
    height: 30vw;
    padding-top: 4vw;
  }
  .madContainerDiv2 {
    padding-right: 0;
    &.madReverse {
      flex: unset;
      padding-left: 0;
      padding-right: 10vw;
    }
  }
  .madPosition {
    position: relative;
    width: 80vw;
    left: 20vw;
    height: 46vw;
    z-index: 100;
  }
  .madH1 {
    font-weight: bold;
    font-size: 3vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
    margin-bottom: 2vw;
  }
  .madText {
    font-size: 1rem;
    font-family: Graphik Web;
    margin-bottom: 1vw;
    color: theme.$coolgray11;
  }
  .madList {
    font-size: 5vw;
    font-family: Graphik Web;
    line-height: 0vw;
  }
  .madrec {
    position: absolute;
    z-index: -1 !important;
    width: 8vw;
    height: 42vw;
    bottom: 3.75vw;
    top: -3.5vw;
    right: 1vw;
    border: solid 16px theme.$onyxblacktext;
    &.madReverse {
      right: unset;
      left: 10vw;
    }
  }
  .madImage {
    height: 35vw;
    width: 35vw;
    background-color: #fff;
    object-fit: cover;
    top: 3.5vw;
  }
  .madA {
    font-size: 1.2vw;
  }
  .madAContainer {
    width: 32vw;
    margin-top: 2px !important;
    height: unset !important;
    text-align: left;
    padding: 0px !important;
    padding-top: 20px !important;
    border: none;
  }
  .madAContainer:hover {
    .madarrow {
      transition: 1s;
      transform: translate(20px);
    }
  }
  .madarrow {
    float: right;
    padding-top: 0px;
    width: clamp(16px, 1.8vw, 24px);
    transition: 1s;
  }
  /* end Mad */
  .pie {
    position: relative;
    text-align: center;
    width: 18.9rem;
    height: 18.9rem;
    margin-top: 1vw;
  }
  .pieText {
    .amount {
      font-size: 2.43rem;
      font-family: Graphik Web;
      font-weight: bold;
      text-align: center;
    }
    .text {
      font-size: 1.26rem;
      font-family: Graphik Web;
    }
  }
  .pie-chart-flex {
    display: flex;
    flex-direction: row;
    padding: 30px 0px;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: #efeff0;
    margin-bottom: 5vw;
    padding-left: 25vw;
  }
  .greyTwoTextTextPieChart {
    margin: 1vw;
    margin-top: 3vw;
    width: 45vw;
    height: 20vw;
    font-size: 1.08rem;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }
  .oneImageText {
    line-height: 2rem;
    margin-bottom: 1.5vw;
    color: theme.$coolgray11;
  }
  .oneImageText.white {
    color: #ffffff;
  }
  .oneImageText.black {
    color: #000;
  }
  .oneImageEventDetails {
    font-family: Graphik Web;
    color: #ffffff;
    font-size: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
  }
  .oneImageAContainer {
    margin-bottom: 0.5vw;
  }
  .oneImageImage {
    position: absolute;
    height: 35vw;
    width: 35vw;
    left: 0vw;
    object-fit: cover;
    top: 2.5vw;
  }
  .oneImageImage.right {
    position: absolute;
    height: 35vw;
    width: 35vw;
    left: 45vw;
    object-fit: cover;
    top: 2.5vw;
  }
  .oneImageYellowBox {
    padding: 10vw;
    padding-top: 8vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 30vw;
    top: 0vw;
    background-color: #ffc60b;
  }
  .oneImageGreyBox {
    padding: 10vw;
    padding-top: 8vw;
    position: relative;
    width: 50vw;
    min-height: 40vw;
    left: 30vw;
    top: 0vw;
    background-color: #efeff0;
  }
  .oneImageGreyBox.right {
    padding: 10vw;
    padding-top: 8vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 0vw;
    top: 0vw;
    background-color: #efeff0;
  }
  .oneImageBlackBox {
    padding: 10vw;
    padding-top: 8vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 30vw;
    top: 0vw;
    background-color: theme.$onyxblacktext;
  }
  .oneImageBlackBox.right {
    padding: 10vw;
    padding-top: 8vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 0vw;
    top: 0vw;
    background-color: theme.$onyxblacktext;
  }
  .oneImageBlackBox.rightExtend {
    padding: 10vw;
    padding-left: 20vw;
    padding-right: 8vw;
    padding-top: 8vw;
    position: relative;
    width: 70vw;
    height: 40vw;
    left: -20vw;
    top: 0vw;
    background-color: theme.$onyxblacktext;
  }
  .oneImageGreenBox {
    padding: 10vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 30vw;
    top: 0vw;
    background-color: #2b583b;
  }
  .oneImageGreenBox.right {
    padding: 10vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 0vw;
    top: 0vw;
    background-color: #2b583b;
  }
  .oneImageH1 {
    font-weight: bold;
    color: theme.$onyxblacktext;
  }
  .oneImageH1.black {
    color: #000;
  }
  .oneImageH1.white {
    color: #ffffff;
  }
  .oneImageH2 {
    font-size: 2vw;
    font-weight: normal;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
    margin-top: 2vw !important;
    margin-bottom: 2vw !important;
  }
  .oneImageH2.black {
    color: #000;
  }
  .oneImageH2.white {
    color: #ffffff;
  }
  .oneImagePosition {
    position: relative;
    left: 20vw;
    width: 80vw;
    z-index: 100;
  }
  .ContentItem.oneImage {
    position: static;
    padding-bottom: 5vw;
  }
  .ContentItem.bannerCards {
    position: relative;
    left: 20vw;
    width: 80vw;
    margin-bottom: 5vw;
  }
  .bannerCardImage {
    $width: 37.67vw;
    width: $width;
    height: math.div(248, 552) * $width;
    margin-right: 1.67vw;
  }
  .greyTwoText {
    left: 0vw;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 120px 64px 120px 0px;
    width: 100%;
    background-color: #efeff0;
  }
  .greyTwoTextH1 {
    flex: 1;
    position: relative;
    font-weight: bold;
    left: 20vw;
    color: theme.$onyxblacktext;
  }
  .greyTwoTextText {
    position: relative;

    flex: 1;
    color: theme.$onyxblacktext;
  }
  .greyTwoTextJustText {
    margin-bottom: 2vw;
  }
  .greyTwoTextJustTextYouth {
    margin-bottom: 1vw;
  }
  .greyTwoClear {
    clear: left;
  }
  .greenTwoText {
    left: 0vw;
    position: relative;
    width: 100vw;
    background-color: #2b583b;
    margin-top: -5vh;
    margin-bottom: 5vw;
  }
  .greenTwoTextH1 {
    position: relative;
    float: left;
    margin: 1vw;
    margin-top: 3vw;
    left: 20vw;
    font-weight: bold;
    width: 30vw;
    height: 20vw;
    font-size: 1.5vw;
    font-family: Graphik Web;
    color: #ffffff;
  }
  .greenTwoTextText {
    left: 20vw;
    position: relative;
    margin: 1vw;
    margin-top: 3vw;
    float: left;
    width: 45vw;
    height: 20vw;
    font-size: 1.2vw;
    font-family: Graphik Web;
    color: #ffffff;
  }
  .greenTwoClear {
    clear: left;
  }
  .contentButton {
    margin-top: 1.5vw !important;
    color: #ffffff !important;
    background-color: theme.$onyxblacktext !important;
    border-radius: 0 !important;
    font-weight: 800 !important;
    font-family: Graphik Web !important;
  }
  .contentButton.white {
    color: theme.$onyxblacktext !important;
    background-color: theme.$white !important;
  }
  .contentButton.yellow {
    color: theme.$onyxblacktext !important;
    background-color: theme.$goldensun !important;
  }
  .oneImageList {
    font-family: Graphik Web;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .oneImageAContainer {
    margin-bottom: 0.2vw;
    height: 2.2vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .oneImageText {
    margin-bottom: 1vw;
  }
  .pie {
    width: 13rem;
    height: 13rem;
  }
  .pieText {
    .amount {
      font-size: 1.5rem;
    }
    .text {
      font-size: 1rem;
    }
  }
  .greyTwoTextTextPieChart {
    font-size: 0.9rem;
  }
  .oneImageH1 {
    font-size: 1.75rem;
  }
  .oneImageText {
    line-height: 1.5rem;
    font-size: 0.75rem;
    color: theme.$coolgray11;
  }
  .oneImageEventDetails {
    font-family: Graphik Web;
    color: #ffffff;
    font-size: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
  }
  .oneImageText.white {
    color: #ffffff;
  }
  .oneImageText.black {
    color: #000;
  }
  .oneImageA {
    font-size: 0.75rem;
    color: theme.$onyxblacktext;
    &:hover {
      color: inherit;
      text-decoration: inherit;
    }
  }
  .oneImageAContainer {
    margin-bottom: 0.2vw;
  }
  .oneImageImage {
    position: absolute;
    height: 35vw;
    width: 35vw;
    left: 0vw;
    object-fit: cover;
    top: 2.5vw;
  }
  .oneImageImage.right {
    position: absolute;
    height: 35vw;
    width: 35vw;
    left: 45vw;
    object-fit: cover;
    top: 2.5vw;
  }
  .oneImageYellowBox {
    padding: 10vw;
    padding-top: 8vw;
    position: relative;
    width: 50vw;
    left: 30vw;
    top: 0vw;
    background-color: #ffc60b;
  }
  .oneImageGreyBox {
    padding: 10vw;
    padding-top: 8vw;
    position: relative;
    width: 50vw;
    left: 30vw;
    top: 0vw;
    background-color: #efeff0;
  }
  .oneImageGreyBox.right {
    padding: 10vw;
    padding-top: 8vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 0vw;
    top: 0vw;
    background-color: #efeff0;
  }
  .oneImageBlackBox {
    padding: 10vw;
    padding-top: 8vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 30vw;
    top: 0vw;
    background-color: theme.$onyxblacktext;
  }
  .oneImageBlackBox.right {
    padding: 10vw;
    padding-top: 8vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 0vw;
    top: 0vw;
    background-color: theme.$onyxblacktext;
  }
  .oneImageGreenBox {
    padding: 10vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 30vw;
    top: 0vw;
    background-color: #2b583b;
  }
  .oneImageGreenBox.right {
    padding: 10vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 0vw;
    top: 0vw;
    background-color: #2b583b;
  }
  .oneImageH1 {
    font-weight: bold;
    color: theme.$onyxblacktext;
  }
  .oneImageH1.white {
    color: #ffffff;
  }
  .oneImageH2 {
    font-size: 2vw;
    font-weight: normal;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
    margin-top: 2vw !important;
    margin-bottom: 2vw !important;
  }
  .oneImageH2.white {
    color: #ffffff;
  }
  .oneImagePosition {
    position: relative;
    left: 20vw;
    width: 80vw;
    z-index: 100;
  }
  .ContentItem.oneImage {
    position: static;
    padding-bottom: 5vw;
  }
  .greyTwoText {
    left: 0vw;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .greyTwoTextH1 {
    flex: 1;
    position: relative;
    font-weight: bold;
    left: 20vw;
    color: theme.$onyxblacktext;
  }
  .greyTwoTextText {
    position: relative;
    font-size: 0.75rem;
    float: left;
    color: theme.$onyxblacktext;
  }
  .greyTwoTextJustText {
    margin-bottom: 2vw;
  }
  .greyTwoTextJustTextYouth {
    margin-bottom: 1vw;
  }
  .greyTwoClear {
    clear: left;
  }
  .greenTwoText {
    left: 0vw;
    position: relative;
    width: 100vw;
    background-color: #2b583b;
    margin-top: -5vh;
    margin-bottom: 5vw;
  }
  .greenTwoTextH1 {
    position: relative;
    float: left;
    margin: 1vw;
    margin-top: 3vw;
    left: 20vw;
    font-weight: bold;
    width: 30vw;
    height: 20vw;
    font-size: 1.5vw;
    font-family: Graphik Web;
    color: #ffffff;
  }
  .greenTwoTextText {
    left: 20vw;
    position: relative;
    margin: 1vw;
    margin-top: 3vw;
    float: left;
    width: 45vw;
    height: 20vw;
    font-size: 1.2vw;
    font-family: Graphik Web;
    color: #ffffff;
  }
  .greenTwoClear {
    clear: left;
  }
  .contentButton {
    margin-top: 1.5vw !important;
    color: #ffffff !important;
    background-color: theme.$onyxblacktext !important;
    border-radius: 0 !important;
    font-weight: 800 !important;
    font-family: Graphik Web !important;
  }
  .contentButton.white {
    color: theme.$onyxblacktext !important;
    background-color: theme.$white !important;
  }
  .contentButton.yellow {
    color: theme.$onyxblacktext !important;
    background-color: theme.$goldensun !important;
  }
}

@media (max-width: 767px) {
  .oneImageText {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  /*mad */
  .downArrow {
    width: 5vw;
    height: 5vw;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .madContainer {
    flex-direction: column-reverse;
    display: flex;
    padding-bottom: 136px;
  }
  .madPosition {
    position: relative;
    left: 5vw;
    width: 90vw;
    z-index: 100;
  }
  .madH1 {
    font-weight: bold;
    font-size: 6vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
    margin-bottom: 6vw;
  }
  .madText {
    font-size: 1rem;
    font-family: Graphik Web;
    margin-bottom: 1vw;
    color: theme.$coolgray11;
  }
  .madList {
    font-size: 5vw;
    margin-left: -6.4vw;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-family: Graphik Web;
    line-height: 0vw;
    cursor: pointer;
    &:hover {
      .madarrow {
        float: right;
      }
    }
  }
  .madrec {
    margin-top: 25vw;
    margin-bottom: 12vw;
    position: relative;
    left: 25vw;
    width: 70vw;
    height: 24vw;
    border: solid 16px theme.$onyxblacktext;
    border-right: 0vw;
  }
  .madImage {
    display: none;
  }
  .madA {
    font-size: 1.2vw;
  }
  .madAContainer {
    text-align: left;
    padding-bottom: 0px !important;
    padding-top: 20px !important;
    top: 6vw;
    left: 0vw;
    width: 100vw;
    border: none;
  }
  .madarrow {
    float: right;
    width: 24px;
  }
  /* mad */
  .one-image-calendar {
    margin-top: 24px;
  }
  .pie {
    position: relative;
    text-align: center;
    width: 75vw;
    height: 75vw;
  }
  .pieText {
    .amount {
      font-size: 2.969rem;
      font-family: Graphik Web;
      font-weight: bold;
      text-align: center;
      line-height: 4rem;
    }
    .text {
      font-size: 1.633rem;
      font-family: Graphik Web;
    }
  }
  .pie-chart-flex {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    width: 100vw;
    background-color: #efeff0;
    padding: 5vw 0;
  }
  .greyTwoTextTextPieChart {
    position: relative;
    text-align: center;
    margin: 5vw 0 10vw;
    width: 90%;
    font-size: 5vw;
    line-height: 7.5vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }
  .oneImageText {
    color: theme.$coolgray11;
  }
  .oneImageText.white {
    color: #ffffff;
  }
  .oneImageText.black {
    color: #000;
  }
  .oneImageA {
    font-size: 1rem;
    font-family: Graphik Web;
    margin-top: 30px;
    display: inline-block;
    &:hover {
      color: inherit;
      text-decoration: inherit;
    }
  }
  .oneImageImage {
    position: absolute;
    height: 90vw;
    width: 90vw;
    left: 5vw;
    object-fit: cover;
    top: -60vw;
    padding-top: 20vw;
  }
  .extramrg {
    margin-top: 20vw;
  }
  .oneImageImage.right {
    position: relative;
    height: unset;
    width: 90vw;
    left: 5vw;
    object-fit: cover;
    bottom: 0vw;
    padding-top: 20vw;
    margin-bottom: -60vw;
  }
  .secondImg {
    position: relative;
  }
  .oneImageYellowBox {
    margin-top: 55vw;
    padding: 40vw 6vw 10vw;
    position: relative;
    width: 100vw;
    left: 0vw;
    top: 0vw;
    background-color: #ffc60b;
  }
  .oneImageGreyBox {
    margin-top: 55vw;
    padding: 40vw 6vw 10vw;
    position: relative;
    width: 100vw;
    left: 0vw;
    top: 0vw;
    background-color: #efeff0;
  }
  .oneImageBlackBox {
    padding: 6vw;
    padding-top: 20vw;
    position: relative;
    width: 100vw;
    padding-bottom: 65vw;
    left: 0vw;
    top: 0vw;
    background-color: theme.$onyxblacktext;
  }
  .oneImageBlackBox.right {
    padding: 6vw;
    padding-top: 20vw;
    padding-bottom: 60vw;
    position: relative;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: theme.$onyxblacktext;
  }
  .oneImageGreenBox {
    padding: 6vw;
    padding-top: 20vw;
    position: relative;
    width: 100vw;
    padding-bottom: 65vw;
    left: 0;
    top: 0;
    background-color: #2b583b;
  }
  .oneImageH1 {
    font-weight: bold;
    color: theme.$onyxblacktext;
  }
  .oneImageEventDetails {
    font-family: Graphik Web;
    color: #ffffff;
    font-size: 3vw;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
  }
  .oneImageH1.white {
    color: #ffffff;
  }
  .oneImageH2 {
    font-size: 7.5vw;
    font-weight: normal;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }
  .oneImageH2.white {
    color: #ffffff;
  }
  .oneImagePosition {
    position: relative;
    left: 0vw;
    width: 100vw;
    z-index: 100;
  }
  .ContentItem.oneImage {
    position: static;
    display: relative;
  }
  .ContentItem.bannerCards {
    position: relative;
    width: 80vw;
    padding: 10vw 5vw 0vw;
  }
  .bannerCardImage {
    $width: 90vw;
    width: $width;
    height: math.div(248, 552) * $width;
    margin-bottom: 6.4vw;
  }
  .ContentItemMarginBottom {
    margin-bottom: 0vw;
  }
  .goRegionalEventsMarginBottom {
    margin-bottom: 30vw;
  }
  .greyTwoText {
    padding: 5vw;
    position: relative;
    background-color: #efeff0;
  }
  .greyTwoTextH1 {
    margin-top: 60px;
    position: relative;
    font-weight: bold;
    font-size: 1.75rem;
    color: theme.$onyxblacktext;
  }
  .greyTwoTextText {
    margin-bottom: 60px;
    margin-top: 40px;
    position: relative;
    float: left;
    width: 90%;
    line-height: 2rem;
    color: theme.$onyxblacktext;
  }
  .greyTwoClear {
    clear: left;
  }
  .greenTwoText {
    left: 0vw;
    position: relative;
    width: 100vw;
    background-color: #2b583b;
    margin-bottom: 5vw;
  }
  .greenTwoTextH1 {
    position: relative;
    float: left;
    margin: 1vw;
    margin-top: 16vw;
    margin-bottom: 10vw;
    left: 5vw;
    font-weight: bold;
    width: 93vw;
    height: 20vw;
    font-size: 6.4vw;
    font-family: Graphik Web;
    color: #ffffff;
  }
  .greenTwoTextText {
    left: 5vw;
    position: relative;
    margin: 1vw;
    margin-top: 3vw;
    margin-bottom: 100%;
    float: left;
    width: 90%;
    height: 35vw;
    font-size: 5vw;
    line-height: 7.5vw;
    font-family: Graphik Web;
    color: #ffffff;
  }
  .greenTwoClear {
    clear: left;
  }
  .bottom {
    top: unset;
    bottom: -40vw;
  }
  .contentButton {
    margin-top: 5vw !important;
    color: #ffffff !important;
    background-color: theme.$onyxblacktext !important;
    border-radius: 0 !important;
    font-weight: 800 !important;
    font-family: Graphik Web !important;
  }
  .contentButton.white {
    color: theme.$onyxblacktext !important;
    background-color: theme.$white !important;
  }
  .contentButton.yellow {
    color: theme.$onyxblacktext !important;
    background-color: theme.$goldensun !important;
  }
  .oneImageList {
    font-size: 5vw;
    font-family: Graphik Web;
    line-height: 7.5vw;
  }
}
