@media (min-width: 768px) {
    .oneImageText{
        font-size: 1.5vw;
        font-family:Graphik Web;
    }
    .oneImageText.white{
        color:#ffffff;
    }
    .oneImageA{
        font-size: 1.5vw;
        font-family:Graphik Web;

    }
    .oneImageImage{
        position: absolute;
        height: 35vw;
        width:35vw;
        left: 0vw;
        object-fit:cover;
        top: 2.5vw;
       // box-shadow: '0px 20px 40px rgba(26, 26, 26, 0.16)';
    }
    .oneImageImage.right{
        position: absolute;
        height: 35vw;
        width:35vw;
        left: 45vw;
        object-fit:cover;
        top: 2.5vw;
       // box-shadow: '0px 20px 40px rgba(26, 26, 26, 0.16)';
    }
    .oneImageGreyBox{
        padding: 10vw;
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 30vw;
        top: 0vw;
        background-color: #EFEFF0;
    }
    .oneImageGreyBox.right{
        padding: 10vw;
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 0vw;
        top: 0vw;
        background-color: #EFEFF0;
    }
    .oneImageBlackBox{
        padding: 10vw;
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 30vw;
        top: 0vw;
        background-color: #000000;
    }
    .oneImageBlackBox.right{
        padding: 10vw;
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 0vw;
        top: 0vw;
        background-color: #000000;
    }
    .oneImageH1{
        font-weight: bold;
        font-size: 3vw;
        font-family:Graphik Web;
    }
    .oneImageH1.white{
        color:#ffffff;
    }
    .oneImagePosition{
        position: relative;
        left:20vw;
        width:80vw;
        z-index: 100;
    }
    .ContentItem.oneImage {
        position: static;
        padding-bottom: 5vw;
    }
    .greyTwoText{
        left:0vw;
        position:relative;
        width:100vw;
        background-color:#EFEFF0;
        margin-top:-5vh;
        margin-bottom: 5vw;
    }
    .greyTwoTextH1{
        position:relative;
        float:left;
        margin:1vw;
        margin-top:3vw;
        left:20vw;
        font-weight:bold;
        width:30vw;
        height:20vw;
        font-size: 1.5vw;
        font-family:Graphik Web;
    }
    .greyTwoTextText{
        left:20vw;
        position:relative;
        margin:1vw;
        margin-top:3vw;

        float:left;
        width:45vw;
        height:20vw;
        font-size: 1.2vw;
        font-family:Graphik Web;
    }
    .greyTwoClear{
        clear:left;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .oneImageText{
        font-size: 1.5vw;
        font-family:Graphik Web;
    }
    .oneImageText.white{
        color:#ffffff;
    }
    .oneImageA{
        font-size: 1.5vw;
        font-family:Graphik Web;

    }
    .oneImageImage{
        position: absolute;
        height: 35vw;
        width:35vw;
        left: 0vw;
        object-fit:cover;
        top: 2.5vw;
     //   box-shadow: '0px 20px 40px rgba(26, 26, 26, 0.16)';
    }
    .oneImageImage.right{
        position: absolute;
        height: 35vw;
        width:35vw;
        left: 45vw;
        object-fit:cover;
        top: 2.5vw;
     //   box-shadow: '0px 20px 40px rgba(26, 26, 26, 0.16)';
    }
    .oneImageGreyBox{
        padding: 10vw;
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 30vw;
        top: 0vw;
        background-color: #EFEFF0;
    }
    .oneImageGreyBox.right{
        padding: 10vw;
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 0vw;
        top: 0vw;
        background-color: #EFEFF0;
    }
    .oneImageBlackBox{
        padding: 10vw;
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 30vw;
        top: 0vw;
        background-color: #000000;
    }
    .oneImageBlackBox.right{
        padding: 10vw;
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 0vw;
        top: 0vw;
        background-color: #000000;
    }
    .oneImageH1{
        font-weight: bold;
        font-size: 3vw;
        font-family:Graphik Web;
    }
    .oneImageH1.white{
        color:#ffffff;
    }
    .oneImagePosition{
        position: relative;
        left:20vw;
        width:80vw;
        z-index: 100;
    }
    .ContentItem.oneImage {
        position: static;
        padding-bottom: 5vw;
    }

    .greyTwoText{
        left:0vw;
        position:relative;
        width:100vw;
        background-color:#EFEFF0;
        margin-top:-5vh;
        margin-bottom: 5vw;
    }
    .greyTwoTextH1{
        position:relative;
        float:left;
        margin:1vw;
        margin-top:3vw;
        left:20vw;
        font-weight:bold;
        width:30vw;
        height:20vw;
        font-size: 1.5vw;
        font-family:Graphik Web;
    }
    .greyTwoTextText{
        left:20vw;
        position:relative;
        margin:1vw;
        margin-top:3vw;

        float:left;
        width:45vw;
        height:20vw;
        font-size: 1.2vw;
        font-family:Graphik Web;
    }
    .greyTwoClear{
        clear:left;
    }
}

@media (max-width: 767px) {
    .oneImageText{
        font-size: 5vw;
        font-family:Graphik Web;
        line-height: 7.5vw;
    }
    .oneImageText.white{
        color:#ffffff;
    }
    .oneImageA{
        font-size: 5vw;
        font-family:Graphik Web;
        line-height: 7.5vw;
        margin-top: 13vw;
        display: inline-block;

    }
    .oneImageImage{
        position: absolute;
        height: 90vw;
        width:90vw;
        left: 5vw;
        object-fit:cover;
        top: -60vw;
        padding-top: 20vw;
      //  box-shadow: '0px 20px 40px rgba(26, 26, 26, 0.16)';
    }
    .secondImg {
      top: 125vw;
    }
    .oneImageGreyBox{
        margin-top:60vw;
        padding: 40vw 6vw 10vw;
        position: relative;
        width: 100vw;
        height: 145vw;
        left: 0vw;
        top: 0vw;
        background-color: #EFEFF0;
    }
    .oneImageBlackBox{
        // margin-top:20vw;
        padding: 6vw;
        padding-top:20vw;
        position: relative;
        width: 100vw;
        height: 175vw;
        left: 0vw;
        top: 0vw;
        background-color: #000000;
    }
    .oneImageH1{
        font-weight: bold;
        font-size: 10vw;
        font-family:Graphik Web;
        line-height: 12.5vw;
    }
    .oneImageH1.white{
        color:#ffffff;
    }
    .oneImagePosition{
        position: relative;
        left:0vw;
        width:100vw;
        z-index: 100;
    }

    .ContentItem.oneImage {
        position: static;
        // padding-bottom: 5vw;
        // padding-top: 45vw;
        display: relative;
    }
    .ContentItemMarginBottom {
      margin-bottom: 85vw;
    }

    .greyTwoText{
        left:0vw;
        position:relative;
        width:100vw;
        background-color:#EFEFF0;
        margin-top:-5vh;
        margin-bottom: 5vw;
    }
    .greyTwoTextH1{
        position:relative;
        float:left;
        margin:1vw;
        margin-top:3vw;
        left:20vw;
        font-weight:bold;
        width:30vw;
        height:20vw;
        font-size: 1.5vw;
        font-family:Graphik Web;
    }
    .greyTwoTextText{
        left:20vw;
        position:relative;
        margin:1vw;
        margin-top:3vw;

        float:left;
        width:45vw;
        height:20vw;
        font-size: 1.2vw;
        font-family:Graphik Web;
    }
    .greyTwoClear{
        clear:left;
    }
}
