@use '../../theme';

.pieText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

@media (min-width: 768px) {
  .madPosition {
    position: relative;
    left: 20vw;
    width: 80vw;
    height: 46vw;
    z-index: 100;
  }

  .madH1 {
    font-weight: bold;
    font-size: 3vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
    margin-bottom: 2vw;
  }

  .madText {
    font-size: 1.2vw;
    font-family: Graphik Web;
    margin-bottom: 1vw;
    color: theme.$coolgray11;
  }

  .madList {
    font-size: 5vw;
    font-family: Graphik Web;
    line-height: 0vw;
  }

  .madcontainer {
    position: relative;
    width: 28vw;
    height: 30vw;
    left: 4vw;
    top: 8vw;
  }

  .madrec {
    position: absolute;
    right: 15vw;
    width: 8vw;
    bottom: 3.75vw;
    top: 0vw;
    border: solid 16px theme.$onyxblacktext;
  }

  .madImage {
    position: absolute;
    height: 35vw;
    width: 35vw;
    left: 40vw;
    object-fit: cover;
    top: 3.5vw;
  }

  .madA {
    font-size: 1.2vw;
  }

  .madAContainer {
    text-align: left;
    top: -3vw;
    left: 3vw;
    width: 28vw;
    border: none;
    margin: -3.3vw;
  }

  .madAContainer:hover {
    .madarrow {
      transition: 1s;
      transform: translate(20px);
    }
  }

  .madarrow {
    float: right;
    padding-top: 0px;
    width: 24px;
    transition: 1s;
  }

  .pie {
    position: relative;
    text-align: center;
    width: 21vw;
    height: 21vw;
    margin-top: 1vw;
  }

  .pieText {
    .amount {
      font-size: 2.7vw;
      font-family: Graphik Web;
      font-weight: bold;
      text-align: center;
    }

    .text {
      font-size: 1.4vw;
      font-family: Graphik Web;
    }
  }

  .pie-chart-flex {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    width: 100vw;
    background-color: #efeff0;
    margin-bottom: 5vw;
    padding-left: 25vw;
  }

  .greyTwoTextTextPieChart {
    margin: 1vw;
    margin-top: 3vw;
    width: 45vw;
    height: 20vw;
    font-size: 1.2vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .oneImageText {
    font-size: 1.2vw;
    font-family: Graphik Web;
    margin-bottom: 1.5vw;
    color: theme.$coolgray11;
  }

  .oneImageText.white {
    color: #ffffff;
  }

  .oneImageEventDetails {
    font-family: Graphik Web;
    color: #ffffff;
    font-size: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
  }

  .oneImageA {
    font-size: 1.2vw;
  }

  .oneImageAContainer {
    margin-bottom: 0.5vw;
  }

  .oneImageImage {
    position: absolute;
    height: 35vw;
    width: 35vw;
    left: 0vw;
    object-fit: cover;
    top: 2.5vw;
  }

  .oneImageImage.right {
    position: absolute;
    height: 35vw;
    width: 35vw;
    left: 45vw;
    object-fit: cover;
    top: 2.5vw;
  }

  .oneImageGreyBox {
    padding: 10vw;
    padding-top: 8vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 30vw;
    top: 0vw;
    background-color: #efeff0;
  }

  .oneImageGreyBox.right {
    padding: 10vw;
    padding-top: 8vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 0vw;
    top: 0vw;
    background-color: #efeff0;
  }

  .oneImageBlackBox {
    padding: 10vw;
    padding-top: 8vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 30vw;
    top: 0vw;
    background-color: theme.$onyxblacktext;
  }

  .oneImageBlackBox.right {
    padding: 10vw;
    padding-top: 8vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 0vw;
    top: 0vw;
    background-color: theme.$onyxblacktext;
  }
  .oneImageGreenBox {
    padding: 10vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 30vw;
    top: 0vw;
    background-color: #2b583b;
  }

  .oneImageGreenBox.right {
    padding: 10vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 0vw;
    top: 0vw;
    background-color: #2b583b;
  }
  .oneImageH1 {
    font-weight: bold;
    font-size: 3vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .oneImageH1.white {
    color: #ffffff;
  }

  .oneImageH2 {
    font-size: 2vw;
    font-weight: normal;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
    margin-top: 2vw !important;
    margin-bottom: 2vw !important;
  }

  .oneImageH2.white {
    color: #ffffff;
  }

  .oneImagePosition {
    position: relative;
    left: 20vw;
    width: 80vw;
    z-index: 100;
  }

  .ContentItem.oneImage {
    position: static;
    padding-bottom: 5vw;
  }

  .ContentItem.bannerCards {
    position: relative;
    left: 20vw;
    width: 80vw;
    margin-bottom: 5vw;
  }

  .bannerCardImage {
    $width: 37.67vw;
    width: $width;
    height: (248/552) * $width;
    margin-right: 1.67vw;
  }

  .greyTwoText {
    left: 0vw;
    position: relative;
    width: 100vw;
    background-color: #efeff0;
    margin-top: -5vh;
    margin-bottom: 5vw;
  }

  .greyTwoTextH1 {
    position: relative;
    float: left;
    margin: 1vw;
    margin-top: 3vw;
    left: 20vw;
    font-weight: bold;
    width: 30vw;
    height: 20vw;
    font-size: 1.5vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .greyTwoTextText {
    left: 20vw;
    position: relative;
    margin: 1vw;
    margin-top: 3vw;
    float: left;
    width: 42vw;
    height: 20vw;
    font-size: 1.2vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .greyTwoTextJustText {
    margin-bottom: 2vw;
  }
  .greyTwoTextJustTextYouth {
    margin-bottom: 1vw;
  }

  .greyTwoClear {
    clear: left;
  }

  .greenTwoText {
    left: 0vw;
    position: relative;
    width: 100vw;
    background-color: #2b583b;
    margin-top: -5vh;
    margin-bottom: 5vw;
  }

  .greenTwoTextH1 {
    position: relative;
    float: left;
    margin: 1vw;
    margin-top: 3vw;
    left: 20vw;
    font-weight: bold;
    width: 30vw;
    height: 20vw;
    font-size: 1.5vw;
    font-family: Graphik Web;
    color: #ffffff;
  }

  .greenTwoTextText {
    left: 20vw;
    position: relative;
    margin: 1vw;
    margin-top: 3vw;

    float: left;
    width: 45vw;
    height: 20vw;
    font-size: 1.2vw;
    font-family: Graphik Web;
    color: #ffffff;
  }

  .greenTwoClear {
    clear: left;
  }
  .contentButton {
    margin-top: 1.5vw !important;
    color: #ffffff !important;
    background-color: theme.$onyxblacktext !important;
    border-radius: 0 !important;
    font-weight: 800 !important;
    font-family: Graphik Web !important;
  }
  .oneImageList {
    font-family: Graphik Web;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .oneImageAContainer {
    margin-bottom: 0.2vw;
    height: 2.2vw;
  }

  .oneImageA {
    font-size: 1vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .oneImageText {
    font-size: 1.2vw;
    font-family: Graphik Web;
    color: theme.$coolgray11;
  }
  .oneImageEventDetails {
    font-family: Graphik Web;
    color: #ffffff;
    font-size: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
  }
  .oneImageText.white {
    color: #ffffff;
  }

  .oneImageA {
    font-size: 1.2vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;

    &:hover {
      color: inherit;
      text-decoration: inherit;
    }
  }

  .oneImageAContainer {
    margin-bottom: 0.2vw;
  }

  .oneImageImage {
    position: absolute;
    height: 35vw;
    width: 35vw;
    left: 0vw;
    object-fit: cover;
    top: 2.5vw;
  }

  .oneImageImage.right {
    position: absolute;
    height: 35vw;
    width: 35vw;
    left: 45vw;
    object-fit: cover;
    top: 2.5vw;
  }

  .oneImageGreyBox {
    padding: 10vw;
    padding-top: 8vw;
    position: relative;
    width: 50vw;
    left: 30vw;
    top: 0vw;
    background-color: #efeff0;
  }

  .oneImageGreyBox.right {
    padding: 10vw;
    padding-top: 8vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 0vw;
    top: 0vw;
    background-color: #efeff0;
  }

  .oneImageBlackBox {
    padding: 10vw;
    padding-top: 8vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 30vw;
    top: 0vw;
    background-color: theme.$onyxblacktext;
  }

  .oneImageBlackBox.right {
    padding: 10vw;
    padding-top: 8vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 0vw;
    top: 0vw;
    background-color: theme.$onyxblacktext;
  }
  .oneImageGreenBox {
    padding: 10vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 30vw;
    top: 0vw;
    background-color: #2b583b;
  }

  .oneImageGreenBox.right {
    padding: 10vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 0vw;
    top: 0vw;
    background-color: #2b583b;
  }
  .oneImageH1 {
    font-weight: bold;
    font-size: 3vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .oneImageH1.white {
    color: #ffffff;
  }

  .oneImageH2 {
    font-size: 2vw;
    font-weight: normal;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
    margin-top: 2vw !important;
    margin-bottom: 2vw !important;
  }

  .oneImageH2.white {
    color: #ffffff;
  }

  .oneImagePosition {
    position: relative;
    left: 20vw;
    width: 80vw;
    z-index: 100;
  }

  .ContentItem.oneImage {
    position: static;
    padding-bottom: 5vw;
  }

  .greyTwoText {
    left: 0vw;
    position: relative;
    width: 100vw;
    background-color: #efeff0;
    margin-top: -5vh;
    margin-bottom: 5vw;
  }

  .greyTwoTextH1 {
    position: relative;
    float: left;
    margin: 1vw;
    margin-top: 3vw;
    left: 20vw;
    font-weight: bold;
    width: 30vw;
    height: 20vw;
    font-size: 1.5vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .greyTwoTextText {
    left: 20vw;
    position: relative;
    margin: 1vw;
    margin-top: 3vw;

    float: left;
    width: 45vw;
    height: 20vw;
    font-size: 1.2vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .greyTwoTextJustText {
    margin-bottom: 2vw;
  }
  .greyTwoTextJustTextYouth {
    margin-bottom: 1vw;
  }
  .greyTwoClear {
    clear: left;
  }

  .greenTwoText {
    left: 0vw;
    position: relative;
    width: 100vw;
    background-color: #2b583b;
    margin-top: -5vh;
    margin-bottom: 5vw;
  }

  .greenTwoTextH1 {
    position: relative;
    float: left;
    margin: 1vw;
    margin-top: 3vw;
    left: 20vw;
    font-weight: bold;
    width: 30vw;
    height: 20vw;
    font-size: 1.5vw;
    font-family: Graphik Web;
    color: #ffffff;
  }

  .greenTwoTextText {
    left: 20vw;
    position: relative;
    margin: 1vw;
    margin-top: 3vw;

    float: left;
    width: 45vw;
    height: 20vw;
    font-size: 1.2vw;
    font-family: Graphik Web;
    color: #ffffff;
  }

  .greenTwoClear {
    clear: left;
  }
  .contentButton {
    margin-top: 1.5vw !important;
    color: #ffffff !important;
    background-color: theme.$onyxblacktext !important;
    border-radius: 0 !important;
    font-weight: 800 !important;
    font-family: Graphik Web !important;
  }
}

@media (max-width: 767px) {
  .madPosition {
    position: relative;
    left: 5vw;
    width: 80vw;
    height: 180vw;
    z-index: 100;
  }

  .madH1 {
    font-weight: bold;
    font-size: 6vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
    margin-bottom: 6vw;
  }

  .madText {
    font-size: 3.5vw;
    font-family: Graphik Web;
    margin-bottom: 1vw;
    color: theme.$coolgray11;
  }

  .madList {
    font-size: 5vw;
    font-family: Graphik Web;
    line-height: 0vw;

    cursor: pointer;
    &:hover {
      .madarrow {
        float: right;
      }
    }
  }

  .madcontainer {
    position: relative;
    width: 80vw;
    height: 30vw;
    left: 0vw;
    top: 60vw;
  }

  .madrec {
    position: absolute;
    left: 25vw;
    width: 73vw;
    height: 24vw;
    top: 25vw;
    border: solid 28px theme.$onyxblacktext;
    border-right: 0vw;
  }

  .madImage {
    display: none;
  }

  .madA {
    font-size: 1.2vw;
  }

  .madAContainer {
    text-align: left;
    top: 6vw;
    left: 0vw;
    width: 80vw;
    border: none;
  }

  .madarrow {
    float: right;
    width: 24px;
  }

  .one-image-calendar {
    margin-top: 24px;
  }

  .pie {
    position: relative;
    text-align: center;
    width: 75vw;
    height: 75vw;
  }

  .pieText {
    .amount {
      font-size: 10vw;
      font-family: Graphik Web;
      font-weight: bold;
      text-align: center;
    }

    .text {
      font-size: 5.5vw;
      font-family: Graphik Web;
    }
  }

  .pie-chart-flex {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    width: 100vw;
    background-color: #efeff0;
    padding: 5vw 0;
  }

  .greyTwoTextTextPieChart {
    position: relative;
    text-align: center;
    margin: 5vw 0 10vw;
    width: 90%;
    font-size: 5vw;
    line-height: 7.5vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .oneImageText {
    font-size: 5vw;
    font-family: Graphik Web;
    line-height: 7.5vw;
    color: theme.$coolgray11;
  }

  .oneImageText.white {
    color: #ffffff;
  }

  .oneImageA {
    font-size: 4vw;
    font-family: Graphik Web;
    line-height: 5.5vw;
    margin-top: 8vw;
    display: inline-block;
    &:hover {
      color: inherit;
      text-decoration: inherit;
    }
  }

  .oneImageImage {
    position: absolute;
    height: 90vw;
    width: 90vw;
    left: 5vw;
    object-fit: cover;
    top: -60vw;
    padding-top: 20vw;
  }

  .extramrg {
    margin-top: 20vw;
  }

  .oneImageImage.right {
    position: relative;
    height: 90vw;
    width: 90vw;
    left: 5vw;
    object-fit: cover;
    bottom: 0vw;
    padding-top: 20vw;
    margin-bottom: -60vw;
  }

  .secondImg {
    position: relative;
  }

  .oneImageGreyBox {
    margin-top: 55vw;
    padding: 40vw 6vw 10vw;
    position: relative;
    width: 100vw;
    left: 0vw;
    top: 0vw;
    background-color: #efeff0;
  }

  .oneImageBlackBox {
    padding: 6vw;
    padding-top: 20vw;
    position: relative;
    width: 100vw;
    padding-bottom: 65vw;
    left: 0vw;
    top: 0vw;
    background-color: theme.$onyxblacktext;
  }

  .oneImageBlackBox.right {
    padding: 6vw;
    padding-top: 20vw;
    padding-bottom: 60vw;
    position: relative;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: theme.$onyxblacktext;
  }

  .oneImageGreenBox {
    padding: 6vw;
    padding-top: 20vw;
    position: relative;
    width: 100vw;
    padding-bottom: 65vw;
    left: 0;
    top: 0;
    background-color: #2b583b;
  }

  .oneImageH1 {
    font-weight: bold;
    font-size: 10vw;
    font-family: Graphik Web;
    line-height: 12.5vw;
    color: theme.$onyxblacktext;
  }

  .oneImageEventDetails {
    font-family: Graphik Web;
    color: #ffffff;
    font-size: 3vw;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
  }

  .oneImageH1.white {
    color: #ffffff;
  }

  .oneImageH2 {
    font-size: 7.5vw;
    font-weight: normal;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .oneImageH2.white {
    color: #ffffff;
  }

  .oneImagePosition {
    position: relative;
    left: 0vw;
    width: 100vw;
    z-index: 100;
  }

  .ContentItem.oneImage {
    position: static;
    display: relative;
  }

  .ContentItem.bannerCards {
    position: relative;
    width: 80vw;
    padding: 10vw 5vw 0vw;
  }

  .bannerCardImage {
    $width: 90vw;
    width: $width;
    height: (248/552) * $width;
    margin-bottom: 6.4vw;
  }

  .ContentItemMarginBottom {
    margin-bottom: 0vw;
  }

  .goRegionalEventsMarginBottom {
    margin-bottom: 30vw;
  }

  .greyTwoText {
    left: 0vw;
    position: relative;
    width: 100vw;
    background-color: #efeff0;
    margin-bottom: 5vw;
  }

  .greyTwoTextH1 {
    position: relative;
    float: left;
    margin: 1vw;
    margin-top: 16vw;
    margin-bottom: 10vw;
    left: 5vw;
    font-weight: bold;
    width: 93vw;
    font-size: 6.4vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .greyTwoTextText {
    left: 5vw;
    position: relative;
    margin: 1vw;
    margin-top: 3vw;
    margin-bottom: 50%;
    float: left;
    width: 90%;
    font-size: 5vw;
    line-height: 7.5vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .greyTwoClear {
    clear: left;
  }

  .greenTwoText {
    left: 0vw;
    position: relative;
    width: 100vw;
    background-color: #2b583b;
    margin-bottom: 5vw;
  }

  .greenTwoTextH1 {
    position: relative;
    float: left;
    margin: 1vw;
    margin-top: 16vw;
    margin-bottom: 10vw;
    left: 5vw;
    font-weight: bold;
    width: 93vw;
    height: 20vw;
    font-size: 6.4vw;
    font-family: Graphik Web;
    color: #ffffff;
  }

  .greenTwoTextText {
    left: 5vw;
    position: relative;
    margin: 1vw;
    margin-top: 3vw;
    margin-bottom: 100%;
    float: left;
    width: 90%;
    height: 35vw;
    font-size: 5vw;
    line-height: 7.5vw;
    font-family: Graphik Web;
    color: #ffffff;
  }

  .greenTwoClear {
    clear: left;
  }

  .bottom {
    top: unset;
    bottom: -40vw;
  }

  .contentButton {
    margin-top: 5vw !important;
    color: #ffffff !important;
    background-color: theme.$onyxblacktext !important;
    border-radius: 0 !important;
    font-weight: 800 !important;
    font-family: Graphik Web !important;
  }

  .oneImageList {
    font-size: 5vw;
    font-family: Graphik Web;
    line-height: 7.5vw;
  }
}
