@import '../../theme';

@media (min-width: 768px) {
    /*
  make each pie piece a rectangle twice as high as it is wide.
  move the transform origin to the middle of the left side.
  Also ensure that overflow is set to hidden.
*/
.pieChart{
    position:absolute;
    left:20vw;
    top:1vw;
}
.pieChart2{
    position:absolute;
    left:24.5vw;
    top:4vw;
}
.circleHeader{
    position:absolute;
    font-size: 3vw;
    font-family: Graphik Web;
    font-weight:bold;
    text-align: center;
    left:29vw;
    top:7vw;
    width:12vw;
}
.circleText{
    position:absolute;
    text-align: center;
    font-size: 1.5vw;
    font-family: Graphik Web;
    left:29vw;
    top:11vw;
    width:12vw;
}
  .pie {
    position:absolute;
    width:10vw;
    height:20vw;
    overflow:hidden;
    left:15vw;
    -moz-transform-origin:left center;
    -ms-transform-origin:left center;
    -o-transform-origin:left center;
    -webkit-transform-origin:left center;
    transform-origin:left center;
}
/*
unless the piece represents more than 50% of the whole chart.
then make it a square, and ensure the transform origin is
back in the center.

NOTE: since this is only ever a single piece, you could
move this to a piece specific rule and remove the extra class
*/
.pie.big {
    width:20vw;
    height:20vw;
    left:5vw;
    -moz-transform-origin:center center;
    -ms-transform-origin:center center;
    -o-transform-origin:center center;
    -webkit-transform-origin:center center;
    transform-origin:center center;
}
/*
this is the actual visible part of the pie.
Give it the same dimensions as the regular piece.
Use border radius make it a half circle.
move transform origin to the middle of the right side.
Push it out to the left of the containing box.
*/
.pie:BEFORE {
    content:"";
    position:absolute;
    width:10vw;
    height:20vw;
    left:-10vw;
    border-radius:10vw 0 0 10vw;
    -moz-transform-origin:right center;
    -ms-transform-origin:right center;
    -o-transform-origin:right center;
    -webkit-transform-origin:right center;
    transform-origin:right center;

}
/* if it's part of a big piece, bring it back into the square */
.pie.big:BEFORE {
    left:0px;
}
/*
big pieces will also need a second semicircle, pointed in the
opposite direction to hide the first part behind.
*/
.pie.big:AFTER {
    content:"";
    position:absolute;
    width:10vw;
    height:20vw;
    left:10vw;
    border-radius:0 10vw 10vw 0;
}
/*
add colour to each piece.
*/
.pie:nth-of-type(1):BEFORE,
.pie:nth-of-type(1):AFTER {
    background-color:#FFC60B;
}
.pie:nth-of-type(2):AFTER,
.pie:nth-of-type(2):BEFORE {
    background-color:#646469;
}
.pie:nth-of-type(3):AFTER,
.pie:nth-of-type(3):BEFORE {
    background-color:#646469;
}
.pie:nth-of-type(4):AFTER,
.pie:nth-of-type(4):BEFORE {
    background-color:#646469;
}
/*
now rotate each piece based on their cumulative starting
position
*/
.pie[data-start="30"] {
    -moz-transform: rotate(90deg); /* Firefox */
    -ms-transform: rotate(90deg); /* IE */
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -o-transform: rotate(90deg); /* Opera */
    transform:rotate(90deg);
}
.pie[data-start="60"] {
    -moz-transform: rotate(90deg); /* Firefox */
    -ms-transform: rotate(90deg); /* IE */
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -o-transform: rotate(90deg); /* Opera */
    transform:rotate(90deg);
}
.pie[data-start="100"] {
    -moz-transform: rotate(100deg); /* Firefox */
    -ms-transform: rotate(100deg); /* IE */
    -webkit-transform: rotate(100deg); /* Safari and Chrome */
    -o-transform: rotate(100deg); /* Opera */
    transform:rotate(100deg);
}
/*
and rotate the amount of the pie that's showing.

NOTE: add an extra degree to all but the final piece,
to fill in unsightly gaps.
*/
.pie[data-value="30"]:BEFORE {
    -moz-transform: rotate(90deg); /* Firefox */
    -ms-transform: rotate(90deg); /* IE */
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -o-transform: rotate(90deg); /* Opera */
    transform:rotate(90deg);
}
.pie[data-value="40"]:BEFORE {
    -moz-transform: rotate(41deg); /* Firefox */
    -ms-transform: rotate(41deg); /* IE */
    -webkit-transform: rotate(41deg); /* Safari and Chrome */
    -o-transform: rotate(41deg); /* Opera */
    transform:rotate(41deg);
}
.pie[data-value="260"]:BEFORE {
    -moz-transform: rotate(260deg); /* Firefox */
    -ms-transform: rotate(260deg); /* IE */
    -webkit-transform: rotate(260deg); /* Safari and Chrome */
    -o-transform: rotate(260deg); /* Opera */
    transform:rotate(260deg);
}





.pie2 {
    position:absolute;
    width:7vw;
    height:14vw;
    overflow:hidden;
    left:10.45vw;
    -moz-transform-origin:left center;
    -ms-transform-origin:left center;
    -o-transform-origin:left center;
    -webkit-transform-origin:left center;
    transform-origin:left center;
}
/*
unless the piece represents more than 50% of the whole chart.
then make it a square, and ensure the transform origin is
back in the center.

NOTE: since this is only ever a single piece, you could
move this to a piece specific rule and remove the extra class
*/
.pie2.big {
    width:14vw;
    height:14vw;
    left:3.5vw;
    -moz-transform-origin:center center;
    -ms-transform-origin:center center;
    -o-transform-origin:center center;
    -webkit-transform-origin:center center;
    transform-origin:center center;
}
/*
this is the actual visible part of the pie.
Give it the same dimensions as the regular piece.
Use border radius make it a half circle.
move transform origin to the middle of the right side.
Push it out to the left of the containing box.
*/
.pie2:BEFORE {
    content:"";
    position:absolute;
    width:7vw;
    height:14vw;
    left:-7vw;
    border-radius:7vw 0 0 7vw;
    -moz-transform-origin:right center;
    -ms-transform-origin:right center;
    -o-transform-origin:right center;
    -webkit-transform-origin:right center;
    transform-origin:right center;

}
/* if it's part of a big piece, bring it back into the square */
.pie2.big:BEFORE {
    left:0px;
}
/*
big pieces will also need a second semicircle, pointed in the
opposite direction to hide the first part behind.
*/
.pie2.big:AFTER {
    content:"";
    position:absolute;
    width:7vw;
    height:14vw;
    left:7vw;
    border-radius:0 7vw 7vw 0;
}
/*
add colour to each piece.
*/
.pie2:nth-of-type(1):BEFORE,
.pie2:nth-of-type(1):AFTER {
    background-color:#EFEFF0;
}
.pie2:nth-of-type(2):AFTER,
.pie2:nth-of-type(2):BEFORE {
    background-color:#EFEFF0;
}
.pie2:nth-of-type(3):AFTER,
.pie2:nth-of-type(3):BEFORE {
    background-color:#EFEFF0;
}
.pie2:nth-of-type(4):AFTER,
.pie2:nth-of-type(4):BEFORE {
    background-color:#EFEFF0;
}
/*
now rotate each piece based on their cumulative starting
position
*/
.pie2[data-start="30"] {
    -moz-transform: rotate(30deg); /* Firefox */
    -ms-transform: rotate(30deg); /* IE */
    -webkit-transform: rotate(30deg); /* Safari and Chrome */
    -o-transform: rotate(30deg); /* Opera */
    transform:rotate(30deg);
}
.pie2[data-start="60"] {
    -moz-transform: rotate(60deg); /* Firefox */
    -ms-transform: rotate(60deg); /* IE */
    -webkit-transform: rotate(60deg); /* Safari and Chrome */
    -o-transform: rotate(60deg); /* Opera */
    transform:rotate(60deg);
}
.pie2[data-start="100"] {
    -moz-transform: rotate(100deg); /* Firefox */
    -ms-transform: rotate(100deg); /* IE */
    -webkit-transform: rotate(100deg); /* Safari and Chrome */
    -o-transform: rotate(100deg); /* Opera */
    transform:rotate(100deg);
}
/*
and rotate the amount of the pie that's showing.

NOTE: add an extra degree to all but the final piece,
to fill in unsightly gaps.
*/
.pie2[data-value="30"]:BEFORE {
    -moz-transform: rotate(31deg); /* Firefox */
    -ms-transform: rotate(31deg); /* IE */
    -webkit-transform: rotate(31deg); /* Safari and Chrome */
    -o-transform: rotate(31deg); /* Opera */
    transform:rotate(31deg);
}
.pie2[data-value="40"]:BEFORE {
    -moz-transform: rotate(41deg); /* Firefox */
    -ms-transform: rotate(41deg); /* IE */
    -webkit-transform: rotate(41deg); /* Safari and Chrome */
    -o-transform: rotate(41deg); /* Opera */
    transform:rotate(41deg);
}
.pie2[data-value="260"]:BEFORE {
    -moz-transform: rotate(260deg); /* Firefox */
    -ms-transform: rotate(260deg); /* IE */
    -webkit-transform: rotate(260deg); /* Safari and Chrome */
    -o-transform: rotate(260deg); /* Opera */
    transform:rotate(260deg);
}
/*
NOTE: you could also apply custom classes (i.e. .s0 .v30)
but if the CSS3 attr() function proposal ever gets implemented,
then all the above custom piece rules could be replaced with
the following:

.pie[data-start] {
transform:rotate(attr(data-start,deg,0);
}
.pie[data-value]:BEFORE {
transform:rotate(attr(data-value,deg,0);
}
*/

    .oneImageText {
        font-size: 1.2vw;
        font-family: Graphik Web;
        margin-bottom: 1.5vw;
        color: $coolgray11;
    }

    .oneImageText.white {
        color: #ffffff;
    }
    .oneImageEventDetails{
        font-family: Graphik Web;
        color: #ffffff;
        font-size: 1.5vw;
        margin-top: 1vw;
        margin-bottom: 0.5vw;
    }
    .oneImageA {
        font-size: 1.2vw;
    }

    .oneImageAContainer {
        margin-bottom: 0.5vw;
    }

    .oneImageImage {
        position: absolute;
        height: 35vw;
        width: 35vw;
        left: 0vw;
        object-fit: cover;
        top: 2.5vw;
        // box-shadow: '0px 20px 40px rgba(26, 26, 26, 0.16)';
    }

    .oneImageImage.right {
        position: absolute;
        height: 35vw;
        width: 35vw;
        left: 45vw;
        object-fit: cover;
        top: 2.5vw;
        // box-shadow: '0px 20px 40px rgba(26, 26, 26, 0.16)';
    }

    .oneImageGreyBox {
        padding: 10vw;
        padding-top: 8vw;
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 30vw;
        top: 0vw;
        background-color: #EFEFF0;
    }

    .oneImageGreyBox.right {
        padding: 10vw;
        padding-top: 8vw;
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 0vw;
        top: 0vw;
        background-color: #EFEFF0;
    }

    .oneImageBlackBox {
        padding: 10vw;
        padding-top: 8vw;
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 30vw;
        top: 0vw;
        background-color: $onyxblacktext;
    }

    .oneImageBlackBox.right {
        padding: 10vw;
        padding-top: 8vw;
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 0vw;
        top: 0vw;
        background-color: $onyxblacktext;
    }
    .oneImageGreenBox {
        padding: 10vw;
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 30vw;
        top: 0vw;
        background-color: #2b583b;
    }

    .oneImageGreenBox.right {
        padding: 10vw;
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 0vw;
        top: 0vw;
        background-color: #2b583b;
    }
    .oneImageH1 {
        font-weight: bold;
        font-size: 3vw;
        font-family: Graphik Web;
        color: $onyxblacktext;
    }

    .oneImageH1.white {
        color: #ffffff;
    }

    .oneImageH2 {
        font-size: 2vw;
        font-weight: normal;
        font-family: Graphik Web;
        color: $onyxblacktext;
        margin-top: 2vw !important;
        margin-bottom: 2vw !important;
    }

    .oneImageH2.white {
        color: #ffffff;
    }

    .oneImagePosition {
        position: relative;
        left: 20vw;
        width: 80vw;
        z-index: 100;
    }

    .ContentItem.oneImage {
        position: static;
        padding-bottom: 5vw;
    }

    .ContentItem.bannerCards {
        position: relative;
        left: 20vw;
        width: 80vw;
        margin-bottom: 5vw;
    }

    .bannerCardImage {
        $width: 37.67vw;
        width: $width;
        height: (248/552)*$width;
        margin-right: 1.67vw;
    }

    .bannerCardImage.canClick:hover {
        cursor: pointer;
    }

    .greyTwoText {
        left: 0vw;
        position: relative;
        width: 100vw;
        background-color: #EFEFF0;
        margin-top: -5vh;
        margin-bottom: 5vw;
    }

    .greyTwoTextH1 {
        position: relative;
        float: left;
        margin: 1vw;
        margin-top: 3vw;
        left: 20vw;
        font-weight: bold;
        width: 30vw;
        height: 20vw;
        font-size: 1.5vw;
        font-family: Graphik Web;
        color: $onyxblacktext;
    }

    .greyTwoTextText {
        left: 20vw;
        position: relative;
        margin: 1vw;
        margin-top: 3vw;

        float: left;
        width: 45vw;
        height: 20vw;
        font-size: 1.2vw;
        font-family: Graphik Web;
        color: $onyxblacktext;
    }

    .greyTwoTextJustText {
        margin-bottom: 2vw;
    }


    .greyTwoClear {
        clear: left;
    }





    .greenTwoText {
        left: 0vw;
        position: relative;
        width: 100vw;
        background-color: #2b583b;
        margin-top: -5vh;
        margin-bottom: 5vw;
    }

    .greenTwoTextH1 {
        position: relative;
        float: left;
        margin: 1vw;
        margin-top: 3vw;
        left: 20vw;
        font-weight: bold;
        width: 30vw;
        height: 20vw;
        font-size: 1.5vw;
        font-family: Graphik Web;
        color:#ffffff;
    }

    .greenTwoTextText {
        left: 20vw;
        position: relative;
        margin: 1vw;
        margin-top: 3vw;

        float: left;
        width: 45vw;
        height: 20vw;
        font-size: 1.2vw;
        font-family: Graphik Web;
        color:#ffffff;
    }

    .greenTwoClear {
        clear: left;
    }
    .contentButton {
        margin-top: 1.5vw !important;
        color: #ffffff !important;
        background-color: $onyxblacktext !important;
        border-radius: 0 !important;
        padding: 1rem 1.5rem !important;
        font-weight: 800 !important;
        font-family: Graphik Web !important;
    }
    .oneImageList {
      font-family: Graphik Web;
    }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    
    .oneImageAContainer {
        margin-bottom: 0.2vw;
        height: 2.2vw;
    }

    .oneImageA {
        font-size: 1vw;
    }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .oneImageText {
        font-size: 1.2vw;
        font-family: Graphik Web;
        color: $coolgray11;
    }
    .oneImageEventDetails{
        font-family: Graphik Web;
        color: #ffffff;
        font-size: 1.5vw;
        margin-top: 1vw;
        margin-bottom: 0.5vw;
    }
    .oneImageText.white {
        color: #ffffff;
    }

    .oneImageA {
        font-size: 1.2vw;
        font-family: Graphik Web;
        color: $onyxblacktext;
        border-bottom: 1px solid $onyxblacktext;
        padding-bottom: 1px;

        &:hover {
            color: inherit;
            text-decoration: inherit;
        }
    }

    .oneImageAContainer {
        margin-bottom: 0.2vw;
    }

    .oneImageImage {
        position: absolute;
        height: 35vw;
        width: 35vw;
        left: 0vw;
        object-fit: cover;
        top: 2.5vw;
        //   box-shadow: '0px 20px 40px rgba(26, 26, 26, 0.16)';
    }

    .oneImageImage.right {
        position: absolute;
        height: 35vw;
        width: 35vw;
        left: 45vw;
        object-fit: cover;
        top: 2.5vw;
        //   box-shadow: '0px 20px 40px rgba(26, 26, 26, 0.16)';
    }

    .oneImageGreyBox {
        padding: 10vw;
        padding-top: 8vw;
        position: relative;
        width: 50vw;
        // height: 40vw;
        left: 30vw;
        top: 0vw;
        background-color: #EFEFF0;
    }

    .oneImageGreyBox.right {
        padding: 10vw;
        padding-top: 8vw;
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 0vw;
        top: 0vw;
        background-color: #EFEFF0;
    }

    .oneImageBlackBox {
        padding: 10vw;
        padding-top: 8vw;
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 30vw;
        top: 0vw;
        background-color: $onyxblacktext;
    }

    .oneImageBlackBox.right {
        padding: 10vw;
        padding-top: 8vw;
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 0vw;
        top: 0vw;
        background-color: $onyxblacktext;
    }
    .oneImageGreenBox {
        padding: 10vw;
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 30vw;
        top: 0vw;
        background-color: #2b583b;
    }

    .oneImageGreenBox.right {
        padding: 10vw;
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 0vw;
        top: 0vw;
        background-color: #2b583b;
    }
    .oneImageH1 {
        font-weight: bold;
        font-size: 3vw;
        font-family: Graphik Web;
        color: $onyxblacktext;
    }

    .oneImageH1.white {
        color: #ffffff;
    }

    .oneImageH2 {
        font-size: 2vw;
        font-weight: normal;
        font-family: Graphik Web;
        color: $onyxblacktext;
        margin-top: 2vw !important;
        margin-bottom: 2vw !important;
    }

    .oneImageH2.white {
        color: #ffffff;
    }

    .oneImagePosition {
        position: relative;
        left: 20vw;
        width: 80vw;
        z-index: 100;
    }

    .ContentItem.oneImage {
        position: static;
        padding-bottom: 5vw;
    }

    .greyTwoText {
        left: 0vw;
        position: relative;
        width: 100vw;
        background-color: #EFEFF0;
        margin-top: -5vh;
        margin-bottom: 5vw;
    }

    .greyTwoTextH1 {
        position: relative;
        float: left;
        margin: 1vw;
        margin-top: 3vw;
        left: 20vw;
        font-weight: bold;
        width: 30vw;
        height: 20vw;
        font-size: 1.5vw;
        font-family: Graphik Web;
        color: $onyxblacktext;
    }

    .greyTwoTextText {
        left: 20vw;
        position: relative;
        margin: 1vw;
        margin-top: 3vw;

        float: left;
        width: 45vw;
        height: 20vw;
        font-size: 1.2vw;
        font-family: Graphik Web;
        color: $onyxblacktext;
    }

    .greyTwoTextJustText {
        margin-bottom: 2vw;
    }

    .greyTwoClear {
        clear: left;
    }



    .greenTwoText {
        left: 0vw;
        position: relative;
        width: 100vw;
        background-color: #2b583b;
        margin-top: -5vh;
        margin-bottom: 5vw;
    }

    .greenTwoTextH1 {
        position: relative;
        float: left;
        margin: 1vw;
        margin-top: 3vw;
        left: 20vw;
        font-weight: bold;
        width: 30vw;
        height: 20vw;
        font-size: 1.5vw;
        font-family: Graphik Web;
        color:#ffffff;
    }

    .greenTwoTextText {
        left: 20vw;
        position: relative;
        margin: 1vw;
        margin-top: 3vw;

        float: left;
        width: 45vw;
        height: 20vw;
        font-size: 1.2vw;
        font-family: Graphik Web;
        color:#ffffff;
    }

    .greenTwoClear {
        clear: left;
    }
    .contentButton {
        margin-top: 1.5vw !important;
        color: #ffffff !important;
        background-color: $onyxblacktext !important;
        border-radius: 0 !important;
        padding: 1rem 1.5rem !important;
        font-weight: 800 !important;
        font-family: Graphik Web !important;
    }
}

@media (max-width: 767px) {
    .oneImageText {
        font-size: 5vw;
        font-family: Graphik Web;
        line-height: 7.5vw;
        color: $coolgray11;
    }

    .oneImageText.white {
        color: #ffffff;
    }

    .oneImageA {
        font-size: 4vw;
        font-family: Graphik Web;
        line-height: 5.5vw;
        margin-top: 8vw;
        display: inline-block;
        color: $onyxblacktext;
        border-bottom: 1px solid $onyxblacktext;
        &:hover {
            color: inherit;
            text-decoration: inherit;
        }
    }

    .oneImageImage {
        position: absolute;
        height: 90vw;
        width: 90vw;
        left: 5vw;
        object-fit: cover;
        top: -60vw;
        padding-top: 20vw;
      //  box-shadow: '0px 20px 40px rgba(26, 26, 26, 0.16)';
    }
    .oneImageImage.right {
        position: relative;
        height: 90vw;
        width: 90vw;
        left: 5vw;
        object-fit: cover;
        bottom: 0vw;
        padding-top: 20vw;
        margin-bottom:-60vw;
        //   box-shadow: '0px 20px 40px rgba(26, 26, 26, 0.16)';
    }
    .secondImg {
      // top: 125vw;
      position: relative;
    }

    .oneImageGreyBox {
        margin-top: 55vw;
        padding: 40vw 6vw 10vw;
        position: relative;
        width: 100vw;
        //height: 145vw;
        left: 0vw;
        top: 0vw;
        background-color: #EFEFF0;
    }
    .oneImageBlackBox{
        // margin-top: 120vw;
        padding: 6vw;
        padding-top: 20vw;
        position: relative;
        width: 100vw;
        //height: 175vw;
        padding-bottom:65vw;
        left: 0vw;
        top: 0vw;
        background-color: $onyxblacktext;
    }
    .oneImageBlackBox.right {
        padding: 6vw;
        padding-top: 20vw;
        padding-bottom:60vw;
        position: relative;
        width: 100vw;
        //height: 40vw;
        left: 0vw;
        top: 0vw;
        background-color: $onyxblacktext;
    }
    .oneImageGreenBox{
        // margin-top: 120vw;
        padding: 6vw;
        padding-top: 20vw;
        position: relative;
        width: 100vw;
        //height: 175vw;
        padding-bottom:65vw;
        left: 0vw;
        top: 0vw;
        background-color: #2b583b;
    }

    .oneImageH1 {
        font-weight: bold;
        font-size: 10vw;
        font-family: Graphik Web;
        line-height: 12.5vw;
        color: $onyxblacktext;
    }
    .oneImageEventDetails{
        font-family: Graphik Web;
        color: #ffffff;
        font-size: 3vw;
        margin-top: 1vw;
        margin-bottom: 0.5vw;
    }
    .oneImageH1.white {
        color: #ffffff;
    }

    .oneImageH2 {
        font-size: 7.5vw;
        font-weight: normal;
        font-family: Graphik Web;
        color: $onyxblacktext;
    }

    .oneImageH2.white {
        color: #ffffff;
    }

    .oneImagePosition {
        position: relative;
        left: 0vw;
        width: 100vw;
        z-index: 100;
    }

    .ContentItem.oneImage {
        position: static;
        // padding-bottom: 5vw;
        // padding-top: 45vw;
        display: relative;
    }

    .ContentItem.bannerCards {
        position: relative;
        width: 80vw;
        padding: 10vw 5vw 0vw;
    }

    .bannerCardImage {
        $width: 90vw;
        width: $width;
        height: (248/552)*$width;
        margin-bottom: 6.4vw;
    }

    .bannerCardImage.canClick:hover {
        cursor: pointer;
    }

    .ContentItemMarginBottom {
        margin-bottom: 0vw;
    }

    .goRegionalEventsMarginBottom {
        margin-bottom: 30vw; 
    }

    .greyTwoText {
        left: 0vw;
        position: relative;
        width: 100vw;
        background-color: #EFEFF0;
        // margin-top: -23vh;
        margin-bottom: 5vw;
    }

    .greyTwoTextH1 {
        position: relative;
        float: left;
        margin: 1vw;
        margin-top: 16vw;
        margin-bottom: 10vw;
        left: 5vw;
        font-weight: bold;
        width: 93vw;
      //  height: 20vw;
        font-size: 6.4vw;
        font-family: Graphik Web;
        color: $onyxblacktext;
    }

    .greyTwoTextText {
        left: 5vw;
        //top: 62vw;
        position: relative;
        margin: 1vw;
        margin-top: 3vw;
        margin-bottom: 50%;
        float: left;
        width: 90%;
      //  height: 35vw;
        font-size: 5vw;
        line-height: 7.5vw;
        font-family: Graphik Web;
        color: $onyxblacktext;
    }

    .greyTwoClear {
        clear: left;
    }

    .greenTwoText {
        left: 0vw;
        position: relative;
        width: 100vw;
        background-color: #2b583b;
        // margin-top: -23vh;
        margin-bottom: 5vw;
    }

    .greenTwoTextH1 {
        position: relative;
        float: left;
        margin: 1vw;
        margin-top: 16vw;
        margin-bottom: 10vw;
        left: 5vw;
        font-weight: bold;
        width: 93vw;
        height: 20vw;
        font-size: 6.4vw;
        font-family: Graphik Web;
        color:#ffffff;
    }

    .greenTwoTextText {
        left: 5vw;
        position: relative;
        margin: 1vw;
        margin-top: 3vw;
        margin-bottom: 100%;
        float: left;
        width: 90%;
        height: 35vw;
        font-size: 5vw;
        line-height: 7.5vw;
        font-family: Graphik Web;
        color:#ffffff;
    }

    .greenTwoClear {
        clear: left;
    }
    .bottom{
        top:unset;
        bottom:-40vw;
    }
    .contentButton {
        margin-top: 5vw !important;
        color: #ffffff !important;
        background-color: $onyxblacktext !important;
        border-radius: 0 !important;
        padding: 1rem 1.5rem !important;
        font-weight: 800 !important;
        font-family: Graphik Web !important;
    }
    .circleHeader{
        position: absolute;
         font-size: 10vw!important;
         font-family: Graphik Web!important;
         font-weight:bold!important;
         text-align: center!important;
         top: 105vw!important;
         left: 31vw!important;
         text-align: center!important;
    }
    .circleText{
        position: absolute;
        text-align: center!important;
        font-size: 5.5vw!important;
        font-family: Graphik Web!important;
        top: 120vw!important;
        left: 30vw!important;
    }

    .pieChart{
        position:absolute;
        left:-2vw;
         top: 84vw;
         transform: scale(3.5);
    }
    .pieChart2{
        position:absolute;
        left: 12vw;
        top: 92.5vw;
        transform: scale(3.75);

    }
    .pie {
      position:absolute;
      width:10vw;
      height:20vw;
      overflow:hidden;
      left:15vw;
      -moz-transform-origin:left center;
      -ms-transform-origin:left center;
      -o-transform-origin:left center;
      -webkit-transform-origin:left center;
      transform-origin:left center;
  }
  /*
  unless the piece represents more than 50% of the whole chart.
  then make it a square, and ensure the transform origin is
  back in the center.

  NOTE: since this is only ever a single piece, you could
  move this to a piece specific rule and remove the extra class
  */
  .pie.big {
      width:20vw;
      height:20vw;
      left:5vw;
      -moz-transform-origin:center center;
      -ms-transform-origin:center center;
      -o-transform-origin:center center;
      -webkit-transform-origin:center center;
      transform-origin:center center;
  }
  /*
  this is the actual visible part of the pie.
  Give it the same dimensions as the regular piece.
  Use border radius make it a half circle.
  move transform origin to the middle of the right side.
  Push it out to the left of the containing box.
  */
  .pie:BEFORE {
      content:"";
      position:absolute;
      width:10vw;
      height:20vw;
      left:-10vw;
      border-radius:10vw 0 0 10vw;
      -moz-transform-origin:right center;
      -ms-transform-origin:right center;
      -o-transform-origin:right center;
      -webkit-transform-origin:right center;
      transform-origin:right center;

  }
  /* if it's part of a big piece, bring it back into the square */
  .pie.big:BEFORE {
      left:0px;
  }
  /*
  big pieces will also need a second semicircle, pointed in the
  opposite direction to hide the first part behind.
  */
  .pie.big:AFTER {
      content:"";
      position:absolute;
      width:10vw;
      height:20vw;
      left:10vw;
      border-radius:0 10vw 10vw 0;
  }
  /*
  add colour to each piece.
  */
  .pie:nth-of-type(1):BEFORE,
  .pie:nth-of-type(1):AFTER {
      background-color:#FFC60B;
  }
  .pie:nth-of-type(2):AFTER,
  .pie:nth-of-type(2):BEFORE {
      background-color:#646469;
  }
  .pie:nth-of-type(3):AFTER,
  .pie:nth-of-type(3):BEFORE {
      background-color:#646469;
  }
  .pie:nth-of-type(4):AFTER,
  .pie:nth-of-type(4):BEFORE {
      background-color:#646469;
  }
  /*
  now rotate each piece based on their cumulative starting
  position
  */
  .pie[data-start="30"] {
      -moz-transform: rotate(90deg); /* Firefox */
      -ms-transform: rotate(90deg); /* IE */
      -webkit-transform: rotate(90deg); /* Safari and Chrome */
      -o-transform: rotate(90deg); /* Opera */
      transform:rotate(90deg);
  }
  .pie[data-start="60"] {
      -moz-transform: rotate(90deg); /* Firefox */
      -ms-transform: rotate(90deg); /* IE */
      -webkit-transform: rotate(90deg); /* Safari and Chrome */
      -o-transform: rotate(90deg); /* Opera */
      transform:rotate(90deg);
  }
  .pie[data-start="100"] {
      -moz-transform: rotate(100deg); /* Firefox */
      -ms-transform: rotate(100deg); /* IE */
      -webkit-transform: rotate(100deg); /* Safari and Chrome */
      -o-transform: rotate(100deg); /* Opera */
      transform:rotate(100deg);
  }
  /*
  and rotate the amount of the pie that's showing.

  NOTE: add an extra degree to all but the final piece,
  to fill in unsightly gaps.
  */
  .pie[data-value="30"]:BEFORE {
      -moz-transform: rotate(90deg); /* Firefox */
      -ms-transform: rotate(90deg); /* IE */
      -webkit-transform: rotate(90deg); /* Safari and Chrome */
      -o-transform: rotate(90deg); /* Opera */
      transform:rotate(90deg);
  }
  .pie[data-value="40"]:BEFORE {
      -moz-transform: rotate(91deg); /* Firefox */
      -ms-transform: rotate(91deg); /* IE */
      -webkit-transform: rotate(91deg); /* Safari and Chrome */
      -o-transform: rotate(91deg); /* Opera */
      transform:rotate(91deg);
  }
  .pie[data-value="260"]:BEFORE {
      -moz-transform: rotate(260deg); /* Firefox */
      -ms-transform: rotate(260deg); /* IE */
      -webkit-transform: rotate(260deg); /* Safari and Chrome */
      -o-transform: rotate(260deg); /* Opera */
      transform:rotate(260deg);
  }
  .pie2 {
      position:absolute;
      width:7vw;
      height:14vw;
      overflow:hidden;
      left:10.45vw;
      -moz-transform-origin:left center;
      -ms-transform-origin:left center;
      -o-transform-origin:left center;
      -webkit-transform-origin:left center;
      transform-origin:left center;
  }
  /*
  unless the piece represents more than 50% of the whole chart.
  then make it a square, and ensure the transform origin is
  back in the center.

  NOTE: since this is only ever a single piece, you could
  move this to a piece specific rule and remove the extra class
  */
  .pie2.big {
      width:14vw;
      height:14vw;
      left:3.5vw;
      -moz-transform-origin:center center;
      -ms-transform-origin:center center;
      -o-transform-origin:center center;
      -webkit-transform-origin:center center;
      transform-origin:center center;
  }
  /*
  this is the actual visible part of the pie.
  Give it the same dimensions as the regular piece.
  Use border radius make it a half circle.
  move transform origin to the middle of the right side.
  Push it out to the left of the containing box.
  */
  .pie2:BEFORE {
      content:"";
      position:absolute;
      width:7vw;
      height:14vw;
      left:-7vw;
      border-radius:7vw 0 0 7vw;
      -moz-transform-origin:right center;
      -ms-transform-origin:right center;
      -o-transform-origin:right center;
      -webkit-transform-origin:right center;
      transform-origin:right center;

  }
  /* if it's part of a big piece, bring it back into the square */
  .pie2.big:BEFORE {
      left:0px;
  }
  /*
  big pieces will also need a second semicircle, pointed in the
  opposite direction to hide the first part behind.
  */
  .pie2.big:AFTER {
      content:"";
      position:absolute;
      width:7vw;
      height:14vw;
      left:7vw;
      border-radius:0 7vw 7vw 0;
  }
  /*
  add colour to each piece.
  */
  .pie2:nth-of-type(1):BEFORE,
  .pie2:nth-of-type(1):AFTER {
      background-color:#EFEFF0;
  }
  .pie2:nth-of-type(2):AFTER,
  .pie2:nth-of-type(2):BEFORE {
      background-color:#EFEFF0;
  }
  .pie2:nth-of-type(3):AFTER,
  .pie2:nth-of-type(3):BEFORE {
      background-color:#EFEFF0;
  }
  .pie2:nth-of-type(4):AFTER,
  .pie2:nth-of-type(4):BEFORE {
      background-color:#EFEFF0;
  }
  /*
  now rotate each piece based on their cumulative starting
  position
  */
  .pie2[data-start="30"] {
      -moz-transform: rotate(5deg); /* Firefox */
      -ms-transform: rotate(5deg); /* IE */
      -webkit-transform: rotate(5deg); /* Safari and Chrome */
      -o-transform: rotate(5deg); /* Opera */
      transform:rotate(5deg);
  }
  .pie2[data-start="60"] {
      -moz-transform: rotate(60deg); /* Firefox */
      -ms-transform: rotate(60deg); /* IE */
      -webkit-transform: rotate(60deg); /* Safari and Chrome */
      -o-transform: rotate(60deg); /* Opera */
      transform:rotate(60deg);
  }
  .pie2[data-start="100"] {
      -moz-transform: rotate(100deg); /* Firefox */
      -ms-transform: rotate(100deg); /* IE */
      -webkit-transform: rotate(100deg); /* Safari and Chrome */
      -o-transform: rotate(100deg); /* Opera */
      transform:rotate(100deg);
  }
  /*
  and rotate the amount of the pie that's showing.

  NOTE: add an extra degree to all but the final piece,
  to fill in unsightly gaps.
  */
  .pie2[data-value="30"]:BEFORE {
      -moz-transform: rotate(56deg); /* Firefox */
      -ms-transform: rotate(56deg); /* IE */
      -webkit-transform: rotate(56deg); /* Safari and Chrome */
      -o-transform: rotate(56deg); /* Opera */
      transform:rotate(56deg);
  }
  .pie2[data-value="40"]:BEFORE {
      -moz-transform: rotate(41deg); /* Firefox */
      -ms-transform: rotate(41deg); /* IE */
      -webkit-transform: rotate(41deg); /* Safari and Chrome */
      -o-transform: rotate(41deg); /* Opera */
      transform:rotate(41deg);
  }
  .pie2[data-value="260"]:BEFORE {
      -moz-transform: rotate(260deg); /* Firefox */
      -ms-transform: rotate(260deg); /* IE */
      -webkit-transform: rotate(260deg); /* Safari and Chrome */
      -o-transform: rotate(260deg); /* Opera */
      transform:rotate(260deg);
  }
  /*
  NOTE: you could also apply custom classes (i.e. .s0 .v30)
  but if the CSS3 attr() function proposal ever gets implemented,
  then all the above custom piece rules could be replaced with
  the following:

  .pie[data-start] {
  transform:rotate(attr(data-start,deg,0);
  }
  .pie[data-value]:BEFORE {
  transform:rotate(attr(data-value,deg,0);
  }
  */
  .oneImageList {
    font-size: 5vw;
    font-family: Graphik Web;
    line-height: 7.5vw;
  }
}
