@use '../../theme';

@media (min-width: 768px) {
  .faqText {
    font-size: 1rem;
  }
  .FAQFloatLeft {
    float: 'left';
    cursor: pointer;
    color: theme.$onyxblacktext;
  }
  .FAQFloatRight {
    float: 'right';
  }
  .FAQFullWidth {
    width: 90%;
    color: theme.$onyxblacktext;
    float: left;
  }
  .FAQPartialWidth {
    width: 30%;
    float: left;
  }
  .FAQQuestion {
    font-size: 1.08rem;

    font-weight: bold;
    margin-top: 2vw;
  }

  .FAQAnswer {
    font-size: 1.08rem;

    color: theme.$onyxblacktext;
  }

  .faqText.white {
    color: #ffffff;
  }

  .faqA {
    font-size: 1rem;
  }

  .faqImage {
    position: absolute;
    height: 35vw;
    width: 35vw;
    left: 0vw;
    object-fit: cover;
    top: 2.5vw;
    // box-shadow: '0px 20px 40px rgba(26, 26, 26, 0.16)';
  }

  .faqImage.right {
    position: absolute;
    height: 35vw;
    width: 35vw;
    left: 45vw;
    object-fit: cover;
    top: -1.5vw;
    // box-shadow: '0px 20px 40px rgba(26, 26, 26, 0.16)';
  }

  .faqGreyBox {
    padding: 0vw;
    position: relative;
    width: 50vw;
    left: 20vw;
    top: 0vw;
  }

  .faqGreyBox.right {
    padding: 0vw;
    position: relative;
    width: 40vw;

    left: 0vw;
    top: 0vw;
  }
  .faqGreyBox.full {
    padding: 0vw;
    position: relative;
    width: 60vw;

    left: 0vw;
    top: 0vw;
  }
  .faqBlackBox {
    padding: 10vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 30vw;
    top: 0vw;
    background-color: #000000;
  }

  .faqBlackBox.right {
    padding: 10vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 0vw;
    top: 0vw;
    background-color: #000000;
  }

  .faqGreenBox {
    padding: 10vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 30vw;
    top: 0vw;
    background-color: #2b583b;
  }

  .faqGreenBox.right {
    padding: 10vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 0vw;
    top: 0vw;
    background-color: #2b583b;
  }

  .faqH1 {
    font-weight: bold;
    font-size: 2.7rem;

    color: theme.$onyxblacktext;
  }
  .whiteText {
    color: #ffffff !important;
    background-color: #000000 !important;
  }

  .faqPosition {
    position: relative;
    left: 20vw;
    width: 80vw;
    z-index: 100;
  }

  .FAQItem.faq {
    position: static;
    padding-bottom: 5vw;
  }

  .greyTwoText {
    left: 0vw;
    position: relative;
    width: 100vw;
    background-color: #efeff0;
    margin-top: -5vh;
    margin-bottom: 5vw;
  }

  .greyTwoTextH1 {
    position: relative;
    float: left;
    margin: 1vw;
    margin-top: 3vw;
    left: 20vw;
    font-weight: bold;
    width: 30vw;
    height: 20vw;
    font-size: 1.35rem;
  }

  .greyTwoTextText {
    left: 20vw;
    position: relative;
    margin: 1vw;
    margin-top: 3vw;

    float: left;
    width: 45vw;
    height: 20vw;
    font-size: 1.08rem;
  }

  .greyTwoClear {
    clear: left;
  }

  .greenTwoText {
    left: 0vw;
    position: relative;
    width: 100vw;
    background-color: #2b583b;
    margin-top: -5vh;
    margin-bottom: 5vw;
  }

  .greenTwoTextH1 {
    position: relative;
    float: left;
    margin: 1vw;
    margin-top: 3vw;
    left: 20vw;
    font-weight: bold;
    width: 30vw;
    height: 20vw;
    font-size: 1.35rem;

    color: #ffffff;
  }

  .greenTwoTextText {
    left: 20vw;
    position: relative;
    margin: 1vw;
    margin-top: 3vw;

    float: left;
    width: 45vw;
    height: 20vw;
    font-size: 1.08rem;

    color: #ffffff;
  }

  .greenTwoClear {
    clear: left;
  }

  .contentButton {
    margin-top: 1.5vw !important;
    color: #ffffff !important;
    background-color: #000000 !important;
    border-radius: 0 !important;
    // padding: 1rem 1.5rem !important;
    font-weight: 800 !important;
    font-family: Graphik Web !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .FAQFloatLeft {
    float: 'left';
    cursor: pointer;
    color: theme.$onyxblacktext;
  }
  .FAQFloatRight {
    float: 'right';
  }
  .FAQFullWidth {
    width: 90%;
    color: theme.$onyxblacktext;
    float: left;
  }
  .FAQPartialWidth {
    width: 30%;
    float: left;
  }
  .whiteText {
    color: #ffffff !important;
    background-color: #000000 !important;
  }

  .FAQQuestion {
    font-size: 1.08rem;
    font-weight: bold;
  }
  .FAQAnswer {
    font-size: 1.08rem;
    color: theme.$onyxblacktext;
  }
  .faqText {
    font-size: 1rem;
  }

  .FAQQuestion {
    font-size: 1.35rem;
    font-weight: bold;
  }

  .faqEventDetails {
    color: #ffffff;
    font-size: 1.35rem;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
  }

  .faqText.white {
    color: #ffffff;
  }

  .faqA {
    font-size: 1.2rem;
  }

  .faqImage {
    position: absolute;
    height: 35vw;
    width: 35vw;
    left: 0vw;
    object-fit: cover;
    top: 2.5vw;
    //   box-shadow: '0px 20px 40px rgba(26, 26, 26, 0.16)';
  }

  .faqImage.right {
    position: absolute;
    height: 35vw;
    width: 35vw;
    left: 45vw;
    object-fit: cover;
    top: 2.5vw;
    //   box-shadow: '0px 20px 40px rgba(26, 26, 26, 0.16)';
  }

  .faqGreyBox {
    padding: 10vw;
    position: relative;
    width: 50vw;

    left: 30vw;
    top: 0vw;
  }

  .faqGreyBox.right {
    padding: 10vw;
    position: relative;
    width: 50vw;

    left: 0vw;
    top: 0vw;
  }

  .faqBlackBox {
    padding: 10vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 30vw;
    top: 0vw;
    background-color: #000000;
  }

  .faqBlackBox.right {
    padding: 10vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 0vw;
    top: 0vw;
    background-color: #000000;
  }

  .faqGreenBox {
    padding: 10vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 30vw;
    top: 0vw;
    background-color: #2b583b;
  }

  .faqGreenBox.right {
    padding: 10vw;
    position: relative;
    width: 50vw;
    height: 40vw;
    left: 0vw;
    top: 0vw;
    background-color: #2b583b;
  }

  .faqH1 {
    font-weight: bold;
    font-size: 2.7rem;

    color: theme.$onyxblacktext;
  }

  .faqH1.white {
    color: #ffffff;
  }

  .faqPosition {
    position: relative;
    left: 20vw;
    width: 80vw;
    z-index: 100;
  }

  .FAQItem.faq {
    position: static;
    padding-bottom: 5vw;
  }

  .greyTwoText {
    left: 0vw;
    position: relative;
    width: 100vw;
    background-color: #efeff0;
    margin-top: 0vh !important;
    margin-bottom: 5vw;
  }

  .greyTwoTextH1 {
    position: relative;
    float: left;
    margin: 1vw;
    margin-top: 3vw;
    left: 20vw;
    font-weight: bold;
    width: 30vw;
    height: 20vw;
    font-size: 0.96rem;
  }

  .greyTwoTextText {
    left: 20vw;
    position: relative;
    margin: 1vw;
    margin-top: 3vw;
    float: left;
    width: 45vw;
    height: 20vw;
    font-size: 0.96rem;
  }

  .greyTwoClear {
    clear: left;
  }

  .greenTwoText {
    left: 0vw;
    position: relative;
    width: 100vw;
    background-color: #2b583b;
    margin-top: -5vh;
    margin-bottom: 5vw;
  }

  .greenTwoTextH1 {
    position: relative;
    float: left;
    margin: 1vw;
    margin-top: 3vw;
    left: 20vw;
    font-weight: bold;
    width: 30vw;
    height: 20vw;
    font-size: 1.5vw;

    color: #ffffff;
  }

  .greenTwoTextText {
    left: 20vw;
    position: relative;
    margin: 1vw;
    margin-top: 3vw;

    float: left;
    width: 45vw;
    height: 20vw;
    font-size: 1.08rem;

    color: #ffffff;
  }

  .greenTwoClear {
    clear: left;
  }

  .contentButton {
    margin-top: 1.5vw !important;
    color: #ffffff !important;
    background-color: #000000 !important;
    border-radius: 0 !important;
    //padding: 1rem 1.5rem !important;
    font-weight: 800 !important;
    font-family: Graphik Web !important;
  }
}

@media (max-width: 767px) {
  .FAQFloatLeft {
    float: 'right';
    cursor: pointer;
    color: theme.$onyxblacktext;
  }
  .FAQFloatRight {
    float: 'right';
  }
  .FAQFullWidth {
    width: 90%;
    color: theme.$onyxblacktext;
    float: left;
  }
  .FAQPartialWidth {
    width: 90%;
    float: left;
  }
  .FAQQuestion {
    margin-top: 20px;
    font-size: 1.75rem;
    font-weight: bold;
  }
  .FAQAnswer {
    margin-top: 1rem;
    font-size: 1.1rem;
    line-height: 1.75rem;

    color: theme.$onyxblacktext;
  }
  .faqText {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }

  .faqText.white {
    color: #ffffff;
  }

  .faqA {
    font-size: 1.3rem;

    line-height: 7.5vw;
    margin-top: 13vw;
    display: inline-block;
    // border-bottom-width: 1px;
    // border-bottom-style: solid;
    // padding-bottom: 3px;
    text-decoration: underline;
  }

  .faqImage,
  .faqImage.right {
    position: relative;
    height: 90vw;
    width: 90vw;
    left: 5vw;
    object-fit: cover;
    padding-top: 20vw;
    top: -2vw;
    //  box-shadow: '0px 20px 40px rgba(26, 26, 26, 0.16)';
  }

  .faqGreyBox {
    margin-top: 0vw;
    padding: 10vw 6vw 10vw;
    position: relative;
    width: 100vw;
    //height: 145vw;
    left: 0vw;
    top: 0vw;
  }

  .faqBlackBox {
    // margin-top: 120vw;
    padding: 6vw;
    padding-top: 20vw;
    position: relative;
    width: 100vw;
    //height: 175vw;
    padding-bottom: 65vw;
    left: 0vw;
    top: 0vw;
    background-color: #000000;
  }

  .faqGreenBox {
    // margin-top: 120vw;
    padding: 6vw;
    padding-top: 20vw;
    position: relative;
    width: 100vw;
    //height: 175vw;
    padding-bottom: 65vw;
    left: 0vw;
    top: 0vw;
    background-color: #2b583b;
  }

  .faqH1 {
    font-weight: bold;
    font-size: 2.8rem;

    line-height: 12.5vw;
    color: theme.$onyxblacktext;
  }

  .faqEventDetails {
    color: #ffffff;
    font-size: 2.5rem;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
  }

  .faqH1.white {
    color: #ffffff;
  }

  .faqPosition {
    position: relative;
    left: 0vw;
    width: 100vw;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
  }

  .FAQItem.faq {
    position: static;
    // padding-bottom: 5vw;
    // padding-top: 45vw;
    display: relative;
  }

  .FAQItemMarginBottom {
    margin-bottom: 55vw;
  }

  .greyTwoText {
    left: 0vw;
    position: relative;
    width: 100vw;
    background-color: #efeff0;
    // margin-top: -23vh;
    margin-bottom: 5vw;
  }

  .greyTwoTextH1 {
    position: relative;
    float: left;
    // margin: 1vw;
    margin-top: 8vw;
    margin-bottom: 0vw;
    left: 5vw;
    font-weight: bold;
    // width: 93vw;
    // height: 20vw;
    // font-size: 6.4vw;

    text-align: center;
  }

  .greyTwoTextText {
    left: 5vw;
    position: relative;
    margin: 1vw;
    margin-top: 3vw;
    margin-bottom: 100%;
    float: left;
    width: 90%;
    height: 35vw;
    font-size: 1.3rem;
    line-height: 7.5vw;

    text-align: center;
  }

  .greyTwoClear {
    clear: left;
  }

  .greenTwoText {
    left: 0vw;
    position: relative;
    width: 100vw;
    background-color: #2b583b;
    // margin-top: -23vh;
    margin-bottom: 5vw;
  }

  .greenTwoTextH1 {
    position: relative;
    float: left;
    margin: 1vw;
    margin-top: 16vw;
    margin-bottom: 10vw;
    left: 5vw;
    font-weight: bold;
    width: 93vw;
    height: 20vw;
    font-size: 1.5rem;

    color: #ffffff;
  }

  .greenTwoTextText {
    left: 5vw;
    position: relative;
    margin: 1vw;
    margin-top: 3vw;
    margin-bottom: 100%;
    float: left;
    width: 90%;
    height: 35vw;
    font-size: 1.3rem;
    line-height: 7.5vw;

    color: #ffffff;
  }

  .greenTwoClear {
    clear: left;
  }

  .bottom {
    top: unset;
    bottom: -40vw;
  }
  .whiteText {
    color: #ffffff !important;
    background-color: #000000 !important;
  }
}
