@media (min-width: 768px) {
    .FormItemH1 {
        font-weight: bold;
        font-size: 3vw;
        font-family: Graphik Web;
        margin-top: 3vw;
        text-align: left;
        width: 40vw;
        margin-left: 2.8125vw;
    }

    .FormItemH1.white {
        color: #ffffff;
    }

    .FormItemH1.black {
        color: #000000;
    }

    .FormContainer {
        text-align: center;
    }

    .FormItem {
        position: static;
        display: inline-block;
    }

    .FormItemText1 {
        font-size: 1.5vw;
        font-family: Graphik Web;
    }

    .FormId {
        border: 0px;
        width: 40vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .FormItemH1 {
        font-weight: bold;
        font-size: 3vw;
        font-family: Graphik Web;
        margin-top: 3vw;
    }


    .FormItemH1.white {
        color: #ffffff;
    }

    .FormItemH1.black {
        color: #000000;
    }

    .FormItem {
        position: static;
    }

    .FormItemText1 {
        font-size: 1.5vw;
        font-family: Graphik Web;
    }

    .FormId {
        border: 0px;
        width: 60vw;
    }
}

@media (max-width: 767px) {
    .FormItemH1 {
        font-weight: bold;
        font-size: 10vw;
        font-family: Graphik Web;
        line-height: 12.5vw;
    }


    .FormItemH1.white {
        color: #ffffff;
    }

    .FormItemH1.black {
        color: #000000;
        padding-top: 25vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .FormItem {
        position: static;
        padding-bottom: 5vw;
    }

    .FormItemText1 {
        font-size: 1.5vw;
        font-family: Graphik Web;
    }

    .FormId {
        border: 0px;
        width: 90%;
    }
}
