@media (min-width: 768px) {
  .GiveFormId {
    border: 0px;
    width: 60vw;
  }

  .GiveItemH1 {
    color: #ffffff;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 3vw;
  }

  .GiveButton {
    font-family: Graphik Web !important;
    font-weight: bold !important;
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #ffffff !important;
    border-radius: 0px !important;
  }

  .GiveItemH2 {
    color: #ffffff;
    font-family: Graphik Web;
    font-weight: normal;
    width: 60vw;
    font-size: 1.5vw;
  }

  .GiveItemText {
    color: #ffffff;
    font-family: Graphik Web;
    width: 60vw;
    margin-bottom: 1vw;
    font-size: 1.2vw;
  }

  .GiveItemHR {

    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    width: 8.55vw;
    background-color: #ffffff;

  }

  .GiveItemBottom {
    height: 15vw;
  }

  .GiveItemOtherWayButton {
    font-family: Graphik Web;
    background-color: #000000;
    color: #ffffff;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    text-decoration: underline;
  }

  .GiveItemOtherWayButton:hover {
    font-family: Graphik Web;
    background-color: #000000;
    color: #0000ff;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    text-decoration: underline;
  }

  .GiveItemGreyBox {
    background-color: #EFEFF0;
    width: 60vw;
    padding: 5vw;
  }

  .GiveItemButton {
    background-color: #ffffff;
    border-radius: 0px;
    border-width: 1px;
    border-color: #000000;
    color: #000000;
    font-family: Graphik Web;
    font-weight: normal;
    margin: 0.5vw;
    padding: 0.7vw;
  }

  .GiveItemOtherWays,
  .GiveItemNeedHelp {
    font-weight: bold;
    font-family: Graphik Web;
    color: #ffffff;
    font-size: 1vw;
    margin-top: 2vw;

  }

  .GiveItemOtherWay {
    font-family: Graphik Web;
    color: #ffffff;
    float: left;
    font-size: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vw;
  }

  .GiveItemNeedHelpEmail {
    font-family: Graphik Web;
    color: #ffffff;
    float: left;
    font-size: 1vw;
    margin-bottom: 2vw;
  }

  .GiveItemOtherWayGroup {
    float: left;
  }

  .GiveItemNeedHelpGroup {
    float: right;
    width: 60vw;
    font-size: 1vw;
  }

  .giveItemDiv1 {
    position: relative;
    top: 2vw;
    left: 20vw;
    margin-bottom: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .GiveFormId {
    border: 0px;
    width: 60vw;
  }

  .GiveItemH1 {
    color: #ffffff;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 3vw;
  }

  .GiveButton {
    font-family: Graphik Web !important;
    font-weight: bold !important;
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #ffffff !important;
    border-radius: 0px !important;
  }

  .GiveItemH2 {
    color: #ffffff;
    font-family: Graphik Web;
    font-weight: normal;
    width: 60vw;
    font-size: 1.5vw;
  }

  .GiveItemText {
    color: #ffffff;
    font-family: Graphik Web;
    width: 60vw;
    margin-bottom: 1vw;
    font-size: 1.2vw;
  }

  .GiveItemHR {

    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    width: 8.55vw;
    background-color: #ffffff;

  }

  .GiveItemGreyBox {
    background-color: #EFEFF0;
    width: 60vw;
    padding: 5vw;
  }

  .GiveItemButton {
    background-color: #ffffff;
    border-radius: 0px;
    border-width: 1px;
    border-color: #000000;
    color: #000000;
    font-family: Graphik Web;
    font-weight: normal;
    margin: 0.5vw;
    padding: 0.7vw;
  }

  .GiveItemOtherWays,
  .GiveItemNeedHelp {
    font-weight: bold;
    font-family: Graphik Web;
    color: #ffffff;
    font-size: 1vw;
    margin-top: 2vw;

  }

  .GiveItemOtherWay {
    font-family: Graphik Web;
    color: #ffffff;
    float: left;
    font-size: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vw;
  }

  .GiveItemBottom {
    height: 15vw;
  }

  .GiveItemNeedHelpEmail {
    font-family: Graphik Web;
    color: #ffffff;
    float: left;
    font-size: 1vw;
    margin-bottom: 2vw;
  }

  .GiveItemOtherWayGroup {
    float: left;
  }

  .GiveItemNeedHelpGroup {
    float: right;
    width: 60vw;
    font-size: 1vw;
  }

  .giveItemDiv1 {
    position: relative;
    top: 2vw;
    left: 20vw;
    margin-bottom: 2vw;
  }
}

@media (max-width: 767px) {
  .GiveFormId {
    border: 0px;
    width: 60vw;
  }

  .GiveItemH1 {
    color: #ffffff;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 8.55vw;
    line-height: 10.67vw;
  }

  .GiveButton {
    font-family: Graphik Web !important;
    font-weight: bold !important;
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #ffffff !important;
    border-radius: 0px !important;
  }

  .GiveItemH2 {
    color: #ffffff;
    font-family: Graphik Web;
    font-weight: normal;
    width: 100%;
    font-size: 6.4vw;
    line-height: 8.55vw;
  }

  .GiveItemText {
    color: #ffffff;
    font-family: Graphik Web;
    width: 60vw;
    margin-bottom: 8vw;
    font-size: 4.3vw;
    width: 97%;
  }

  .GiveItemHR {

    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5vw;
    margin-bottom: 6.5vw;
    width: 8.55vw;
    background-color: #ffffff;

  }

  .GiveItemGreyBox {
    background-color: #EFEFF0;
    width: 96%;
    padding: 10vw 5vw 10vw 5vw;
  }

  .GiveItemButton {
    background-color: #ffffff;
    border-radius: 0px;
    border-width: 1px;
    border-color: #000000;
    color: #000000;
    font-family: Graphik Web;
    font-weight: normal;
    margin: 0.5vw;
    padding: 0.7vw;
  }

  .GiveItemOtherWays,
  .GiveItemNeedHelp {
    font-weight: bold;
    font-family: Graphik Web;
    color: #ffffff;
    font-size: 4.3vw;
    margin-top: 12vw;
    margin-bottom: 3vw;

  }

  .GiveItemOtherWay {
    font-family: Graphik Web;
    color: #ffffff;
    float: left;
    font-size: 4.3vw;
    margin-right: 1vw;
    margin-bottom: 5vw;
    width: 100%;
  }

  .GiveItemNeedHelpEmail {
    font-family: Graphik Web;
    color: #ffffff;
    float: left;
    font-size: 4.3vw;
    margin-bottom: 5vw;
  }

  .GiveItemOtherWayGroup {
    float: left;
    width: 96%;
  }

  .GiveItemNeedHelpGroup {
    float: right;
    width: 100%;
    font-size: 1vw;
  }

  .giveItemDiv1 {
    position: relative;
    top: 35vw;
    left: 2vw;
    margin-bottom: 2vw;
    width: 100%;
  }

  .GiveItemOtherWayButton {
    width: 100%;
    color: #ffffff;
  }
}