@use '../../theme';

@mixin goHeader($size) {
  font-family: Graphik Web;
  font-size: $size;
  font-weight: bold;
  color: theme.$onyxblacktext;
}

@mixin contentPosition($mobile: false) {
  @if $mobile {
    width: 100%;
    left: 0;
  } @else {
    position: relative;
    width: 70vw;
    left: 20vw;
  }
}

.GoContentText {
  color: theme.$onyxblacktext;
  font-family: Graphik Web;
}

.GoButton {
  color: white;
  background: theme.$onyxblacktext;
}

@media (min-width: 768px) {
  .GoContentItem {
    @include contentPosition();
  }
  .GoContentH1 {
    @include goHeader(2vw);
  }
  .GoContentH2 {
    @include goHeader(5vw);
  }
  .GoContentSubH1 {
    @include goHeader(1.5vw);
  }
  .GoContentSubH2 {
    @include goHeader(4vw);
  }
  .GoSubItems {
    @include contentPosition();
    margin: 5vw 0;
    width: 70vw;
    display: flex;
    flex-direction: row;
    .GoSubItem {
      margin-right: 5vw;
    }
  }
  .GoLink {
    @include contentPosition();
    margin-bottom: 1vw;
  }
  .GoButton {
    margin-bottom: 2vw;
  }
}

@media (max-width: 767px) {
  .GoContentItem,
  .GoSubItem {
    @include contentPosition($mobile: true);
    padding: 5vw 6vw;
  }

  .GoSubItems {
    display: flex;
    flex-direction: column;
  }

  .GoLink {
    @include contentPosition($mobile: true);
    padding: 3vw 6vw;
  }

  .GoContentH1,
  .GoContentSubH1 {
    @include goHeader(6.4vw);
    line-height: 8.55vw;
  }
  .GoContentH2,
  .GoContentSubH2 {
    @include goHeader(16vw);
  }
  .GoButton {
    margin-top: 6vw;
    margin-bottom: 10vw;
  }
}
