@media (min-width: 768px) {
    .headerItem {
        position: static;
        padding-bottom: 5vw;
    }

    .headerItemDiv {
        position: relative;
        z-index: 100;
    }

    .header1H1 {
        font-weight: bold;
        font-size: 3vw;
    }

    .headerText1 {
        width: 50vw;
        font-size: 1.5vw;
    }

    .headerText2 {
        font-size: 1.5vw;
    }

    .example-mask {
        position: absolute;
        top: 5vw;
        left: 58vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .headerItem {
        position: static;
        padding-bottom: 5vw;
    }

    .headerItemDiv {
        position: relative;
        z-index: 100;
    }

    .header1H1 {
        font-weight: bold;
        font-size: 3vw;
    }

    .headerText1 {
        width: 50vw;
        font-size: 1.5vw;
    }

    .headerText2 {
        font-size: 1.5vw;
    }

    .example-mask {
        position: absolute;
        top: 5vw;
        left: 58vw;
    }
}

@media (max-width: 767px) {
    .headerItem {
        position: static;
        padding-bottom: 5vw;
    }

    .headerItemDiv {
        position: relative;
        z-index: 100;
    }

    .header1H1 {
        font-weight: bold;
        font-size: 3vw;
    }

    .headerText1 {
        width: 50vw;
        font-size: 1.5vw;
    }

    .headerText2 {
        font-size: 1.5vw;
    }

    .example-mask {
        position: absolute;
        top: 5vw;
        left: 58vw;
    }
}
