@use '../../theme';
.HeroItemA2 {
  font-size: 0.99rem;
}

.heroBlackBoxA {
  font-size: 1.2vw;
}
.heroHover:hover {
  background-color: #333333;
}
.heroAContainer {
  margin-top: 1vw;
}
.secondaryCTA {
  font-size: 1.2vw;
  font-family: Graphik Web !important;
  color: #ffffff;
  font-weight: normal;
  background-color: theme.$onyxblacktext !important;
  border-width: 0 !important;
  border-radius: 0;
  text-decoration: underline !important;
  margin-left: 30px;
}
.secondaryCTA:hover {
  color: white;
}
.contactPastorLink {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.react-select-custom {
  &__menu-list {
    @media (min-width: 768px) and (max-width: 1500px) {
      max-height: 200px !important;
    }
  }
}

$no-footer-height: 38vw;
.partialNoFooterImage {
  width: 100vw;
  height: $no-footer-height;
  z-index: 50;
  object-fit: cover;
  position: absolute;
}

.partialNoFooter {
  position: relative;

  width: 100vw;
  height: $no-footer-height;
  padding-bottom: 0;
}

.calendarButton {
  font-size: 16px;
  padding: 0;
}

.calendarImage {
  margin-right: 10px;
  height: 25px;
}
.calendarImageRegion {
  margin-bottom: 5px;
  height: 15px;
}

.heroButton {
  &.yellow {
    background-color: #ffc60b !important;
  }
}
@media (min-width: 768px) {
  .covidButton {
    position: absolute;
    z-index: 1000;
    left: 20vw;
    top: 20vh;
  }
  .covidButtonDetail {
    background-color: #ffc60b !important;
    padding-left: 12.5vw !important;
    border: 0 !important;
    padding-right: 12.5vw !important;
    color: theme.$onyxblacktext !important;
  }
  .partialConnect {
    position: relative;
    left: 20vw;
    width: 80vw;
    height: 60vw;
  }
  .partialConnectImage {
    width: 80vw;
    height: 60vw;
    z-index: 50;
    object-fit: cover;
    position: absolute;
  }
  .partialConnectBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 2vw;
    right: 22vw;
    width: 38vw;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    .heroH1,
    .heroH2 {
      color: #1a1a1a;
    }
    .heroHr,
    .heroText1,
    .heroText2 {
      color: #54565a;
    }
    .heroButton {
    }
    .heroButton:hover {
      background-color: rgba(0, 0, 0, 0.7) !important;
    }
  }
  .signupContainer {
    width: 100%;
    margin-top: 1.5vw;
  }
  .signupButtons {
    font-family: Graphik Web !important;
    display: flex;
    color: #646469;
    [type='submit'].heroButton {
      font-weight: 700;
      flex: 0 !important;
      margin: 0 !important;
      background-color: #1a1a1a !important;
      border: 0 solid #1a1a1a;
      color: #ffffff !important;

      padding: 0.75rem 1.25rem;
    }
  }
  .emailWrapper {
    flex: 1;
    align-items: center;
    display: flex;
    overflow: hidden;
    border: 1.5px solid #c8c8c8;
    margin-right: 1vw;
    width: 23vw;
    [type='email'] {
      border: none;
      outline: none;
      margin: 0;
      font-size: 1vw;
    }
  }
  .contactIcon {
    padding: 0 1vw;
  }
  #mergeRow-gdpr {
    margin-top: 20px;
  }
  #mergeRow-gdpr fieldset label {
    font-weight: normal;
  }
  .heroItem {
    position: relative;
    height: 105vh;
  }
  .heroH1 {
    font-size: 2.2rem;
    font-family: Graphik Web;
    font-weight: bold;
    color: #ffffff;
  }
  .heroH2 {
    font-family: Graphik Web;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5vw;
    margin-top: 0vw !important;
    margin-bottom: 0vw !important;
  }
  .downarrow {
    height: 3vw;
    left: 2vw;
    bottom: 4vw;
    position: absolute;
    z-index: 100;
  }
  .animated {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  @-webkit-keyframes bounce {
    0%,
    20%,
    30%,
    70%,
    80%,
    100% {
      -webkit-transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-10px);
    }
  }
  @keyframes bounce {
    0%,
    20%,
    30%,
    70%,
    80%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
  }
  .partialNoFooterBox {
    position: absolute;
    left: 20vw;
    width: 46vw;
    top: 6vh;
    z-index: 1000;
  }
  .partialNoFooterBoxHr {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    width: 5vw;
    background-color: #ffffff;
  }
  .heroHr {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 3vw;
    background-color: #ffffff;
    color: #fff;
    opacity: 1;
  }
  .heroText1 {
    color: #c8c8c8;
  }
  .heroText2 {
    color: #c8c8c8;
  }
  .partial {
    width: 80vw;
    height: 45vw;
    z-index: 50;
    object-fit: cover;
    position: absolute;
  }
  .heroImage {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: 20vw;
    z-index: 50;
  }
  .heroImageGradient {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: 20vw;
    z-index: 51;
    background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 5%,
      rgba(255, 255, 255, 0) 66%
    );
  }
  .heroPartialBlackBox {
    position: absolute;
    background-color: theme.$onyxblacktext;
    padding: 2vw;
    left: 10vw;
    width: 36vw;
    top: 10vh;
    z-index: 100;
  }
  .heroBlackBox {
    position: relative;
    background-color: theme.$onyxblacktext;
    padding: 40px;
    left: 20vw;
    width: 50%;
    top: 30vh;
    z-index: 100;
  }
  .headerItem {
    position: static;
    padding-bottom: 5vw;
  }
  .headerItemDiv {
    position: relative;
    z-index: 100;
  }
  .header1H1 {
    font-weight: bold;
    font-size: 3vw;
  }
  .headerText1 {
    width: 50vw;
    font-size: 1.5vw;
  }
  .headerText2 {
    font-size: 1.5vw;
  }
  .example-mask {
    position: absolute;
    top: 0vw;
    left: 0vw;
  }
  .partialNoFooterLocationDropDown {
    font-family: Graphik Web;
    padding: 0px;
    width: 40vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  .partialLocationDropDown {
    font-family: Graphik Web;
    padding: 4px;
    width: 30vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  .emailInput {
    border: 0px;
  }
  .calendarButton {
    font-family: Graphik Web !important;
    color: #ffffff;
    font-weight: normal;
    background-color: theme.$onyxblacktext !important;
    border-width: 0 !important;
    border-radius: 0;
    text-decoration: underline !important;
  }
  .heroItemButton {
    margin-top: 1.5vw;
    color: theme.$onyxblacktext;
    background-color: #ffffff;
    border-radius: 0;
  }
  .divPartial {
    position: relative;
    left: 20vw;
    width: 80vw;
    height: 50vw;
    padding-bottom: 5vh;
  }
}
@media (min-width: 1400px) {
  .partialConnect {
    position: relative;
    left: 20vw;
    width: 80vw;
    height: 40vw;
  }
  .partialConnectImage {
    width: 80vw;
    height: 40vw;
    z-index: 50;
    object-fit: cover;
    position: absolute;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .heroH1 {
    font-size: 1.4rem;
  }
  .heroText2 {
    font-size: 0.8rem;
  }
  .heroHr {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .HeroItemA2 {
    font-size: 0.9rem;
  }
  .heroText1 {
    line-height: 1.1rem;
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .covidButtonDetail {
    background-color: #ffc60b !important;
    padding-left: 12.5vw !important;
    border: 0 !important;
    padding-right: 12.5vw !important;
    color: theme.$onyxblacktext !important;
  }
  .covidButton {
    position: absolute;
    z-index: 1000;
    left: 20vw;
    top: 20vh;
  }
  .partialConnect {
    position: relative;
    left: 20vw;
    width: 80vw;
    height: 7vw;
  }
  .partialConnectImage {
    width: 80vw;
    height: 60vw;
    z-index: 50;
    object-fit: cover;
    position: absolute;
  }
  .partialConnectBox {
    position: absolute;
    background-color: #ffffff;
    padding: 2vw;
    right: 22vw;
    width: 38vw;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    .heroH1,
    .heroH2 {
      color: #1a1a1a;
    }
    .heroHr,
    .heroText1,
    .heroText2 {
      color: #54565a;
    }
  }
  .signupContainer {
    width: 100%;
    margin-top: 1.5vw;
  }
  .signupButtons {
    font-family: Graphik Web !important;
    display: flex;

    color: #646469;
    [type='submit'].heroButton {
      font-weight: 700;
      flex: 0 !important;
      margin: 0 !important;
      background-color: #1a1a1a !important;
      border: 0 solid #1a1a1a;
      color: #ffffff !important;
      padding: 0.75rem 1.25rem;
    }
  }
  .emailWrapper {
    flex: 1;
    align-items: center;
    display: flex;
    border: 1.5px solid #c8c8c8;
    margin-right: 1vw;
    [type='email'] {
      border: none;
      outline: none;
      margin: 0;
      font-size: 1vw;
    }
  }
  .contactIcon {
    padding: 0 1vw;
  }
  #mergeRow-gdpr {
    margin-top: 20px;
  }
  #mergeRow-gdpr fieldset label {
    font-weight: normal;
  }
  .heroH2 {
    font-family: Graphik Web;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5vw;
    margin-top: 0vw !important;
    margin-bottom: 0vw !important;
  }
  .heroItem {
    position: relative;
    width: 100vw;
    height: 105vh;
    padding-bottom: 5vh;
  }
  .heroH1 {
    font-family: Graphik Web;
    font-weight: bold;
    color: #ffffff;
  }
  .downarrow {
    height: 4vw;
    left: 2vw;
    bottom: 4vw;
    position: absolute;
    z-index: 100;
  }
  .animated {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  @-webkit-keyframes bounce {
    0%,
    20%,
    30%,
    70%,
    80%,
    100% {
      -webkit-transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-10px);
    }
  }
  @keyframes bounce {
    0%,
    20%,
    30%,
    70%,
    80%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
  }
  .heroHr {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 3vw;
    background-color: #ffffff;
    color: #ffffff;
    opacity: 1;
  }
  .partialNoFooterBox {
    position: absolute;
    padding: 2vw;
    left: 18vw;
    width: 46vw;
    top: 6vh;
    z-index: 1000;
  }
  .partialNoFooterBoxHr {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    width: 5vw;
    background-color: #ffffff;
  }
  .heroText1 {
    color: #c8c8c8;
  }
  .heroText2 {
    color: #c8c8c8;
  }
  .partial {
    width: 80vw;
    height: 45vw;
    z-index: 50;
    object-fit: cover;
    position: absolute;
  }
  .heroImage {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: 20vw;
    z-index: 50;
  }
  .heroImageGradient {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: 20vw;
    z-index: 51;
    background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 5%,
      rgba(255, 255, 255, 0) 66%
    );
  }
  .heroPartialBlackBox {
    position: absolute;
    background-color: theme.$onyxblacktext;
    padding: 2vw;
    left: 10vw;
    width: 36vw;
    top: 10vh;
    z-index: 100;
  }
  .heroBlackBox {
    position: absolute;
    background-color: theme.$onyxblacktext;
    padding: 40px;
    left: 20vw;
    width: 50%;
    top: 30vh;
    z-index: 100;
  }
  .headerItem {
    position: static;
    padding-bottom: 5vw;
  }
  .headerItemDiv {
    position: relative;
    z-index: 100;
  }
  .header1H1 {
    font-weight: bold;
    font-size: 3vw;
  }
  .headerText1 {
    width: 50vw;
    font-size: 1.5vw;
  }
  .headerText2 {
    font-size: 1.5vw;
  }
  .example-mask {
    position: absolute;
    top: 0vw;
    left: 0vw;
  }
  .partialNoFooterLocationDropDown {
    font-family: Graphik Web;
    padding: 0px;
    width: 40vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  .partialLocationDropDown {
    font-family: Graphik Web;
    padding: 4px;
    width: 30vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  .emailInput {
    border: 0px;
  }
  .calendarButton {
    font-family: Graphik Web !important;
    margin-top: 1vw;
    color: #ffffff;
    background-color: theme.$onyxblacktext !important;
    border-width: 0 !important;
    border-radius: 0;
    text-decoration: underline !important;
  }
  .heroItemButton {
    margin-top: 1.5vw;
    color: theme.$onyxblacktext;
    background-color: #ffffff;
    border-radius: 0;
  }
  .divPartial {
    position: relative;
    left: 20vw;
    width: 80vw;
    height: 50vw;
    padding-bottom: 5vh;
  }
}

@media (max-width: 1050px) {
  .secondaryCTA {
    margin-left: 0px;
  }
  .contactPastorLink {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contactPastor {
    margin-top: 8px;
  }
}

@media (min-width: 1200px) {
  .heroBlackBox {
    width: 39%;
  }
  .EditorConfigurationParent {
    .heroBlackBox {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .secondaryCTA {
    font-size: 14px;
  }
  .covidButtonDetail {
    background-color: #ffc60b !important;
    padding-left: 10vw !important;
    border: 0 !important;
    padding-right: 10vw !important;
    width: 70vw !important;
    left: 0vw !important;
    right: 10vw !important;
    color: theme.$onyxblacktext !important;
  }
  .covidButton {
    position: absolute;
    z-index: 1000;
    left: 15vw;
    top: 40vh;
  }
  .partialConnect {
    position: relative;
    width: 100vw;
    margin-top: 30vw;
  }
  .partialConnectImage {
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  .partialConnectBox {
    background-color: #ffffff;
    padding: 2vw;
    left: 0vw;
    width: 100vw;
    z-index: 99;
    padding: 10vw 5vw 10vw 5vw;
    .heroH1,
    .heroH2 {
      color: #1a1a1a;
    }
    .heroHr,
    .heroText1,
    .heroText2 {
      color: #54565a;
    }
  }
  .signupContainer {
    width: 100%;
    margin-top: 1.5vw;
  }
  .signupButtons {
    font-family: Graphik Web !important;
    display: flex;
    flex-wrap: wrap;
    color: #646469;
    [type='submit'].heroButton {
      font-weight: 700;
      flex: 0 !important;
      margin: 0 !important;
      background-color: #1a1a1a !important;
      border: 0 solid #1a1a1a;
      color: #ffffff !important;
      padding: 0.75rem 1.25rem;
    }
  }
  .emailWrapper {
    flex: 0 1 auto;
    width: 100%;
    align-items: center;
    display: flex;
    border: 1.5px solid #c8c8c8;
    margin-right: 4.5vw;
    margin-bottom: 4.5vw;
    [type='email'] {
      border: none;
      outline: none;
      margin: 0;
    }
  }
  .contactIcon {
    padding: 0 4.5vw;
  }
  #mergeRow-gdpr {
    margin-top: 20px;
  }
  #mergeRow-gdpr fieldset label {
    font-weight: normal;
  }
  .heroH2 {
    font-family: Graphik Web;
    font-weight: bold;
    color: #ffffff;
    font-size: 4.3vw;
    line-height: 6.4vw;
    margin-top: 0vw !important;
    margin-bottom: 0vw !important;
  }
  .heroItem {
    position: relative;
    width: 100vw;
    padding-bottom: 5vh;
  }
  .heroH1 {
    font-family: Graphik Web;
    font-weight: bold;
    color: #ffffff;
  }
  .downarrow {
    display: none;
  }
  .heroHr {
    margin-top: 32px;
    margin-bottom: 32px;
    width: 8.55vw;
    background-color: #ffffff;
    color: #ffffff;
    opacity: 1;
  }
  .heroText1 {
    font-weight: normal;

    color: #c8c8c8;
  }
  .heroText2 {
    color: #c8c8c8;
  }
  .partial {
    width: 100%;
    height: 95vw;
    z-index: 50;
    object-fit: cover;
    position: relative;
  }
  $mobile-no-footer-height: 90vh;
  .partialNoFooterImage {
    width: 100vw;
    height: $mobile-no-footer-height;
  }
  .partialNoFooter {
    left: 0;
    width: 100vw;
    height: $mobile-no-footer-height;
  }
  .partialNoFooterBox {
    position: absolute;
    padding: 30vw 6vw 6vw 6vw;
    left: 5vw;
    width: 46vw;
    top: 18vh;
    z-index: 1000;
  }
  .partialNoFooterBoxHr {
    margin-left: 0;
    margin-right: 0;
    margin-top: 4.5vw;
    margin-bottom: 4.5vw;
    width: 8.55vw;
    background-color: #ffffff;
  }
  .partialNoFooterLocationDropDown {
    font-family: Graphik Web;
    padding: 0px;
    width: 86vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  .partialLocationDropDown {
    font-family: Graphik Web;
    padding: 4px;
    width: 86vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  .heroImage {
    width: 100vw;
    height: 35vh;
    object-fit: cover;
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: 20vw;
    z-index: 50;
    object-position: 85% 50%;
  }
  .heroImageGradient {
    visibility: hidden;
  }
  .heroBlackBox {
    background-color: theme.$onyxblacktext;
    padding: 32px 22px;
    z-index: 100;
  }
  .heroPartialBlackBox {
    background-color: theme.$onyxblacktext;
    width: 100vw;
    padding: 10vw 6vw 10vw 6vw;
  }
  .headerItem {
    position: static;
    padding-bottom: 5vw;
  }
  .headerItemDiv {
    position: relative;
    z-index: 100;
  }
  .header1H1 {
    font-weight: bold;
    font-size: 3vw;
  }
  .headerText1 {
    width: 50vw;
    font-size: 1.5vw;
  }
  .headerText2 {
    font-size: 1.5vw;
  }
  .example-mask {
    position: absolute;
    top: 5vw;
    left: 58vw;
  }
  .partialNoFooterBox {
    position: relative;
    padding: 6vw;
    left: 0vw;
    width: 88vw;
    z-index: 1000;
  }
  .partialNoFooterLocationDropDown {
    font-family: Graphik Web;
    padding: 0px;
    width: 86vw;
    margin-top: 2vw;
    margin-bottom: 4vw;
  }
  .emailInput {
    border: 0px;
  }
  .calendarButton {
    font-family: Graphik Web !important;
    font-weight: normal;
    color: #ffffff;
    background-color: theme.$onyxblacktext !important;
    border-width: 0 !important;
    border-radius: 0;
    text-decoration: underline !important;
  }
  .heroItemButton {
    margin-top: 1.5vw;
    color: theme.$onyxblacktext;
    background-color: #ffffff;
    border-radius: 0;
  }
  .HeroItemA2 {
    font-size: 4vw;
  }
  .divPartial {
    position: relative;
    width: 100vw;
    top: 3vw;
    margin-bottom: 0vw;
  }
  .heroBlackBoxA {
    font-size: 4vw;
  }
  .heroAContainer {
    margin-top: 5vw;
  }
}
