@media (min-width: 768px) {
    .heroH1 {
        font-family: Graphik Web;
        font-weight: bold;
        color: #ffffff;
        font-size: 3vw;
    }

    .heroH2 {}

    .heroHr {
        margin-left: 0;
        margin-right: 0;
        margin-top: 1.5vw; margin-bottom: 1.5vw;
        width: 8.55vw;
        background-color: #ffffff;
    }

    .heroText1 {
        font-family: Graphik Web;
        width: 32vw;
        color: #ffffff;
        font-size: 1.5vw;
    }

    .heroText2 {
        font-family: Graphik Web;
        width: 32vw;
        color: #ffffff;
        font-size: 1vw;
    }

    .partialNoFooterImage {
        width: 80vw;
        height: 40vw;
        z-index: 50;
        object-fit: cover;
        position: absolute;
    }

    .partialNoFooter {
        position: relative;
        left: 20vw;
        width: 80vw;
        height: 38vw;
        padding-bottom: 0vh;
    }

    .heroImage {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        mask-mode: alpha;
        //  webkit-mask-mode: alpha;
        mask-repeat: no-repeat;
        //  webkit-mask-repeat: no-repeat;
        mask-size: 20vw;
        z-index: 50;
        //  webkit-mask-size: 20vw;
        //background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);

    }

    .heroImageGradient {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        mask-mode: alpha;
        //  webkit-mask-mode: alpha;
        mask-repeat: no-repeat;
        //  webkit-mask-repeat: no-repeat;
        mask-size: 20vw;
        z-index: 51;
        background-image: linear-gradient(135deg, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 66%);

    }

    .heroBlackBox {
        position: absolute;
        background-color: #000000aa;
        padding: 2vw;
        left: 20vw;
        width: 36vw;
        top: 30vh;
        z-index: 100;
    }

    .heroButton {
        margin-top: 1.5vw;
        color: #000000!important; background-color: #ffffff!important; border-radius: 0;
        padding: 1rem 1.5rem;
        font-weight: 800;
    }

    .headerItem {
        position: static;
        padding-bottom: 5vw;
    }

    .headerItemDiv {
        position: relative;
        z-index: 100;
    }

    .header1H1 {
        font-weight: bold;
        font-size: 3vw;
    }

    .headerText1 {
        width: 50vw;
        font-size: 1.5vw;
    }

    .headerText2 {
        font-size: 1.5vw;
    }

    .example-mask {
        position: absolute;
        top: 0vw;
        left: 0vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .heroH1 {
        font-family: Graphik Web;
        font-weight: bold;
        color: #ffffff;
        font-size: 3vw;
    }

    .heroH2 {}

    .heroHr {
        margin-left: 0;
        margin-right: 0;
        margin-top: 1.5vw; margin-bottom: 1.5vw;
        width: 8.55vw;
        background-color: #ffffff;
    }

    .heroText1 {
        font-family: Graphik Web;
        width: 32vw;
        color: #ffffff;
        font-size: 1.5vw;
    }

    .heroText2 {
        font-family: Graphik Web;
        width: 32vw;
        color: #ffffff;
        font-size: 1vw;
    }

    .partialNoFooterImage {
        width: 80vw;
        height: 40vw;
        z-index: 50;
        object-fit: cover;
        position: absolute;
    }

    .partialNoFooter {
        position: relative;
        left: 20vw;
        width: 80vw;
        height: 38vw;
        padding-bottom: 0vh;
    }

    .heroImage {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        mask-mode: alpha;
        //  webkit-mask-mode: alpha;
        mask-repeat: no-repeat;
        //  webkit-mask-repeat: no-repeat;
        mask-size: 20vw;
        z-index: 50;
        //  webkit-mask-size: 20vw;
        //background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);

    }

    .heroImageGradient {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        mask-mode: alpha;
        //  webkit-mask-mode: alpha;
        mask-repeat: no-repeat;
        //  webkit-mask-repeat: no-repeat;
        mask-size: 20vw;
        z-index: 51;
        background-image: linear-gradient(135deg, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 66%);

    }

    .heroBlackBox {
        position: absolute;
        background-color: #000000aa;
        padding: 2vw;
        left: 20vw;
        width: 36vw;
        top: 30vh;
        z-index: 100;
    }

    .heroButton {
        margin-top: 1.5vw;
        color: #000000!important; background-color: #ffffff!important; border-radius: 0;
        padding: 1rem 1.5rem;
        font-weight: 800;
    }

    .headerItem {
        position: static;
        padding-bottom: 5vw;
    }

    .headerItemDiv {
        position: relative;
        z-index: 100;
    }

    .header1H1 {
        font-weight: bold;
        font-size: 3vw;
    }

    .headerText1 {
        width: 50vw;
        font-size: 1.5vw;
    }

    .headerText2 {
        font-size: 1.5vw;
    }

    .example-mask {
        position: absolute;
        top: 0vw;
        left: 0vw;
    }
}

@media (max-width: 767px) {
    .heroH1 {
        font-family: Graphik Web;
        font-weight: bold;
        color: #ffffff;
        font-size: 10vw;
        line-height: 10.65vw;
    }

    .heroH2 {}

    .heroHr {
        margin-left: 0;
        margin-right: 0;
        margin-top: 4.5vw; margin-bottom: 4.5vw;
        width: 8.55vw;
        background-color: #ffffff;
    }

    .heroText1 {
        font-family: Graphik Web;
        width: 90vw;
        color: #ffffff;
        font-size: 5vw;
        line-height: 7.5vw;
        margin-bottom: 5vw;

    }

    .heroText2 {
        font-family: Graphik Web;
        width: 90vw;
        color: #ffffff;
        font-size: 2vw;
    }
    .partialNoFooterImage {
        width: 100vw;
        height: 175vw;
        z-index: 50;
        object-fit: cover;
        position: absolute;
    }

    .partialNoFooter {
        position: relative;
        left: 0vw;
        width: 100vw;
        height: 78vw;
        padding-bottom: 0vh;
    }
    .partialNoFooterBox {
    position: absolute;
    padding: 2vw;
    left: 5vw;
    width: 46vw;
    top: 18vh;
    z-index: 100;
}
    .heroImage {
        width: 100vw;
        height: 94vh;
        object-fit: cover;
        position: absolute;
        mask-mode: alpha;
        //  webkit-mask-mode: alpha;
        mask-repeat: no-repeat;
        //  webkit-mask-repeat: no-repeat;
        mask-size: 20vw;
        z-index: 50;
        //  webkit-mask-size: 20vw;
        //background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);

    }

    .heroImageGradient {
        visibility: hidden;
    }

    .heroBlackBox {
        position: absolute;
        background-color: #000000;
        padding: 2vw;
        left: 0vw;
        width: 100vw;
        // height: 65vh;
        top: 60vh;
        z-index: 100;
        padding: 10vw 6vw 10vw 6vw;
    }

    .heroButton {
        margin-top: 15vw;
        color: #000000!important; background-color: #ffffff!important; border-radius: 0;
        padding: 1rem 1.5rem;
        font-weight: 800!important;
    }

    .headerItem {
        position: static;
        padding-bottom: 5vw;
    }

    .headerItemDiv {
        position: relative;
        z-index: 100;
    }

    .header1H1 {
        font-weight: bold;
        font-size: 3vw;
    }

    .headerText1 {
        width: 50vw;
        font-size: 1.5vw;
    }

    .headerText2 {
        font-size: 1.5vw;
    }

    .example-mask {
        position: absolute;
        top: 5vw;
        left: 58vw;
    }
}
