@media (min-width: 768px) {
     .partialNoFooter {
        position: relative;
        left: 20vw;
        width: 80vw;
        height: 38vw;
        padding-bottom: 0vh;
    }

    .heroImage {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        mask-mode: alpha;
        //  webkit-mask-mode: alpha;
        mask-repeat: no-repeat;
        //  webkit-mask-repeat: no-repeat;
        mask-size: 20vw;
        z-index: 50;
        //  webkit-mask-size: 20vw;
        //background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);

    }

    .heroImageGradient {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        mask-mode: alpha;
        //  webkit-mask-mode: alpha;
        mask-repeat: no-repeat;
        //  webkit-mask-repeat: no-repeat;
        mask-size: 20vw;
        z-index: 51;
        background-image: linear-gradient(135deg, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 66%);

    }

    .heroBlackBox {
        position: absolute;
        background-color: #000000aa;
        padding: 2vw;
        left: 20vw;
        width: 36vw;
        top: 30vh;
        z-index: 100;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
     .partialNoFooter {
        position: relative;
        left: 20vw;
        width: 80vw;
        height: 38vw;
        padding-bottom: 0vh;
    }
    .heroImage {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        mask-mode: alpha;
        //  webkit-mask-mode: alpha;
        mask-repeat: no-repeat;
        //  webkit-mask-repeat: no-repeat;
        mask-size: 20vw;
        z-index: 50;
        //  webkit-mask-size: 20vw;
        //background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);

    }

    .heroImageGradient {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        mask-mode: alpha;
        //  webkit-mask-mode: alpha;
        mask-repeat: no-repeat;
        //  webkit-mask-repeat: no-repeat;
        mask-size: 20vw;
        z-index: 51;
        background-image: linear-gradient(135deg, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 66%);

    }

    .heroBlackBox {
        position: absolute;
        background-color: #000000aa;
        padding: 2vw;
        left: 20vw;
        width: 36vw;
        top: 30vh;
        z-index: 100;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .partialNoFooterImage{
         width: 100vw;
        height: 80vw;
        z-index: 50;
         object-fit:cover;
        position: absolute;
    }
    .partialNoFooter {
        position: relative;
        left: 0vw;
        width: 100vw;
        height: 78vw;
        padding-bottom: 0vh;
    }
    .heroImage {
        width: 100vw;
        height: 94vh;
        object-fit: cover;
        position: absolute;
        mask-mode: alpha;
        //  webkit-mask-mode: alpha;
        mask-repeat: no-repeat;
        //  webkit-mask-repeat: no-repeat;
        mask-size: 20vw;
        z-index: 50;
        //  webkit-mask-size: 20vw;
        //background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);

    }

    .heroImageGradient {
        visibility: hidden;
    }

    .heroBlackBox {
        position: absolute;
        background-color: #000000aa;
        padding: 2vw;
        left: 0vw;
        width: 100vw;
        height: 24vh;
        top: 70vh;
        z-index: 100;
        padding: 6vw;
    }
}