@media (min-width: 768px) {
      .HomeChurchItem {
            height: 100vh;
            position: static;
            padding-bottom: 5vw;
            padding-top: 2vh;
      }

      .HomeChurchItemDiv1 {
            position: relative;
            left: 20vw;
            width: 80vw;
      }

      .HomeChurchItemDiv2 {
            position: absolute;
            left: 40vw;
            width: 40vw;
            height: 88vh;
      }

      .HomeChurchItemDiv3 {
            position: absolute;
            left: 0vw;
            width: 40vw;
            height: 100vh;
      }
      .HomeChurchItemDiv4 {
            display: flex;
            flex-direction: row;
        }
        .HomeChurchItemListData {
            overflow-y: auto;
            height: 80vh;
        }
    
      .HomeChurchItemMap {
            left: 0vw;
            width: 40vw;
            height: 88vh;
      }

      .HomeChurchItemMapInfoWindowDiv1 {
            font-weight: bold;
            font-size: 1.3vw;
            margin-bottom: 0.5vw;
      }
      .HomeChurchItemMapInfoWindowDiv2 {
            font-size: 1.1vw;
            margin-bottom: 0.35vw;
      }
      .HomeChurchItemMapInfoWindowDiv3 {
      }

      .HomeChurchItemA {
            white-space: nowrap;
            color: #1A1A1A;
      }

      .HomeChurchItemImage {
            margin-right: 0.5vw;
            margin-top: 0.5vw;
            margin-bottom: 0.5vw;
      }
      .HomeChurchH1 {
            font-size: 3vw;
            font-family: Graphik Web;
            font-weight: bold;
        }
    
        .HomeChurchH3 {
            font-size: 2vw;
            font-family: Graphik Web;
        }
        .HomeChurchAddress,
        .HomeChurchDistances {
            font-size: 1vw;
            font-family: Graphik Web;
        }
    
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .HomeChurchItem {
            height: 100vh;
            position: static;
            padding-bottom: 5vw;
            padding-top: 2vh;
      }

      .HomeChurchItemDiv1 {
            position: relative;
            left: 20vw;
            width: 80vw;
      }

      .HomeChurchItemDiv2 {
            position: absolute;
            left: 40vw;
            width: 40vw;
            height: 88vh;
      }

      .HomeChurchItemDiv3 {
            position: absolute;
            left: 0vw;
            width: 40vw;
            height: 100vh;
      }
      .HomeChurchItemDiv4 {
            display: flex;
            flex-direction: row;
        }
        .HomeChurchItemListData {
            overflow-y: auto;
            height: 80vh;
        }
    
      .HomeChurchItemMap {
            left: 0vw;
            width: 40vw;
            height: 88vh;
      }

      .HomeChurchItemA {
            white-space: nowrap;
            color: #1A1A1A;
      }

      .HomeChurchItemImage {
            margin-right: 0.5vw;
            margin-top: 0.5vw;
            margin-bottom: 0.5vw;
      }
      .HomeChurchH1 {
            font-size: 3vw;
            font-family: Graphik Web;
            font-weight: bold;
        }
    
        .HomeChurchH3 {
            font-size: 2vw;
            font-family: Graphik Web;
        }
        .HomeChurchAddress,
        .HomeChurchDistances {
            font-size: 1vw;
            font-family: Graphik Web;
        }
    
}

@media (max-width: 767px) {
      .HomeChurchItem {
            height: 100vh;
            position: static;
            padding-bottom: 5vw;
            padding-top: 2vh;
      }

      .HomeChurchItemDiv1 {
            position: relative;
            left: 20vw;
            width: 80vw;
      }

      .HomeChurchItemDiv2 {
            position: absolute;
            left: 40vw;
            width: 40vw;
            height: 88vh;
      }

      .HomeChurchItemDiv3 {
            position: absolute;
            left: 0vw;
            width: 40vw;
            height: 100vh;
      }
      .HomeChurchItemDiv4 {
            display: flex;
            flex-direction: row;
        }
        .HomeChurchItemListData {
            overflow-y: auto;
            height: 80vh;
        }
    
      .HomeChurchItemMap {
            left: 0vw;
            width: 40vw;
            height: 88vh;
      }

      .HomeChurchItemA {
            white-space: nowrap;
            color: #1A1A1A;
      }

      .HomeChurchItemImage {
            margin-right: 0.5vw;
            margin-top: 0.5vw;
            margin-bottom: 0.5vw;
      }
      .HomeChurchH1 {
            font-size: 3vw;
            font-family: Graphik Web;
            font-weight: bold;
        }
    
        .HomeChurchH3 {
            font-size: 2vw;
            font-family: Graphik Web;
        }
        .HomeChurchAddress,
        .HomeChurchDistances {
            font-size: 1vw;
            font-family: Graphik Web;
        }
    
}