@use '../../theme';

.HomeChurchFormItemContainer {
  height: 149px;
  padding: 10px;
  .DaySelect {
    font-size: 1rem;
    font-weight: 400;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
  }
  .ClearAllButton {
    width: 100px;
    white-space: nowrap;
    font-size: 12px;
    line-height: 41px;
    font-weight: normal;
    background: #ffffff;
    border: none;
    height: 43px;
    padding: 0 10px;
    cursor: pointer;
    color: theme.$onyxblacktext;
    &:hover {
      text-decoration: underline !important;
    }
  }
}
.gm-style .gm-style-iw {
  background-color: #1a1a1a;
  color: white;

  border-radius: 0;
}
.gm-style .gm-style-iw-d {
  overflow: hidden !important;
  padding: 16px;
}
.ListButton {
  width: 72px;
  height: 56px;
  background-color: white;
  padding: 8px;
}
.HomeChurchItemMapInfoWindowDiv1 {
  font-family: Graphik Web;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.HomeChurchItemMapInfoWindowDiv3 {
  font-family: Graphik Web;
  font-size: 12px;
  line-height: 18px;
}
.HomeChurchItemMapInfoWindowDiv2 {
  line-height: 18px;
  margin: 12px auto;
}

.HomeChurchItemMapInfoWindowDayOfWeek {
  font-size: 16px;
  font-family: Graphik Web;
  line-height: 24px;
  margin-top: 8px;
}
.HomeChurchItemMapInfoWindowTimeOfDay {
  font-family: Graphik Web;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
}

.HomeChurchDayOfWeek {
  font-weight: 800;
  letter-spacing: -0.3px;
  display: inline;
  color: theme.$onyxblacktext;
}
.HomeChurchTimeOfDay {
  margin-top: 4px;
  font-weight: 800;
  letter-spacing: -0.3px;
  margin-bottom: 16px;
  color: theme.$onyxblacktext;
}

.ContactLeadersButton {
  font-family: Graphik Web;
  color: theme.$onyxblacktext !important;
  background: #ffffff !important;
  border-width: 0px;
  border-radius: 0;
  font-size: 16px;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
  padding: 12px 0px;

  &.ContactLeadersButton:hover {
    border-width: 0px;
    border-radius: 0;
    background-color: #ffffff;
    color: theme.$onyxblacktext;
    text-decoration: underline !important;
    font-weight: normal;
  }
  .ContactLeadersIcon {
    padding-right: 10px;
    height: 25px;
  }
}

.AddToCalendarButtonContainer {
  position: relative;
  display: inline-block;
  padding: 12px 30px 12px 0;

  .AddToCalendarIcon {
    position: absolute;
    left: 0;
    top: 0;
    padding-right: 0;
    padding-left: 0;
    pointer-events: none;
    top: 50%;
    font-size: 12px;
    transform: translateY(-50%);
  }
  .react-add-to-calendar__button {
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
    border-width: 0px;
    border-radius: 0;
    font-size: 16px;
    font-weight: normal;
    padding-left: 35px;
    text-decoration: none !important;
    cursor: pointer;
    &:hover {
      text-decoration: underline !important;
    }
  }
  .react-add-to-calendar__dropdown {
    position: absolute;
    z-index: 100;
    top: 48px;
    background: white;
    border: 1px solid theme.$onyxblacktext;
    padding: 10px 20px 0 20px;
    ul {
      list-style-type: none;
      padding: 0;
      font-family: Graphik Web;
      font-size: 14px;
      a {
        color: theme.$onyxblacktext !important;
        vertical-align: middle;
      }
      li {
        position: relative;
        vertical-align: middle;
      }
      a::before {
        width: 15px;
        height: 15px;
        vertical-align: middle;
        background-size: contain;
        background-position-y: center;
        background-repeat: no-repeat;
        display: inline-block;
        content: '';
        margin: 5px 5px 8px 0;
      }
      a.apple-link::before {
        background-image: url('../../svg/Apple.svg');
      }
      a.outlook-link::before {
        background-image: url('../../svg/Outlook.svg');
      }
      a.outlookcom-link::before {
        background-image: url('../../svg/Outlook.svg');
      }
      a.yahoo-link::before {
        background-image: url('../../svg/Yahoo.svg');
      }
      a.google-link::before {
        background-image: url('../../svg/Google.svg');
      }
    }
  }
}

.LoadingContainer {
  padding: 20px;
  padding-left: 0;
  margin-right: 10px;

  .LoadingTitleContainer {
    .spinner-border {
      vertical-align: middle;
    }
    .LoadingTitle {
      font-size: 18px;
      vertical-align: middle;
      padding-left: 10px;
      font-weight: 700;
      color: theme.$onyxblacktext;
    }
  }
  .LoadingItem {
    vertical-align: middle;
    font-size: 14px;
    margin: 10px;
    font-weight: 600;
    display: inline-block;
    white-space: nowrap;
    img {
      width: 16px;
      margin-right: 8px;
      vertical-align: middle;
    }
    .LoadingLocationLabel {
      vertical-align: middle;
      color: theme.$onyxblacktext;
    }
    .LoadingImage {
      display: inline-block;
    }
    .LoadedImage {
      display: none;
    }
    &.Loaded {
      .LoadingImage {
        display: none;
      }
      .LoadedImage {
        display: inline-block;
      }
    }
  }
}

.UpdateLocationButton {
  border: 1px solid theme.$coolgray11;
  background-color: theme.$body-bg;
  border-radius: 2px;
}

@media (min-width: 768px) {
  .LoadingMargin {
    max-height: calc(88vh - 221px);
  }
  .ListButton {
    display: none;
  }
  .HomeChurchItem {
    height: 100vh;
    position: static;
    padding-bottom: 5vw;
    padding-top: 2vh;
  }

  .HomeChurchItemDiv1 {
    position: relative;
    left: 20vw;
    width: 80vw;
  }

  .HomeChurchItemDiv2 {
    position: absolute;
    left: 40vw;
    width: 40vw;
    height: 88vh;
  }

  .HomeChurchItemDiv3 {
    position: absolute;
    left: 0vw;
    width: 40vw;
    height: 88vh;
  }

  .HomeChurchItemDiv5 {
    border-bottom-width: 1px;
    margin-bottom: 10px;
    border-bottom-color: #c8c8c8;
    border-bottom-style: solid;
    padding-bottom: 10px;
  }
  .HomeChurchItemListData {
    overflow-y: auto;
    height: calc(88vh - 149px);
    padding: 0 10px 10px;
  }

  .HomeChurchItemMap {
    left: 0vw;
    width: 40vw;
    height: 88vh;
  }

  .HomeChurchItemA {
    white-space: nowrap;
    color: #1a1a1a;
  }

  .HomeChurchItemImage {
    margin-right: 0.5vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
  }
  .HomeChurchH1 {
    font-size: 48px;
    font-family: Graphik Web;
    font-weight: bold;
    color: theme.$onyxblacktext;
  }

  .HomeChurchH3 {
    font-size: 24px;
    font-family: Graphik Web;
    font-weight: bold;
    margin-top: 15px;
    color: theme.$onyxblacktext;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    &.selected {
      text-decoration: underline;
    }
  }
  .HomeChurchAddress,
  .HomeChurchDistances {
    font-size: 16px;
    font-family: Graphik Web;
    color: theme.$coolgray11;
  }
  .HomeChurchSiteAffiliation {
    display: inline;
  }
}

.HomeChurchLoading-enter {
  opacity: 0.01;

  &.HomeChurchLoading-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
}

.HomeChurchLoading-leave {
  opacity: 1;

  &.HomeChurchLoading-leave-active {
    opacity: 0.01;
    transition: all 750ms ease-in;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .HomeChurchItem {
    height: 100vh;
    position: static;
    padding-bottom: 5vw;
    padding-top: 2vh;
  }

  .HomeChurchItemDiv1 {
    position: relative;
    left: 20vw;
    width: 80vw;
  }

  .HomeChurchItemDiv2 {
    position: absolute;
    left: 40vw;
    width: 40vw;
    height: 88vh;
  }

  .HomeChurchItemDiv3 {
    position: absolute;
    left: 0vw;
    width: 40vw;
    height: 100vh;
  }
  .HomeChurchFormItemContainer {
    display: flex;
    flex-direction: row;
    .LocationSelect {
      flex-grow: 2;
    }
    .DaySelect {
      flex-grow: 1;
    }
  }
  .HomeChurchItemListData {
    overflow-y: auto;
    height: calc(88vh - 149px);
  }

  .HomeChurchItemMap {
    left: 0vw;
    width: 40vw;
    height: 88vh;
  }

  .HomeChurchItemA {
    white-space: nowrap;
    color: #1a1a1a;
  }

  .HomeChurchItemImage {
    margin-right: 0.5vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
  }
  .HomeChurchH1 {
    font-size: 24px;
    font-family: Graphik Web;
    font-weight: bold;
    color: theme.$onyxblacktext;
  }

  .HomeChurchH3 {
    font-size: 20px;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }
  .HomeChurchAddress,
  .HomeChurchDistances {
    font-size: 16px;
    font-family: Graphik Web;
  }
  .HomeChurchDayOfWeek {
    font-size: 14px;
    color: theme.$onyxblacktext;
  }
  .HomeChurchTimeOfDay {
    font-size: 14px;
    margin-bottom: 10px;
    color: theme.$onyxblacktext;
  }
  .ContactLeadersButton {
    font-size: 14px;
  }

  .AddToCalendarButtonContainer {
    .react-add-to-calendar__button {
      font-size: 14px;
    }
  }
}

@media (max-width: 767px) {
  .gm-style .gm-style-iw {
    max-height: 600px !important;
    max-width: 300px !important;
  }
  .gm-style .gm-style-iw-d {
    max-height: 600px !important;
    max-width: 280px !important;
  }
  .loadingMargin {
    margin-top: 15vw;
  }
  .HomeChurchDayOfWeek {
    display: inline;
  }
  .HomeChurchFormItemContainer {
    position: absolute;
    top: 25vw;
    width: 100%;
    .LocationSelect {
      flex-grow: 3;
      width: 100%;
      flex-shrink: 0;
    }
    .DaySelect {
      flex-grow: 1;
      flex-shrink: 1;
      font-size: 1rem;
      font-weight: 400;
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      border-radius: 0;
    }
    .ClearAllButton {
      white-space: nowrap;
      font-size: 12px;
      line-height: 41px;
      font-weight: normal;
      background: #ffffff;
      border: none;
      height: 43px;
      padding: 0 10px;
      cursor: pointer;
      color: theme.$onyxblacktext;
      &:hover {
        text-decoration: underline !important;
      }
    }
  }
  .LoadingContainer {
    position: absolute;
    top: 35vw;
    margin-left: -5vw;
    padding-left: 15px;
    .LoadingTitle {
      font-size: 16px !important;
    }
  }
  .HomeChurchItem {
    padding-bottom: 5vw;
    padding-top: 5vh;
  }

  .HomeChurchItemDiv1 {
    position: relative;
    left: 5vw;
    width: 90%;
  }

  .HomeChurchItemDiv2 {
    position: relative;
    // left: 0vw;
    top: 40vw;
    margin-bottom: 35vw;
    width: 100%;
    height: 56vh;
  }

  .HomeChurchItemDiv3 {
    left: 0vw;
    width: 90vw;
  }
  .HomeChurchItemDiv4 {
    display: flex;
    flex-direction: row;
  }

  .HomeChurchItemListData {
    position: relative;
    top: 52vh;
    padding-bottom: 52vh;
  }
  .MapView {
    .HomeChurchItemListData {
      display: none;
    }
  }
  .ListView {
    .HomeChurchItemMap {
      display: none;
    }
    .HomeChurchItemDiv2 {
      height: 0vh;
    }
    .HomeChurchItemListData {
      top: -53vh;
      padding-bottom: 0;
    }
    .HomeChurchItemDiv3 {
      height: 0;
    }
  }
  .HomeChurchItemMap {
    left: 0vw;
    height: 88vh;
  }

  .HomeChurchItemA {
    white-space: nowrap;
    color: #1a1a1a;
  }

  .HomeChurchItemImage {
    margin-right: 0.5vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
  }
  .HomeChurchH1 {
    font-size: 24px;
    font-family: Graphik Web;
    font-weight: bold;
    color: theme.$onyxblacktext;
  }

  .HomeChurchH3 {
    font-size: 24px;
    font-family: Graphik Web;
    line-height: 8.55vw;
    font-weight: 800;
    color: theme.$onyxblacktext;
  }
  .HomeChurchAddress,
  .HomeChurchDistances {
    font-size: 4.3vw;
    line-height: 6.4vw;
    font-family: Graphik Web;
  }

  .HomeChurchSiteAffiliation {
    display: inline;
    font-size: 4.3vw;
    font-weight: 800;
  }
  .HomeChurchItemDiv5 {
    margin-bottom: 3vh;
    padding-bottom: 3vh;
    border-bottom: 1px solid theme.$coolgray11;
  }

  .ContactLeadersButton {
    font-size: 14px;
  }

  .AddToCalendarButtonContainer {
    .react-add-to-calendar__button {
      font-size: 14px;
    }
  }

  .HomeChurchItemMapInfoWindowDiv1 {
    font-size: 16px;
  }
  .HomeChurchItemMapInfoWindowDiv2 {
    font-size: 16px;
  }

  .HomeChurchItemMapInfoWindowDayOfWeek {
    font-size: 14px;
    font-weight: 700;
  }
  .HomeChurchItemMapInfoWindowTimeOfDay {
    font-size: 14px;
    font-weight: 700;
  }
}
