@media (min-width: 768px) {
  .iframeItemDiv1.FormItem {
    position: static;
    padding-bottom: 5vw;
  }

  .iframeItemDiv2 {
    font-size: 1.5vw;
    font-family: Graphik Web;
  }

  .iframeItemIframe {
    border: 0px;
    width: 80vw;
  }
  .iframeItemIframePopup {
    border: 0px;
    width: 60vw;
  }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .iframeItemDiv1.FormItem {
    position: static;
    padding-bottom: 5vw;
  }

  .iframeItemDiv2 {
    font-size: 1.5vw;
    font-family: Graphik Web;
  }

  .iframeItemIframe {
    border: 0px;
    width: 80vw;
  }
  .iframeItemIframePopup {
    border: 0px;
    width: 60vw;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .iframeItemDiv1.FormItem {
    position: static;
    padding-bottom: 5vw;
  }

  .iframeItemDiv2 {
    font-size: 1.5vw;
    font-family: Graphik Web;
  }

  .iframeItemIframe {
    border: 0px;
    width: 90vw;
  }
  .iframeItemIframePopup {
    border: 0px;
    width: 100%;
  }
}
