@media (min-width: 768px) {
    .ListItemEventButton {
        background-color: #ffffff00 !important;
        color: #000000 !important;
        border: 0px !important;
    }

    .ListItem.horizontal,
    .ListItem.horizontalBig {
        position: static;
        padding-bottom: 5vw;
    }

    .ListItemDiv1 {
        position: relative;
        z-index: 99;
        left: 20vw;
        width: 80vw;
    }

    .ListItemDiv2 {
        position: relative;
        left: 0vw;
        width: 80vw;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .ListItemDiv3 {
        display: inline-block;
        vertical-align: top;
    }

    .ListItemDiv4 {
        font-weight: bold;
    }

    .ListItemDiv5 {
        clear: left;
    }

    .ListItemDiv6 {
        position: relative;
        left: 0vw;
        width: 80vw;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .ListItemDiv7 {
        width: 80vw;
        font-size: 1.5vw;
        font-family: Graphik Web;
        padding-bottom: 1vw;
    }

    .ListItemDiv8 {
        position: relative;
    }

    .ListItemDiv9 {
        position: absolute;
        left: 12.5vw;
        width: 5vw;
        bottom: 0vw;
        top: 0vw;
        border-color: #0000ff;
        border: solid 10px;
    }

    .ListItemDiv10 {
        position: relative;
        z-index: 99;
    }

    .ListItemDiv11 {
        width: 40vw;
        font-size: 1.25vw;
        font-family: Graphik Web;
    }

    .ListItemH1 {
        position: relative;
        left: 0vw;
        width: 80vw;
        font-weight: bold;
        font-size: 3vw;
        font-family: Graphik Web;
    }

    .ListItemH1.whiteText {
        color: #ffffff
    }

    .ListItemH1ImageList {
        font-size: 3vw;
        font-weight: bold;
        font-family: Graphik Web;
    }

    .ListItemH1ImageList2 {
        position: absolute;
        height: 20vw;
        width: 30vw;
        left: 0vw;
        object-fit: cover;
        top: 2.5vw;
    }

    .ListItemH3 {
        width: 40vw;
        font-size: 2vw;
        font-family: Graphik Web;
    }

    .ListItemImage {
        height: 10vw;
        margin-right: 1vw;
    }

    .ListItemCompassionLogo {
        height: 13vw;
        margin-right: 1vw;
    }

    .ListItemImage2 {
        width: 20vw;
        margin-right: 1vw;
    }

    .ListItemTeachingImageDiv {
        display: inline-block;
        vertical-align: top;
    }

    .ListItemTeachingImage {
        height: 10vw;
        margin-right: 1vw;
    }

    .ListItemSpeakersDiv {
        position: relative;
        left: 0vw;
        width: 80vw;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .ListItemText1 {
        position: relative;
        left: 0vw;
        width: 80vw;
        font-size: 1.5vw;
        font-family: Graphik Web;
    }

    .ListItemVideo {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        position: relative;
        :hover {
            .ListItemPlayImageOverlay {
                opacity: 0.75;
            }
        }
    }

    .ListItemVideo.whiteText {
        color: #ffffff
    }

    .ListItemVideoThumb {
        width: 20vw;
        margin-right: 1vw;
        object-fit: cover;
        height: 12vw;
    }

    .ListItemPlayImageOverlay {
        position: absolute;
        top: 0;
        left: 0; 
        right: 0;
        height: 12vw;
        text-align: center;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease;  
        img {
            height: 100%;
        }
    }

    .ListItemEpisodeNum,
    .ListItemName {
        width: 20vw;
        font-weight: bold;
        white-space: normal;
        font-family: Graphik Web;
    }

    .ListItemEpisodeLength {
        font-weight: bold;
    }

    .ListItemSeriesTitle,
    .ListItemContact,
    .ListItemPosition,
    .ListItemEmail,
    .ListItemPhone,
    .ListItemWebsite,
    .ListItemPublishedDate,
    .ListYearEpisode {
        width: 20vw;
        white-space: normal;
        font-family: Graphik Web;

    }

    .ListItemA {
        color: #1A1A1A;
    }

    .ListItemFB {
        margin-right: 0.5vw;
    }

    .ListItemTwitter,
    .ListItemInstagram {
        margin-right: 0.5vw;
        margin-left: 3vw;
    }

    .ListItemEvents {
        display: relative;
        width: 53vw;
        margin-right: 2vw;
        vertical-align: top;
    }

    .ListItemEvents:hover {
        background-color: #EFEFF0;
    }

    .ListItemCompassion {
        display: inline-block;
        width: 23vw;
        margin-right: 2vw;
        vertical-align: top;
    }

    .ListItemEventsDescription {
        white-space: normal;
        font-weight: bold;
        font-size: 2vw;
        font-family: Graphik Web;
    }

    .ListItemEventsDescription2 {
        white-space: normal;
        font-family: Graphik Web;

    }

    .ListItemEventsLocation {
        font-family: Graphik Web;
        font-weight: bold;
        margin-top: 10px;
    }

    .ListItemEventsDuration {
        font-family: Graphik Web;
        margin-top: 10px;
    }

    .ListItem.imageList {
        position: static;
        width: 100vw;
        padding-bottom: 5vw;
    }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .ListItemEventButton {
        background-color: #ffffff00 !important;
        color: #000000 !important;
        border: 0px !important;
    }

    .ListItem.horizontal,
    .ListItem.horizontalBig {
        position: static;
        padding-bottom: 5vw;
    }

    .ListItemDiv1 {
        position: relative;
        z-index: 99;
        left: 20vw;
        width: 80vw;
    }

    .ListItemDiv2 {
        position: relative;
        left: 0vw;
        width: 80vw;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .ListItemDiv3 {
        display: inline-block;
        vertical-align: top;
    }

    .ListItemDiv4 {
        font-weight: bold;
    }

    .ListItemDiv5 {
        clear: left;
    }

    .ListItemDiv6 {
        position: relative;
        left: 0vw;
        width: 80vw;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .ListItemDiv7 {
        width: 80vw;
        font-size: 1.5vw;
        font-family: Graphik Web;
        padding-bottom: 1vw;
    }

    .ListItemDiv8 {
        position: relative;
    }

    .ListItemDiv9 {
        position: absolute;
        left: 12.5vw;
        width: 5vw;
        bottom: 0vw;
        top: 0vw;
        border-color: #0000ff;
        border: solid 10px;
    }

    .ListItemDiv10 {
        position: relative;
        z-index: 99;
    }

    .ListItemDiv11 {
        width: 40vw;
        font-size: 1.25vw;
        font-family: Graphik Web;
    }

    .ListItemH1 {
        position: relative;
        left: 0vw;
        width: 80vw;
        font-weight: bold;
        font-size: 3vw;
    }

    .ListItemH1.whiteText {
        color: #ffffff
    }

    .ListItemH1ImageList {
        font-size: 3vw;
        font-weight: bold;
        font-family: Graphik Web;
    }

    .ListItemH1ImageList2 {
        position: absolute;
        height: 20vw;
        width: 30vw;
        left: 0vw;
        object-fit: cover;
        top: 2.5vw;
    }

    .ListItemH3 {
        width: 40vw;
        font-size: 2vw;
        font-family: Graphik Web;
    }

    .ListItemImage {
        height: 10vw;
        margin-right: 1vw;
    }

    .ListItemCompassionLogo {
        height: 13vw;
        margin-right: 1vw;
    }

    .ListItemImage2 {
        width: 20vw;
        margin-right: 1vw;
    }

    .ListItemTeachingImageDiv {
        display: inline-block;
        vertical-align: top;
    }

    .ListItemTeachingImage {
        height: 10vw;
        margin-right: 1vw;
    }

    .ListItemSpeakersDiv {
        position: relative;
        left: 0vw;
        width: 80vw;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .ListItemText1 {
        position: relative;
        left: 0vw;
        width: 80vw;
        font-size: 1.5vw;
        font-family: Graphik Web;
    }

    .ListItemVideo {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
    }

    .ListItemVideo.whiteText {
        color: #ffffff
    }

    .ListItemVideoThumb {
        width: 20vw;
        margin-right: 1vw;
        object-fit: cover;
        height: 12vw;
    }

    .ListItemEpisodeNum,
    .ListItemName {
        width: 20vw;
        font-weight: bold;
        white-space: normal;
        font-family: Graphik Web;
    }

    .ListItemEpisodeLength {
        font-weight: bold;
    }

    .ListItemSeriesTitle,
    .ListItemContact,
    .ListItemPosition,
    .ListItemEmail,
    .ListItemPhone,
    .ListItemWebsite,
    .ListItemPublishedDate,
    .ListYearEpisode {
        width: 20vw;
        white-space: normal;
        font-family: Graphik Web;

    }

    .ListItemA {
        color: #1A1A1A;
    }

    .ListItemFB {
        margin-right: 0.5vw;
    }

    .ListItemTwitter,
    .ListItemInstagram {
        margin-right: 0.5vw;
        margin-left: 3vw;
    }

    .ListItemEvents {
        display: relative;
        width: 53vw;
        margin-right: 2vw;

        vertical-align: top;
    }

    .ListItemEvents:hover {
        background-color: #EFEFF0;
    }

    .ListItemCompassion {
        display: inline-block;
        width: 23vw;
        margin-right: 2vw;

        vertical-align: top;
    }

    .ListItemEventsDescription {
        white-space: normal;
        font-weight: bold;
        font-size: 2vw;
        font-family: Graphik Web;

    }

    .ListItemEventsDescription2 {
        white-space: normal;
        font-family: Graphik Web;

    }

    .ListItem.imageList {
        position: static;
        width: 100vw;
        padding-bottom: 5vw;
    }

}

@media (max-width: 767px) {
    .ListItemEventButton {
        background-color: #ffffff00 !important;
        color: #000000 !important;
        border: 0px !important;
    }

    .ListItem.horizontal,
    .ListItem.horizontalBig {
        position: static;
        padding-bottom: 5vw;
    }

    .ListItemDiv1 {
        position: relative;
        z-index: 99;
        width: 80vw;
        padding: 10vw 6vw 6vw;
        // margin-top: 65vw;
    }

    .ListItemDiv2 {
        position: relative;
        left: 0vw;
        width: 95vw;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .ListItemDiv3 {
        display: inline-block;
        vertical-align: top;
        width: 50vw;
    }

    .ListItemDiv4 {
        font-weight: bold;
    }

    .ListItemDiv5 {
        clear: left;
    }

    .ListItemDiv6 {
        position: relative;
        left: 0vw;
        width: 95vw;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .ListItemDiv7 {
        width: 90vw;
        font-size: 5vw;
        font-family: Graphik Web;
        padding-bottom: 1vw;
    }

    .ListItemDiv8 {
        position: relative;
        width: 87vw;
    }

    .ListItemDiv9 {
        position: absolute;
        left: -25vw;
        width: 75vw;
        height: 15vh;
        bottom: 0vw;
        top: 13vw;
        border-color: #0000ff;
        border: solid 10px;
    }

    .ListItemDiv10 {
        position: relative;
        z-index: 99;
        top: 25vw;
        height: 75vh;
    }

    .ListItemDiv10:nth-last-child(1) {
        margin-bottom: 30vw;
    }

    .ListItemDiv11 {
        width: 100%;
        font-size: 4.27vw;
        font-family: Graphik Web;
    }

    .ListItemH1 {
        position: relative;
        left: 0vw;
        width: 80vw;
        color: #000000;
        margin-bottom: 8.55vw;;
        font-size: 10vw;
        font-weight: 700;
        font-family: Graphik Web;
    }

    .ListItemH1.whiteText {
        color: #ffffff
    }

    .ListItemH1ImageList {
        font-size: 10vw;
        font-weight: bold;
        font-family: Graphik Web;
    }

    .ListItemH1ImageList2 {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0vw;
        object-fit: contain;
        top: -40vw;
    }

    .ListItemH3 {
        width: 100%;
        font-size: 6.4vw;
        font-weight: bold;
        font-family: Graphik Web;
    }

    .ListItemImage {
        height: 10vw;
        margin-right: 1vw;
    }

    .ListItemCompassionLogo {
        height: 100%;
        width: 100%;
        // margin-right: 1vw;
        margin-bottom: 5.5vw;
    }

    .ListItemImage2 {
        width: 100%;
        margin-right: 1vw;
    }

    .ListItemTeachingImageDiv {
        display: inline-block;
        vertical-align: top;
    }

    .ListItemTeachingImage {
        height: 10vw;
        margin-right: 1vw;
    }

    .ListItemSpeakersDiv {
        position: relative;
        left: 0vw;
        width: 80vw;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .ListItemText1 {
        position: relative;
        left: 0vw;
        width: 80vw;
        font-size: 5vw;
        line-height: 7.5vw;
        font-family: Graphik Web;
        margin-bottom: 10vw;
    }

    .ListItemVideo {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        width: 75%;
        margin-right: 6.4vw;
    }

    .ListItemVideo.whiteText {
        color: #ffffff
    }

    .ListItemVideoThumb {
        width: 100%;
        margin-right: 1vw;
        object-fit: cover;
        height: 100%;
    }

    .ListItemEpisodeNum,
    .ListItemName {
        width: 100%;
        font-weight: bold;
        white-space: normal;
        font-family: Graphik Web;
        padding-top: 2vw;
    }

    .ListItemEpisodeLength {
        font-weight: bold;
    }


    .ListItemContact,
    .ListItemPosition,
    .ListItemEmail,
    .ListItemPhone,
    .ListItemWebsite {
        //width: 20vw;
        white-space: normal;
        font-family: Graphik Web;
    }

    .ListItemSeriesTitle,
    .ListItemPublishedDate,
    .ListYearEpisode {
      width: 100%;
      white-space: normal;
      font-family: Graphik Web;
      font-size: 3.2vw;
      line-height: 4.8vw;
    }

    .ListItemSeriesTitle {
      font-weight: 800;
    }

    .ListItemA {
        color: #1A1A1A;
    }

    .ListItemFB {
        margin-right: 0.5vw;
    }

    .ListItemTwitter,
    .ListItemInstagram {
        margin-right: 0.5vw;
        margin-left: 3vw;
    }

    .ListItemEvents {
        display: relative;
        width: 90vw;
        margin-right: 2vw;
        vertical-align: top;
    }

    .ListItemEvents:hover {
        background-color: #EFEFF0;
    }

    .ListItemCompassion {
        display: block;
        width: 100%;
        // margin-right: 2vw;
        vertical-align: top;
    }

    .ListItemEventsDescription {
        white-space: normal;
        font-family: Graphik Web;
        font-size: 6.4vw;
        line-height: 8.55vw;
        font-weight: 700;
        margin-bottom: .5rem;

    }

    .ListItemEventsDescription2 {
        white-space: normal;
        font-family: Graphik Web;
        margin-bottom: 20vw;

    }

    .ListItemEventsLocation {
        white-space: normal;
        font-family: Graphik Web;
        font-weight: bold;
        margin-top: 10px;
    }

    .ListItemEventsDuration {
        font-family: Graphik Web;
        margin-top: 10px;
    }

    .ListItem.imageList {
        position: static;
        width: 100vw;
        padding-bottom: 5vw;
    }

    .ListItemAllSeries {
        margin-top: 0;
    }
}
