@use '../../theme';
@use 'sass:math';

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 0 auto 50px;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: theme.$onyxblacktext;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}
.isWhiteLogo {
  color: #fff !important;
}
.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@mixin link-underline {
  text-decoration: none !important;
  border-bottom: 1px solid theme.$onyxblacktext;

  &:hover {
    color: inherit;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.BlogLink {
  text-decoration: none;
  &:hover {
    text-decoration: inherit;
  }
  &:focus {
    .BlogTitle {
      text-decoration: underline;
    }
  }
}

.BlogTitleAndArrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blogarrow {
  transition: 1s;
  width: 24px;
  height: 24px;
}

.ListInstagramButton {
  &:hover {
    text-emphasis: none;
    color: #efeff0;
    background-color: #54565a;
  }
  color: black;
  display: block;
  min-width: 214px;
  width: 8vw;
  border: solid 3px #1a1a1a;
  box-sizing: border-box;
  padding: 16px;
  text-decoration: none !important;

  margin-right: 3px;
  font-family: Graphik Web;
  font-weight: bold;
  margin-top: 16px;
  margin-left: 19vw;
}

.EventDateContainer {
  float: left;
  position: absolute;
  .EventDateMonth {
    font-family: Graphik Web;
    line-height: 3vw;
    font-size: 1.5vw;
    font-weight: bold;
    color: #1a1a1a;
    text-align: center;
  }
  .EventDateDay {
    text-align: center;
    font-family: Graphik Web;
    line-height: 3vw;
    font-size: 4vw;
    font-weight: bold;
    color: #1a1a1a;
  }
}

.ListInstagramContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.ListInstagramTile {
  margin-bottom: 24px;
}

.ListInstagramTile img {
  object-fit: cover;
  object-position: 50% 0%;
}

.imageList .links-container {
  margin-top: 12px;
  width: 28vw;
  .links-item {
    padding: 12px 0;
  }
}

@media (min-width: 768px) {
  .InstagramGridRectangle {
    background-color: #efeff0;
    width: 88vw;
    position: absolute;
    height: calc(18vw + 5.56vw + 38px);
    margin-top: 5.56vw;
    left: 0px;
    z-index: -1;
  }
  .BlogLink:hover {
    .blogarrow {
      transform: translateX(20px);
    }
  }

  .ListItemEventButton {
    background-color: #ffffff00 !important;
    color: theme.$onyxblacktext !important;
    border: 0px !important;
  }

  .ListInstagramContainer {
    left: 18vw;
    width: 82vw;
    position: relative;
  }
  .ListInstagramTile img {
    width: 18vw;
    height: 18vw;
  }
  .ListItem.horizontal,
  .ListItem.horizontalBig {
    position: static;
    padding-bottom: 5vw;
  }

  .ListItemDiv1 {
    position: relative;
    z-index: 99;
    left: 20vw;
    width: 80vw;
    &.isPopup {
      left: 10vw;
    }
  }

  .ListItemDiv1.horizontal-video-player {
    position: relative;
    z-index: 99;
    left: 10vw;
  }

  .ListItem.horizontal-video-player {
    margin-bottom: 3vw;
  }

  .ListItemDiv2 {
    position: relative;
    left: 0vw;
    width: 80vw;
    white-space: nowrap;
  }

  .ListItemDiv3 {
    display: inline-block;
    vertical-align: top;
  }

  .ListItemDiv4 {
    font-weight: bold;
  }

  .ListItemDiv5 {
    clear: left;
  }

  .ListItemDiv6 {
    position: relative;
    left: 0vw;
    width: 80vw;
    white-space: nowrap;
  }

  .ListItemDiv7 {
    width: 80vw;
    font-size: 1.5vw;
    font-family: Graphik Web;
    padding-bottom: 1vw;
    color: theme.$coolgray11;
  }

  .ListItemDiv8 {
    position: relative;
  }

  .ListItemDiv9 {
    position: absolute;
    left: 12.5vw;
    width: 5vw;
    bottom: 0vw;
    top: 0vw;
    border: solid 10px theme.$onyxblacktext;
  }

  .ListItemDiv10 {
    position: relative;
    z-index: 99;
  }

  .ListItemDiv11 {
    width: 31vw;
    &.multi-link {
      width: 36vw;
    }
    font-size: 1.25vw;
    font-family: Graphik Web;
    color: theme.$coolgray11;
  }

  .BlogItemH1 {
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 2vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .ListItemH1 {
    position: relative;
    left: 0vw;
    width: 80vw;
    font-weight: bold;
    font-size: 3vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .ListItemH1.whiteText {
    color: #ffffff;
  }

  .ListItemH1.horizontal-video-player {
    font-size: 2vw;
  }

  .ListItemH1ImageList {
    font-size: 3vw;
    font-weight: bold;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }
  .ListItemH1ImageListHeader {
    padding-top: 3vw;
    padding-bottom: 3vw;
    font-size: 3vw;
    font-weight: bold;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }
  .ListItemH1ImageList2 {
    position: absolute;
    height: 20vw;
    width: 30vw;
    left: 0vw;
    object-fit: cover;
    top: 2.5vw;
  }

  .ListItemH3 {
    width: 40vw;
    font-size: 2vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .ListItemImage {
    height: 10vw;
    margin-right: 1vw;
  }

  .ListItemCompassionLogo {
    height: 13vw;
    margin-right: 1vw;
  }

  .ListItemImage2 {
    width: 20vw;
    margin-right: 1vw;
  }

  .ListItemTeachingImageDiv {
    display: inline-block;
    vertical-align: top;
  }

  .ListItemTeachingImage {
    height: 10vw;
    margin-right: 1vw;
  }

  .ListItemSpeakersDiv {
    position: relative;
    left: 0vw;
    width: 80vw;
    white-space: nowrap;
  }

  .ListItemText1 {
    position: relative;
    left: 0vw;
    width: 75vw;
    font-size: 1.25vw;
    font-family: Graphik Web;
    color: theme.$coolgray11;
  }

  .ListItemVideo {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-color: transparent;
    text-align: left;
    border: none;
    &:hover {
      .ListItemPlayImageOverlay {
        opacity: 0.75;
      }
    }
  }

  .ListItemVideo.whiteText {
    color: #ffffff;
  }

  .ListItemVideoThumb {
    width: 20vw;
    margin-right: 1vw;
    object-fit: cover;
    height: 11.25vw;
  }

  .LoadMoreVideosCard {
    transition: 0.5s;
    width: 20vw;
    margin-right: 1vw;
    height: 11.25vw;
    border: 4px solid theme.$onyxblacktext;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .LoadMoreVideosCard:hover {
    transition: 0.5s;
    background: theme.$onyxblacktext;
    .LoadMoreVideosText {
      transition: 0.5s;
      color: white;
    }
  }

  .LoadMoreVideosText {
    transition: 0.5s;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 1.5vw;
    color: theme.$onyxblacktext;
  }

  .LoadMoreSeriesCard {
    cursor: pointer;
    transition: 0.5s;
    width: 20vw;
    height: 20vw * math.div(1248, 1056);
    margin-right: 1vw;
    border: 4px solid theme.$onyxblacktext;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .LoadMoreSeriesCard:hover {
    transition: 0.5s;
    background: theme.$onyxblacktext;
    .LoadMoreSeriesText {
      transition: 0.5s;
      color: white;
    }
  }

  .LoadMoreSeriesText {
    transition: 0.5s;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 1.5vw;
    color: theme.$onyxblacktext;
  }

  .ListItemPlayImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 12vw;
    text-align: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    img {
      height: 100%;
    }
  }

  .ListItemEpisodeNum {
    width: 20vw;
    font-weight: bold;
    white-space: normal;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .ListItemEpisodeLength {
    font-weight: bold;
  }

  .ListItemSeriesTitle,
  .ListItemContact,
  .ListItemWebsite,
  .ListItemPublishedDate,
  .ListYearEpisode {
    width: 20vw;
    white-space: normal;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .ListItemName {
    width: 18vw;
    font-weight: bold;
    font-size: 1.1vw;
    white-space: normal;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .ListItemEmail,
  .ListItemPhone {
    width: 18vw;
    white-space: normal;
    font-size: 1.1vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .ListItemPosition {
    width: 18vw;
    white-space: normal;
    font-size: 1.1vw;
    font-family: Graphik Web;
    color: theme.$coolgray11;
  }

  .ListItemWebsite {
    color: theme.$onyxblacktext;
    text-decoration: underline;
  }

  .ListItemWebsiteContainer {
    margin-top: 1vw;
  }

  .ListItemEmailText {
    color: theme.$onyxblacktext;
    @include link-underline();
  }

  .ListItemSocialLink {
    display: inline-block;
    width: 1.67vw;
    height: 1.67vw;
    margin-left: 1.67vw;
    color: #1a1a1a;
  }

  .ListItemFB {
    margin-right: 0.5vw;
  }

  .ListItemEvents {
    width: 70vw;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    margin-right: calc(2vw - 24px);
    margin-left: calc(2vw - 24px);
    vertical-align: top;
  }

  .ListItemEvents:hover {
    background-color: #efeff0;
    cursor: pointer;
    .ListItemEventsArrow {
      transition: transform 200ms ease-in-out;
      transition: 1s;
      transform: translate(20px);
    }
  }

  .ListItemEventsText {
    position: relative;
    left: 10vw;
  }

  .ListItemCompassion {
    display: inline-block;
    width: 23vw;
    margin-right: 2vw;
    vertical-align: top;
  }

  .ListItemCompassionDescription {
    white-space: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 2.3vw;
    margin-top: 1.5vw;
    font-family: Graphik Web;
    word-wrap: normal;
    color: theme.$onyxblacktext;
  }

  .ListItemCompassionDescription2 {
    margin-top: 1.5vw;
    white-space: normal;
    font-size: 1.05vw;
    font-family: Graphik Web;
    word-wrap: break-word;
    color: theme.$coolgray11;
  }

  .ListItemEventsDescription {
    white-space: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 2.3vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .ListItemEventsDescription2 {
    margin-top: 1.5vw;
    white-space: normal;
    font-size: 1.05vw;
    font-family: Graphik Web;
    color: theme.$coolgray11;
    width: 52vw;
  }

  .ListItemEventsLocation {
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 1.5vw;
    margin-top: 1.5vw;
    color: theme.$onyxblacktext;
  }

  .ListItemEventsDuration {
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 1.3vw;
    color: theme.$onyxblacktext;
  }

  .ListItemEventsIcons {
    margin-top: 3vw;
    display: flex;
    .ListItemEventsShare {
      margin-right: 5vw;
      float: right;
      .ListItemEventsShareLink {
        margin-left: 1vw;
      }
    }
    .ListItemEventsCalendar {
      .ListItemEventsCalendarLink {
        margin-left: 1vw;
      }
    }
  }

  .ListItemEventsArrow {
    float: right;
    margin-right: 2vw;
    width: 2.4vw;
    transition: 1s;
  }

  .ListItem.imageList {
    position: static;
    width: 100vw;
    padding-bottom: 5vw;
  }

  .CuriousPlayOverlay {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    height: math.div(9, 16) * 24vw;
    opacity: 0;
    transition: 0.5s ease;
    img {
      height: 100%;
    }
  }

  .CuriousVideoImage {
    width: 24vw;
    height: math.div(9, 16) * 24vw;
    transition: 0.5s ease;
    filter: grayscale(0.9);
  }

  .CuriousVideo {
    cursor: pointer;
    width: 24vw;
    height: math.div(9, 16) * 24vw;
    position: relative;
    background-color: #ffffff;
    border: none;
    &:hover {
      .CuriousVideoImage {
        filter: grayscale(0);
      }
      .CuriousPlayOverlay {
        opacity: 0.75;
      }
    }
  }

  .CuriousContainer {
    display: grid;
    grid-template-columns: repeat(3, 24vw);
    grid-template-rows: math.div(9, 16) * 24vw;
    column-gap: 1.67vw;
    row-gap: 1.67vw;
  }

  .WatchPageContainer {
    display: grid;
    grid-template-columns: repeat(4, 18.33vw);
    grid-template-rows: auto;
    column-gap: 1.67vw;
    row-gap: 1.67vw;
  }

  .WatchPageThumb {
    width: 18.33vw;
    object-fit: cover;
    height: 10.27vw;
  }

  .WatchPageVideo {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    position: relative;
    :hover {
      .WatchPagePlayImageOverlay {
        opacity: 0.75;
      }
    }
  }

  .WatchPageVideo.whiteText {
    color: #ffffff;
  }

  .WatchPagePlayImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10vw;
    text-align: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    img {
      height: 100%;
    }
  }

  .WatchPageEpisodeTitle {
    width: 18.5vw;
    font-weight: bold;
    white-space: normal;
    font-family: Graphik Web;
  }

  .WatchPagePublishedDate {
    width: 20vw;
    white-space: normal;
    font-family: Graphik Web;
  }

  .hide-desktop {
    display: none;
  }

  .CuriousText1 {
    position: relative;
    left: 0vw;
    width: 45vw;
    font-size: 1.25vw;
    font-family: Graphik Web;
    margin-bottom: 4vw;
    color: theme.$coolgray11;
  }

  .arrow {
    float: right;
    padding-top: 1px;
    width: 32px;
  }

  .author-only {
    color: #1a1a1a;
  }

  .BlogItem {
    display: flex;
    align-items: top;
    margin-bottom: 3.3vw;
    width: 78vw;
  }

  .BlogItem:hover {
    cursor: pointer;
  }

  .BlogSquareImage {
    width: 8.33vw;
    height: 8.33vw;
  }

  .BlogDesc {
    color: #54565a;
    margin-top: 1vw;
    width: 50vw;
    font-size: 1.1vw;
  }

  .BlogDetails {
    color: #54565a;
    font-size: 0.83vw;
  }

  .BlogTitle {
    color: #1a1a1a;
    font-weight: bold;
    font-size: 1.1vw;
  }

  .BlogContentContainer {
    display: inline-block;
    margin-left: 2vw;
    width: 64vw;
  }

  $staffwidth: 19vw;

  .StaffFlexArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // width: $staffwidth * 2;
    margin-right: 3vw;
  }

  .StaffImage {
    width: 7.5vw;
    height: 7.5vw;
    align-self: center;
  }

  .StaffContact {
    margin-top: 0.5vw;
  }

  .StaffItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    // width: $staffwidth;
    margin-bottom: 3vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .ListItemH1.horizontal-video-player {
    font-size: 3vw;
  }

  .ListItem.horizontal-video-player {
    margin-bottom: 3vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .ListItemEventButton {
    background-color: #ffffff00 !important;
    color: theme.$onyxblacktext !important;
    border: 0px !important;
  }

  .ListItem.horizontal,
  .ListItem.horizontalBig {
    position: static;
    padding-bottom: 5vw;
  }

  .ListItemDiv1 {
    position: relative;
    z-index: 99;
    left: 20vw;
    width: 80vw;
    &.isPopup {
      left: 10vw;
    }
  }

  .ListItemDiv1.horizontal-video-player {
    position: relative;
    z-index: 99;
    left: 10vw;
    width: 80vw;
  }

  .ListItemDiv2 {
    position: relative;
    left: 0vw;
    width: 80vw;
    white-space: nowrap;
  }

  .ListItemDiv3 {
    display: inline-block;
    vertical-align: top;
  }

  .ListItemDiv4 {
    font-weight: bold;
  }

  .ListItemDiv5 {
    clear: left;
  }

  .ListItemDiv6 {
    position: relative;
    left: 0vw;
    width: 80vw;
    white-space: nowrap;
  }

  .ListItemDiv7 {
    width: 80vw;
    font-size: 1.5vw;
    font-family: Graphik Web;
    padding-bottom: 1vw;
    color: theme.$coolgray11;
  }

  .ListItemDiv8 {
    position: relative;
  }

  .ListItemDiv9 {
    position: absolute;
    left: 12.5vw;
    width: 5vw;
    bottom: 0vw;
    top: 0vw;
    border: solid 10px theme.$onyxblacktext;
  }

  .ListItemDiv10 {
    position: relative;
    z-index: 99;
  }

  .ListItemH1 {
    position: relative;
    left: 0vw;
    width: 80vw;
    font-weight: bold;
    font-size: 3vw;
    color: theme.$onyxblacktext;
  }

  .BlogItemH1 {
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 2vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .ListItemH1.whiteText {
    color: #ffffff;
  }

  .ListItemH1.horizontal-video-player {
    font-size: 2vw;
  }

  .ListItemH1ImageList {
    font-size: 3vw;
    font-weight: bold;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }
  .ListItemH1ImageListHeader {
    font-size: 3vw;
    font-weight: bold;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }
  .ListItemH1ImageList2 {
    position: absolute;
    height: 20vw;
    width: 30vw;
    left: 0vw;
    object-fit: cover;
    top: 2.5vw;
  }

  .ListItemH3 {
    width: 40vw;
    font-size: 2vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .ListItemImage {
    height: 10vw;
    margin-right: 1vw;
  }

  .ListItemCompassionLogo {
    height: 13vw;
    margin-right: 1vw;
  }

  .ListItemImage2 {
    width: 20vw;
    margin-right: 1vw;
  }

  .ListItemTeachingImageDiv {
    display: inline-block;
    vertical-align: top;
  }

  .ListItemTeachingImage {
    height: 10vw;
    margin-right: 1vw;
  }

  .ListItemSpeakersDiv {
    position: relative;
    left: 0vw;
    width: 80vw;
    white-space: nowrap;
  }

  .ListItemText1 {
    position: relative;
    left: 0vw;
    width: 75vw;
    font-size: 1.25vw;
    font-family: Graphik Web;
    color: theme.$coolgray11;
  }
  .ListItemVideo {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    position: relative;
    &:hover {
      .ListItemPlayImageOverlay {
        opacity: 0.75;
      }
    }
  }

  .ListItemVideo.whiteText {
    color: #ffffff;
  }

  .ListItemVideoThumb {
    width: 20vw;
    margin-right: 1vw;
    object-fit: cover;
    height: 11.25vw;
  }

  .LoadMoreVideosCard {
    transition: 0.5s;
    width: 20vw;
    margin-right: 1vw;
    height: 11.25vw;
    border: 4px solid theme.$onyxblacktext;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .LoadMoreVideosCard:hover {
    transition: 0.5s;
    background: theme.$onyxblacktext;
    .LoadMoreVideosText {
      transition: 0.5s;
      color: white;
    }
  }

  .LoadMoreVideosText {
    transition: 0.5s;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 1.5vw;
    color: theme.$onyxblacktext;
  }

  .LoadMoreSeriesCard {
    cursor: pointer;
    transition: 0.5s;
    width: 20vw;
    height: 20vw * math.div(1248, 1056);
    margin-right: 1vw;
    border: 4px solid theme.$onyxblacktext;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .LoadMoreSeriesCard:hover {
    transition: 0.5s;
    background: theme.$onyxblacktext;
    .LoadMoreSeriesText {
      transition: 0.5s;
      color: white;
    }
  }

  .LoadMoreSeriesText {
    transition: 0.5s;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 1.5vw;
    color: theme.$onyxblacktext;
  }

  .ListItemPlayImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 12vw;
    text-align: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    img {
      height: 100%;
    }
  }
  .ListItemEpisodeNum,
  .ListItemName {
    width: 20vw;
    font-weight: bold;
    white-space: normal;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .ListItemEpisodeLength {
    font-weight: bold;
  }

  .ListItemSeriesTitle,
  .ListItemContact,
  .ListItemPosition,
  .ListItemEmail,
  .ListItemPhone,
  .ListItemWebsite,
  .ListItemPublishedDate,
  .ListYearEpisode {
    width: 20vw;
    white-space: normal;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .ListItemWebsite {
    color: theme.$onyxblacktext;
    text-decoration: underline;
  }

  .ListItemWebsiteContainer {
    margin-top: 1vw;
  }

  .ListItemEmailText {
    color: theme.$onyxblacktext;
  }

  .ListItemSocialLink {
    color: #1a1a1a;
  }

  .ListItemFB {
    margin-right: 0.5vw;
  }

  .ListItemEvents {
    display: relative;
    width: 53vw;
    margin-right: 2vw;

    vertical-align: top;
  }

  .ListItemEvents:hover {
    background-color: #efeff0;
    cursor: pointer;
  }

  .ListItemCompassion {
    display: inline-block;
    width: 23vw;
    margin-right: 2vw;
    vertical-align: top;
  }

  .ListItemEventsDescription {
    white-space: normal;
    font-weight: bold;
    font-size: 2vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }
  .ListItemCompassionDescription {
    white-space: normal;
    font-weight: bold;
    font-size: 2vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .ListItemEventsDescription2 {
    white-space: normal;
    font-family: Graphik Web;
    color: theme.$coolgray11;
    word-wrap: break-word;
  }

  .ListItemCompassionDescription2 {
    white-space: normal;
    font-family: Graphik Web;
    color: theme.$coolgray11;
    word-wrap: break-word;
  }

  .ListItem.imageList {
    position: static;
    width: 100vw;
    padding-bottom: 5vw;
  }
  .hide-desktop {
    display: none;
  }

  .CuriousText1 {
    position: relative;
    left: 0vw;
    font-size: 1.25vw;
    font-family: Graphik Web;
    margin-bottom: 4vw;
    color: theme.$coolgray11;
  }

  .arrow {
    float: right;
    width: 32px;
    padding: 0;
  }

  .WatchPageContainer {
    display: grid;
    grid-template-columns: repeat(4, 18.33vw);
    grid-template-rows: auto;
    column-gap: 1.67vw;
    row-gap: 3.33vw;
  }

  .WatchPageThumb {
    width: 18.33vw;
    object-fit: cover;
    height: 10.27vw;
  }

  .WatchPageVideo {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    position: relative;
    :hover {
      .WatchPagePlayImageOverlay {
        opacity: 0.75;
      }
    }
  }

  .WatchPageVideo.whiteText {
    color: #ffffff;
  }

  .WatchPagePlayImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10vw;
    text-align: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    img {
      height: 100%;
    }
  }

  .WatchPageEpisodeTitle {
    width: 18.5vw;
    font-weight: bold;
    white-space: normal;
    font-family: Graphik Web;
  }

  .WatchPagePublishedDate {
    width: 20vw;
    white-space: normal;
    font-family: Graphik Web;
  }

  .BlogItem {
    display: flex;
    align-items: top;
    margin-bottom: 3.3vw;
    width: 78vw;
  }

  .BlogItem:hover {
    cursor: pointer;
  }

  .BlogSquareImage {
    width: 8.33vw;
    height: 8.33vw;
  }

  .BlogDesc {
    color: #54565a;
    margin-top: 1vw;
    width: 50vw;
    font-size: 1.1vw;
  }

  .BlogDetails {
    color: #54565a;
    font-size: 0.83vw;
  }

  .BlogTitle {
    color: #1a1a1a;
    font-weight: bold;
  }

  .BlogContentContainer {
    display: inline-block;
    margin-left: 2vw;
    width: 64vw;
    font-size: 1.1vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .CuriousPlayOverlay {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    height: math.div(9, 16) * 36vw;
    opacity: 0;
    transition: 0.5s ease;
    img {
      height: 100%;
    }
  }

  .CuriousVideoImage {
    width: 36vw;
    height: math.div(9, 16) * 36vw;
    transition: 0.5s ease;
    filter: grayscale(0.9);
  }

  .CuriousVideo {
    cursor: pointer;
    width: 36vw;
    height: math.div(9, 16) * 36vw;
    position: relative;
    background-color: #ffffff;
    border: none;
    &:hover {
      .CuriousVideoImage {
        filter: grayscale(0);
      }
      .CuriousPlayOverlay {
        opacity: 0.75;
      }
    }
  }

  .hide-desktop {
    display: none;
  }

  .CuriousContainer {
    display: grid;
    grid-template-columns: repeat(2, 36vw);
    grid-template-rows: math.div(9, 16) * 36vw;
    row-gap: 2.5vw;
    column-gap: 2.5vw;
  }

  .CuriousText1 {
    position: relative;
    left: 0vw;
    width: 75vw;
    font-size: 2vw;
    font-family: Graphik Web;
    margin-bottom: 4vw;
    color: theme.$coolgray11;
  }

  .WatchVideoTag {
    transition: 0.5s;
    opacity: 0;
    position: absolute;
    font-family: Graphik Web;
    font-size: 1.5vw;
    color: #ffffff;
    padding-top: 6vw;
    border-bottom: 1px solid #ffffff;
  }

  .WatchPageContainer {
    display: grid;
    grid-template-columns: repeat(2, 38vw);
    grid-template-rows: auto;
    column-gap: 3.125vw;
    row-gap: 2vw;
  }

  .WatchPageThumb {
    width: 38vw;
    object-fit: cover;
    height: 22.98vw;
  }

  .WatchPageVideo {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    position: relative;
    :hover {
      .WatchPagePlayImageOverlay {
        opacity: 0.75;
      }
    }
  }

  .WatchPageVideo.whiteText {
    color: #ffffff;
  }

  .WatchPagePlayImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 24vw;
    text-align: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    img {
      height: 100%;
    }
  }

  .WatchPageEpisodeTitle {
    width: 38vw;
    font-weight: bold;
    font-size: 2vw;
    white-space: normal;
    font-family: Graphik Web;
  }

  .WatchPagePublishedDate {
    width: 30vw;
    white-space: normal;
    font-family: Graphik Web;
  }

  .ListItemText1 {
    font-size: 2vw;
  }

  $staffwidth: 18vw;

  .StaffFlexArea {
    flex-direction: row;
    // width: $staffwidth * 2;
    margin-right: 6.5vw;
    display: flex;
    flex-wrap: wrap;
  }

  .StaffImage {
    width: 14vw;
    height: 14vw;
    align-self: center;
  }

  .StaffItem {
    // display: block;
    align-items: center;
    flex-direction: column;
    width: $staffwidth;
    margin-bottom: 3vw;
  }

  .ListItemName {
    width: 30vw;
    font-weight: bold;
    font-size: 1.5vw;
    white-space: normal;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .StaffContact {
    margin-top: 0.5vw;
    margin-bottom: 2vw;
  }

  .ListItemEmail,
  .ListItemPhone {
    width: 30vw;
    white-space: normal;
    font-size: 1.5vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .ListItemPosition {
    width: 30vw;
    white-space: normal;
    font-size: 1.5vw;
    font-family: Graphik Web;
    color: theme.$coolgray11;
  }

  .ListItemSocialLink {
    display: inline-block;
    width: 3vw;
    height: 3vw;
    margin-left: 0;
    margin-right: 3vw;
    color: #1a1a1a;
  }
}

@media (max-width: 767px) {
  .InstagramGridRectangle {
    background-color: #efeff0;
    width: 72vw;
    position: absolute;
    height: 147vw;
    margin-top: 21vw;
    left: 0px;
    z-index: -1;
  }
  .imageList .links-container {
    width: 85vw;
  }

  .BlogLoader {
    width: 88.5vw;
  }

  .ListInstagramButton {
    margin-left: 20px;
  }
  .ListInstagramTile img {
    width: 42vw;
    height: 42vw;
  }
  .ListItemEventButton {
    background-color: #ffffff00 !important;
    color: theme.$onyxblacktext !important;
    border: 0px !important;
  }

  .ListItem.horizontal,
  .ListItem.horizontalBig {
    position: static;
    padding-bottom: 5vw;
  }

  .ListItemDiv1 {
    position: relative;
    z-index: 99;
    width: 80vw;
    padding: 10vw 5vw 0vw;
    &.isPopup {
      left: 0vw;
    }
    // margin-top: 65vw;
  }

  .ListItemDiv1.horizontal-video-player {
    padding: 0vw 5vw 0vw;
  }

  .ListItem.horizontal-video-player {
    margin-bottom: 10vw;
  }

  .ListItemDiv2 {
    position: relative;
    left: 0vw;
    width: 95vw;
    white-space: nowrap;
  }

  .ListItemDiv3 {
    display: inline-block;
    vertical-align: top;
    width: 50vw;
  }

  .ListItemDiv4 {
    font-weight: bold;
  }

  .ListItemDiv5 {
    clear: left;
  }

  .ListItemDiv6 {
    position: relative;
    left: 0vw;
    width: 95vw;
    white-space: nowrap;
  }

  .ListItemDiv7 {
    width: 90vw;
    font-size: 5vw;
    font-family: Graphik Web;
    // padding-bottom: 1vw;
    margin-bottom: 30vw;
    color: theme.$coolgray11;
  }

  .ListItemDiv8 {
    position: relative;
    width: 89vw;
  }

  .ListItemDiv9 {
    position: absolute;
    left: -25vw;
    width: 75vw;
    height: 15vh;
    bottom: 0vw;
    top: -15vw;
    border: solid 10px theme.$onyxblacktext;
    z-index: -50;
  }

  .ListItemDiv10 {
    // position: relative;
    z-index: 99;
    // top: 25vw;
    // height: 75vh;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    // margin-top: 25vw;
    margin-bottom: 15vw;
  }
  //
  // .ListItemDiv10:nth-last-child(1) {
  //     margin-bottom: 30vw;
  // }

  .ListItemDiv11 {
    width: 88.5vw;
    font-size: 4.27vw;
    font-family: Graphik Web;
    color: theme.$coolgray11;
  }

  .ListItemH1 {
    position: relative;
    left: 0vw;
    width: 80vw;
    color: theme.$onyxblacktext;
    margin-bottom: 8.55vw;
    font-size: 9vw;
    font-weight: 700;
    font-family: Graphik Web;
  }

  .BlogItemH1 {
    font-weight: bold;
    font-size: 8vw;
    margin-bottom: 8vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
    width: 80vw;
  }

  .ListItemH1.whiteText {
    color: #ffffff;
  }

  .ListItemH1.horizontal-video-player {
    font-size: 7vw;
  }

  .ListItemH1ImageList {
    font-size: 10vw;
    font-weight: bold;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }
  .ListItemH1ImageListHeader {
    font-size: 10vw;
    font-weight: bold;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }
  .ListItemH1ImageList2 {
    // position: absolute;
    height: 100%;
    width: 100%;
    left: 0vw;
    object-fit: contain;
    // top: -40vw;
  }

  .ListItemH3 {
    width: 75vw;
    font-size: 6.4vw;
    font-weight: bold;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .ListItemImage {
    height: 10vw;
    margin-right: 1vw;
  }

  .ListItemCompassionLogo {
    height: 100%;
    width: 100%;
    // margin-right: 1vw;
    margin-bottom: 5.5vw;
  }

  .ListItemImage2 {
    width: 100%;
    margin-right: 1vw;
  }

  .ListItemTeachingImageDiv {
    display: inline-block;
    vertical-align: top;
  }

  .ListItemTeachingImage {
    height: 10vw;
    margin-right: 1vw;
  }

  .ListItemSpeakersDiv {
    position: relative;
    left: 0vw;
    width: 95vw;
    white-space: nowrap;
  }

  .ListItemText1 {
    position: relative;
    left: 0vw;
    width: 90vw;
    font-size: 5.33vw;
    line-height: 7.5vw;
    font-family: Graphik Web;
    margin-bottom: 10vw;
    color: theme.$coolgray11;
  }

  .ListItemVideo {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: 90%;
    margin-right: 6.4vw;
    position: relative;
    background-color: transparent;
    text-align: left;
    border: none;
    &:hover {
      .ListItemPlayImageOverlay {
        opacity: 0.75;
      }
    }
  }
  .ListItemVideo.whiteText {
    color: #ffffff;
  }

  .ListItemVideoThumb {
    width: 65vw;
    margin-right: 1vw;
    object-fit: cover;
    height: 42.1875vw;
  }

  .LoadMoreVideosCard {
    transition: 0.5s;
    width: 65vw;
    margin-right: 1vw;
    height: 42.1875vw;
    border: 4px solid theme.$onyxblacktext;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .LoadMoreVideosCard:hover {
    transition: 0.5s;
    background: theme.$onyxblacktext;
    .LoadMoreVideosText {
      transition: 0.5s;
      color: white;
    }
  }

  .LoadMoreVideosText {
    transition: 0.5s;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 5vw;
    color: theme.$onyxblacktext;
  }

  .LoadMoreSeriesCard {
    cursor: pointer;
    transition: 0.5s;
    width: 70vw;
    margin-right: 1vw;
    height: 70vw * math.div(1248, 1056);
    border: 4px solid theme.$onyxblacktext;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .LoadMoreSeriesCard:hover {
    transition: 0.5s;
    background: theme.$onyxblacktext;
    .LoadMoreSeriesText {
      transition: 0.5s;
      color: white;
    }
  }

  .LoadMoreSeriesText {
    transition: 0.5s;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 5vw;
    color: theme.$onyxblacktext;
  }
  .ListItemPlayImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 75vw;
    height: 42.1875vw;
    text-align: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    img {
      height: 100%;
    }
  }
  .ListItemEpisodeNum,
  .ListItemName {
    width: 100%;
    font-weight: bold;
    white-space: normal;
    font-family: Graphik Web;
    padding-top: 2vw;
    color: theme.$onyxblacktext;
  }

  .ListItemEpisodeLength {
    font-weight: bold;
  }

  .ListItemContact,
  .ListItemPosition,
  .ListItemEmail,
  .ListItemPhone,
  .ListItemWebsite {
    white-space: normal;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .ListItemPosition {
    color: theme.$coolgray11 !important;
  }

  .ListItemWebsite {
    color: theme.$onyxblacktext;
    text-decoration: underline;
  }
  .ListItemEmailText {
    color: theme.$onyxblacktext;
    @include link-underline();
  }

  .ListItemSeriesTitle,
  .ListItemPublishedDate,
  .ListYearEpisode {
    width: 100%;
    white-space: normal;
    font-family: Graphik Web;
    font-size: 3.2vw;
    line-height: 4.8vw;
    color: theme.$onyxblacktext;
  }

  .ListItemSeriesTitle {
    font-weight: 800;
  }

  .ListItemSocialLink {
    display: inline-block;
    width: 6.4vw;
    height: 6.4vw;
    margin-right: 6vw;
    color: #1a1a1a;
  }

  .ListItemFB {
    margin-right: 0.5vw;
  }

  .ListItemEventsLocation {
    white-space: normal;
    font-family: Graphik Web;
    font-weight: bold;
    margin-top: 10px;
    color: theme.$onyxblacktext;
  }

  .ListItemEventsDuration {
    font-family: Graphik Web;
    margin-top: 10px;
    color: theme.$onyxblacktext;
  }

  .EventDateContainer {
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -5vw;
    display: flex;
    width: 100%;
    .EventDateMonth {
      font-family: Graphik Web;
      line-height: 3vw;
      font-size: 6vw;
      font-weight: bold;
      color: #646469;
      margin-right: 7px;
    }
    .EventDateDay {
      font-family: Graphik Web;
      line-height: 3vw;
      font-size: 6vw;
      font-weight: bold;
      color: #646469;
    }
  }

  .ListItemEvents {
    width: 87vw;
    margin-right: 2vw;
    margin-left: 2vw;
    vertical-align: top;
    margin-bottom: 10vw;
  }

  .ListItemEvents:hover {
    background-color: #efeff0;
    cursor: pointer;
  }

  .ListItemEventsText {
    position: relative;
  }

  .ListItemEventsDescription {
    white-space: normal;
    font-weight: bold;
    font-size: 6vw;
    line-height: 8vw;
    margin-top: 5vw;
    font-family: Graphik Web;
    color: theme.$onyxblacktext;
  }

  .ListItemEventsDescription2 {
    margin-top: 4vw;
    white-space: normal;
    font-size: 3.4vw;
    font-family: Graphik Web;
    color: theme.$coolgray11;
    width: 75vw;
  }

  .ListItemEventsLocation {
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 5vw;
    margin-top: 4vw;
    color: theme.$onyxblacktext;
  }

  .ListItemEventsDuration {
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 4vw;
    margin-top: 0;
    color: theme.$onyxblacktext;
  }

  .ListItemEventsIcons {
    margin-top: 3vw;
    display: flex;
    .ListItemEventsShare {
      margin-right: 5vw;
      float: right;
      .ListItemEventsShareLink {
        margin-left: 1vw;
      }
    }
    .ListItemEventsCalendar {
      .ListItemEventsCalendarLink {
        margin-left: 1vw;
      }
    }
  }

  .ListItemEventsArrow {
    float: right;
    margin-right: 4vw;
    width: 7vw;
  }

  .ListItemCompassion {
    display: block;
    width: 100%;
    padding-right: 5vw;
  }

  .ListItemCompassion {
    white-space: normal;
    font-family: Graphik Web;
    font-size: 6.4vw;
    line-height: 8.55vw;
    font-weight: 700;
    margin-bottom: 0.5rem;
    width: 73vw;
    color: theme.$onyxblacktext;
  }

  .ListItemCompassionDescription2 {
    white-space: normal;
    font-family: Graphik Web;
    margin-bottom: 20vw;
    color: theme.$coolgray11;
    word-wrap: break-word;
  }

  .ListItem.imageList {
    position: static;
    width: 100vw;
    padding-bottom: 5vw;
  }

  .ListItemAllSeries {
    margin-top: 0;
  }

  .CuriousPlayOverlay {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    height: math.div(9, 16) * 90vw;
    display: none;
    img {
      height: 100%;
    }
  }

  .CuriousVideoImage {
    width: 90vw;
    height: math.div(9, 16) * 90vw;
  }

  .CuriousVideo {
    cursor: pointer;
    width: 36vw;
    height: math.div(9, 16) * 90vw;
    position: relative;
    margin-bottom: 24px;
    animation: fadeIn ease 1s;
    background-color: #ffffff;
    border: none;
  }

  .MoreVideos {
    position: relative;
    font-family: Graphik Web;
    font-size: 4.2vw;
    font-weight: normal;
    color: theme.$onyxblacktext !important;
    background: #ffffff00 !important;
    border-top: #ffffff00 !important;
    border-left: #ffffff00 !important;
    border-right: #ffffff00 !important;
    outline: #ffffff00 !important;
    border-bottom: 1px solid theme.$onyxblacktext !important;
    padding: 0px 0px 0px 0px;
    margin-left: 2px;
  }

  .hide-mobile {
    display: none;
  }

  .CuriousText1 {
    position: relative;
    left: 0vw;
    width: 95vw;
    font-size: 5.33vw;
    font-family: Graphik Web;
    margin-bottom: 12.8vw;
    color: theme.$coolgray11;
  }

  .arrow {
    position: relative;
    left: 12.5vw;
    float: right;
    width: 32px;
  }

  .WatchPageContainer {
    display: inline-block;
  }

  .WatchPageThumb {
    width: 88.53vw;
    object-fit: cover;
    height: 53.33vw;
  }

  .WatchPageVideo {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-bottom: 10vw;
    :hover {
      .WatchPagePlayImageOverlay {
        opacity: 0.75;
      }
    }
  }

  .WatchPageVideo.whiteText {
    color: #ffffff;
  }

  .WatchPagePlayImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50vw;
    text-align: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    img {
      height: 100%;
    }
  }

  .WatchPageEpisodeTitle {
    width: 88.53vw;
    font-weight: bold;
    font-size: 6.4vw;
    white-space: normal;
    font-family: Graphik Web;
  }

  .WatchPagePublishedDate {
    width: 80vw;
    white-space: normal;
    font-size: 4.8vw;
    font-family: Graphik Web;
  }

  .author-only {
    color: #1a1a1a;
  }

  .BlogItem {
    margin-bottom: 12.8vw;
    width: 88.5vw;
  }

  .BlogItem:hover {
    cursor: pointer;
  }

  .BlogSquareImage {
    width: 41.6vw;
    height: 41.6vw;
  }

  .BlogDesc {
    color: #54565a;
    margin-top: 1vw;
    width: 88.5vw;
    font-size: 4.26vw;
    padding-top: 4.26vw;
  }

  .BlogDetails {
    color: #54565a;
    font-size: 3.2vw;
  }

  .BlogTitle {
    color: #1a1a1a;
    font-weight: bold;
    font-size: 4.26vw;
    width: 75vw;
  }

  .BlogContentContainer {
    display: inline-block;
    width: 86.5vw;
    padding-top: 6.4vw;
  }

  .StaffContact {
    margin-top: 2vw;
    margin-bottom: 6vw;
  }

  .StaffImage {
    width: 70vw;
    height: 70vw;
  }
}
@media (hover: none) {
  .CuriousVideoImage {
    filter: grayscale(0);
  }
}
