@media (min-width: 768px) {
    .headerItem.LocationItem {
        position: relative;
        width: 80vw;
        left: 20vw;
        height: 105vh;
        padding-bottom: 5vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .headerItem.LocationItem {
        position: relative;
        width: 80vw;
        left: 20vw;
        height: 105vh;
        padding-bottom: 5vh;
    }
}

@media (max-width: 767px) {
    .headerItem.LocationItem {
        position: relative;
        width: 80vw;
        left: 20vw;
        height: 105vh;
        padding-bottom: 5vh;
    }
}