@media (min-width: 768px) {
  .PodcastItem {
    position: relative;
    z-index: 99;
    left: 10vw;
    font-family: Graphik Web;
  }

  .PodcastItemDiv1 {
    width: 37.5vw;
    color: #ffffff;
    margin-right: 3.5vw;
    float: left;
  }

  .PodcastText {
    color: #c8c8c8;
    margin-top: 0.5vw;
  }

  .PodcastTitle {
    color: #ffffff;
    font-weight: bold;
  }

  .PodcastContentContainer {
    width: 26vw;
    display: inline-block;
    margin-left: 2vw;
  }

  .PodcastIcon {
    float: left;
  }

  .PodcastLinksContainer {
    margin-top: 1vw;
  }

  .PodcastLink {
    font-weight: bold;
    margin-right: 32px;
  }

  #podcast-toggle {
    color: #ffffff;
    background-color: #000000;
    border-color: rgba(255, 255, 255, 0.5);
    font-family: Graphik Web;
    font-weight: bold;
    height: 40px;
    border-radius: 6px;
  }

  .PodcastDropdown {
    float: left;
  }

  .ApplePodcast {
    float: left;
    margin-right: 1vw;
    margin-bottom: 1vw;
  }

  .PodcastMenu {
    text-align: center;
  }

  .SubIcon {
    padding-bottom: 4px;
    padding-right: 10px;
    width: 26px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .PodcastItem {
    position: relative;
    z-index: 99;
    left: 10vw;
    font-family: Graphik Web;
  }

  .PodcastItemDiv1 {
    width: 37.5vw;
    color: #ffffff;
    margin-right: 3.5vw;
    float: left;
  }

  .PodcastText {
    color: #c8c8c8;
    margin-top: 0.5vw;
  }

  .PodcastTitle {
    color: #ffffff;
    font-weight: bold;
  }

  .PodcastContentContainer {
    width: 25vw;
    display: inline-block;
    margin-left: 2vw;
  }

  .PodcastIcon {
    float: left;
  }

  .PodcastLinksContainer {
    margin-top: 1vw;
  }

  .PodcastLink {
    font-weight: bold;
    margin-right: 32px;
  }

  #podcast-toggle {
    color: #ffffff;
    background-color: #000000;
    border-color: rgba(255, 255, 255, 0.5);
    font-family: Graphik Web;
    font-weight: bold;
    height: 36px;
    border-radius: 6px;
  }

  .PodcastDropdown {
    float: left;
  }

  .ApplePodcast {
    float: left;
    margin-right: 1vw;
    margin-bottom: 1vw;
  }

  .PodcastMenu {
    text-align: center;
  }

  .SubIcon {
    padding-bottom: 4px;
    padding-right: 10px;
    width: 26px;
  }
}

@media (max-width: 767px) {
  .PodcastItem {
    position: relative;
    z-index: 99;
    margin-top: 3vw;
    padding: 0 5vw 0;
    font-family: Graphik Web;
  }

  .PodcastItemDiv1 {
    color: #ffffff;
    margin-right: 3.5vw;
  }

  .PodcastText {
    color: #c8c8c8;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  .PodcastTitle {
    color: #ffffff;
    font-weight: bold;
  }

  .PodcastContentContainer {
    display: inline-block;
    width: 60vw;
    margin-left: 6vw;
    margin-bottom: 4vw;
  }

  .PodcastIcon {
    float: left;
  }

  .PodcastLinksContainer {
    margin-top: 1vw;
    margin-bottom: 5vw;
  }

  .PodcastLink {
    font-weight: bold;
    margin-right: 32px;
  }

  #podcast-toggle {
    color: #ffffff;
    background-color: #000000;
    border-color: rgba(255, 255, 255, 0.5);
    font-family: Graphik Web;
    font-weight: bold;
    height: 40px;
    border-radius: 6px;
  }

  .PodcastDropdown {
    float: left;
  }

  .ApplePodcast {
    float: left;
    margin-right: 2vw;
    margin-bottom: 1vw;
  }

  .PodcastMenu {
    text-align: center;
  }

  .SubIcon {
    padding-bottom: 4px;
    padding-right: 10px;
    width: 28px;
  }
}
