.PodcastPlayer {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .PodcastPlayer {
    padding: 15vh 10vw 0;
    min-height: 90vh;
  }
}

@media (max-width: 767px) {
  .PodcastPlayer {
    padding: 15vh 5vw 0;
    min-height: 100vh;
  }

  .modal-footer {
    height: 0 !important;
    padding: 0 !important;
  }
}
