@media (min-width: 768px) {
    .PodcastItemDiv1 {
        position: relative;
        z-index: 99;
        left: 10vw;
        width: 40vw;
        color: white;
        float: left;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
}

@media (max-width: 767px) {
  
}
