@media (min-width: 768px) {
  .RenderRouterItemWrapper {
    scroll-margin-top: 20px; // slight offset
  }
}

@media (max-width: 767px) {
  .RenderRouterItemWrapper {
    scroll-margin-top: calc(19.2vw + -1px); // header height
    margin-top: 5vw;
  }
}
