// Base style: >= 768
.SearchItem {
    position: relative;
    top: 1.5vw;
    left: 15vw;
}

.SearchItemInput {
    width: 70vw;
    height: 56px;

    font-family: Graphik Web;
    font-size: 48px;
    font-weight: bolder;
    line-height: 56px;
    letter-spacing: -0.5px;

    border: none;
}

*:focus {
    outline: none; /* Chrome */
}

::placeholder{
    color: #C8C8C8;
    opacity: 1;
}

.SearchItemDiv {
    width: 70vw;
    margin: 18px 0px 30px 0px;
    border-top: solid 2px #1A1A1A;
}

.SearchLinks{
    margin-top: 10px;
}

.SearchLink{
    $link-width: 17vw;
    $link-height: 16vh;

    position: relative;
    display: inline-block;
    width: $link-width;
    height: $link-height;
    margin-right: 1.5vw;
    vertical-align: top;

    img{
        position: absolute;
        width: $link-width;
        height: $link-height;

        border: solid 1px #aaaaac;
        filter: grayscale(75%);
    }
    p{
        position: relative;
        text-align: center;
        top: 5vh;
        
        font-family: Graphik Web;
        font-size: calc(1.25vh + 1.25vw);
        font-weight: bold;
    
        color: #FFFFFF;
    }
}

.SearchLinks .HomeChurch{
    $link-width: 33vw;

    width: $link-width;

    img{
        width: $link-width;
    }
    p{
        text-align: left;
        top: 3vh;
        left: 2vw;
        width: 15vw;
        line-height: 4vh;

        img{
            margin-top:0.5vh;
            height: 4vh;
            width: 4vw;
            border: none;
        }
    }
}

.SearchLinks .Articles{
    margin-right: 0px;
}

.SearchResultItem{
    cursor: pointer;
    padding-bottom: 15px;
    padding-top: 20px;
    border-bottom: 1px solid #EFEFF0;
    width: 70vw;
}

.SearchResultItem .Thumb {
    display: inline-block;
    object-fit: contain;
    margin-right: 30px;
    width: 20%;
    vertical-align: top;
}

.SearchResultItem .Content{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 60%;
}

.SearchResultItem .ContentType{
    display: inline-block;
    padding: 8px 20px 8px 20px;
    margin-bottom: 20px;
    background: #54565A;
    border-radius: 50px;

    font-family: Graphik Web;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

.SearchResultItem .Title{
    margin-bottom: 10px;

    font-family: Graphik Web;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #1A1A1A;
}

.SearchResultItem .Description{
    width: 100%;
    font-family: Graphik Web;
    font-size: 16px;
    line-height: 24px;
    color: #54565A;
}

.SearchResultItem .Link{
    margin-top: 50px;
    height: 30px;
    width: 25px;
    float: right;
}

@media (min-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   
}

@media (max-width: 767px) {
    .SearchItem {
        // position: relative;
        top: 19vw;
        left: 0vw;
        background-color: white;
    }
    
    .SearchItemInput {
        width: 100%;
        height: 56px;
        padding-left: 3vw;
        font-size: 32px;
    }
    
    .SearchItemDiv {
        width: 96%;
        margin-left:2%;
        margin-right:2%
        // margin: 18px 0px 0px 0px;
        // border-top: solid 2px #1A1A1A;
    }
    
    .SearchResultItem{
        // cursor: pointer;
        // padding-bottom: 15px;
        // padding-top: 20px;
        // border-bottom: 1px solid #EFEFF0;
        width: 100%;
    }
    
    .SearchResultItem .Thumb {
        display: none;
        // object-fit: contain;
        // margin-right: 30px;
        // width: 20%;
        // vertical-align: top;
    }
    
    .SearchResultItem .Content{
        // display: inline-block;
        // vertical-align: top;
        // height: 100%;
        width: 100%;
    }
    
    .SearchResultItem .ContentType{
        // display: inline-block;
        // padding: 8px 20px 8px 20px;
        // margin-bottom: 20px;
        // background: #54565A;
        // border-radius: 50px;
    
        // font-family: Graphik Web;
        // font-style: normal;
        // font-weight: bold;
        // font-size: 12px;
        // line-height: 18px;
        // color: #FFFFFF;
    }
    
    .SearchResultItem .Title{
        // margin-bottom: 10px;
    
        // font-family: Graphik Web;
        // font-size: 16px;
        // line-height: 24px;
        // font-weight: bold;
        // color: #1A1A1A;
    }
    
    .SearchResultItem .Description{
        // width: 100%;
        // font-family: Graphik Web;
        // font-size: 16px;
        // line-height: 24px;
        // color: #54565A;
    }
}