@media (min-width: 768px) {
  .SimpleFormId {
    border: 0px;
    width: 60vw;
  }
  .SimpleVideoPlayerIframe {
    margin-left: 0vw;
    padding-top: 2vw;
    width: 60vw;
    height: 34vw;
}
.SimpleItemOtherWayLink{
  margin:0;
  padding:0;
  background-color:#ffffff00;
  color:#0000ff;
  border:0;
  font-weight:normal;
  font-family: Graphik Web;


}
ul.SimpleItem {
  list-style-type: none;
  margin: 5;
  padding: 5;
}
ul.SimpleItemNumber {
  list-style-type: decimal;
  margin: 5;
  padding: 5;
}
.SimpleItemOtherWayLink:hover{
  background-color:#ffffff00 !important;
  color:#0000ff !important;
  border:0;
}
  .SimpleItemH1 {
    color: #ffffff;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 3vw;
  }

  .SimpleButton {
    font-family: Graphik Web !important;
    font-weight: bold !important;
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #ffffff !important;
    border-radius: 0px !important;
  }

  .SimpleItemH2 {
    color: #ffffff;
    font-family: Graphik Web;
    font-weight: normal;
    width: 60vw;
    font-size: 1.5vw;
  }

  .SimpleItemText {
    color: #ffffff;
    font-family: Graphik Web;
    width: 60vw;
    margin-bottom: 1vw;
    font-size: 1.2vw;
  }
  .SimpleItemTextTab {
    color: #ffffff;
    font-family: Graphik Web;
    width: 60vw;
    margin-bottom: 1vw;
    margin-left: 5vw;
    font-size: 1.2vw;
  }
  .SimpleItemTextBold {
    color: #ffffff;
    font-weight: Bold;
    font-family: Graphik Web;
    width: 60vw;
    margin-bottom: 1vw;
    font-size: 1.2vw;
  }

  .SimpleItemHR {

    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    width: 8.55vw;
    background-color: #ffffff;

  }

  .SimpleItemBigBottom {
    height: 15vw;
  }
  .SimpleItemBottom {
    height: 1vw;
  }
  .SimpleItemOtherWayButton {
    font-family: Graphik Web;
    background-color: #000000;
    color: #ffffff;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    text-decoration: underline;
  }

  .SimpleItemOtherWayButton:hover {
    font-family: Graphik Web;
    background-color: #000000;
    color: #0000ff;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    text-decoration: underline;
  }

  .SimpleItemGreyBox {
    background-color: #EFEFF0;
    width: 60vw;
    padding: 5vw;
  }

  .SimpleItemButton {
    background-color: #ffffff;
    border-radius: 0px;
    border-width: 1px;
    border-color: #000000;
    color: #000000;
    font-family: Graphik Web;
    font-weight: normal;
    margin: 0.5vw;
    padding: 0.7vw;
  }

  .SimpleItemOtherWays,
  .SimpleItemNeedHelp {
    font-weight: bold;
    font-family: Graphik Web;
    color: #ffffff;
    font-size: 1vw;
    margin-top: 2vw;

  }

  .SimpleItemOtherWay {
    font-family: Graphik Web;
    color: #ffffff;
    float: left;
    font-size: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vw;
  }

  .SimpleItemNeedHelpEmail {
    font-family: Graphik Web;
    color: #ffffff;
    float: left;
    font-size: 1vw;
    margin-bottom: 2vw;
  }

  .SimpleItemOtherWayGroup {
    float: left;
  }

  .SimpleItemNeedHelpGroup {
    float: right;
    width: 60vw;
    font-size: 1vw;
  }

  .simpleItemDiv1 {
    position: relative;
    top: 2vw;
    left: 20vw;
    margin-bottom: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .SimpleVideoPlayerIframe {
    margin-left: 0vw;
    padding-top: 2vw;
    width: 60vw;
    height: 34vw;
}
  .SimpleFormId {
    border: 0px;
    width: 60vw;
  }
  .SimpleItemOtherWayLink{
    margin:0;
    padding:0;
    background-color:#ffffff00;
    color:#0000ff;
    border:0;
    font-weight:normal;
    font-family: Graphik Web;


  }
  ul.SimpleItem {
    list-style-type: none;
    margin: 5;
    padding: 5;
  }
  ul.SimpleItemNumber {
    list-style-type: decimal;
    margin: 5;
    padding: 5;
  }
  .SimpleItemOtherWayLink:hover{
    background-color:#ffffff00 !important;
    color:#0000ff !important;
    border:0;
  }
  .SimpleItemH1 {
    color: #ffffff;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 3vw;
  }

  .SimpleButton {
    font-family: Graphik Web !important;
    font-weight: bold !important;
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #ffffff !important;
    border-radius: 0px !important;
  }

  .SimpleItemH2 {
    color: #ffffff;
    font-family: Graphik Web;
    font-weight: normal;
    width: 60vw;
    font-size: 1.5vw;
  }

  .SimpleItemText {
    color: #ffffff;
    font-family: Graphik Web;
    width: 60vw;
    margin-bottom: 1vw;
    font-size: 1.2vw;
  }
  .SimpleItemTextTab {
    color: #ffffff;
    font-family: Graphik Web;
    width: 60vw;
    margin-left:5vw;
    margin-bottom: 1vw;
    font-size: 1.2vw;
  }
  .SimpleItemTextBold {
    color: #ffffff;
    font-weight: Bold;
    font-family: Graphik Web;
    width: 60vw;
    margin-bottom: 1vw;
    font-size: 1.2vw;
  }
  .SimpleItemHR {

    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    width: 8.55vw;
    background-color: #ffffff;

  }

  .SimpleItemGreyBox {
    background-color: #EFEFF0;
    width: 60vw;
    padding: 5vw;
  }

  .SimpleItemButton {
    background-color: #ffffff;
    border-radius: 0px;
    border-width: 1px;
    border-color: #000000;
    color: #000000;
    font-family: Graphik Web;
    font-weight: normal;
    margin: 0.5vw;
    padding: 0.7vw;
  }

  .SimpleItemOtherWays,
  .SimpleItemNeedHelp {
    font-weight: bold;
    font-family: Graphik Web;
    color: #ffffff;
    font-size: 1vw;
    margin-top: 2vw;

  }

  .SimpleItemOtherWay {
    font-family: Graphik Web;
    color: #ffffff;
    float: left;
    font-size: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vw;
  }

  .SimpleItemBigBottom {
    height: 15vw;
  }

  .SimpleItemBottom {
    height: 5vw;
  }
  .SimpleItemNeedHelpEmail {
    font-family: Graphik Web;
    color: #ffffff;
    float: left;
    font-size: 1vw;
    margin-bottom: 2vw;
  }

  .SimpleItemOtherWayGroup {
    float: left;
  }

  .SimpleItemNeedHelpGroup {
    float: right;
    width: 60vw;
    font-size: 1vw;
  }

  .simpleItemDiv1 {
    position: relative;
    top: 2vw;
    left: 20vw;
    margin-bottom: 2vw;
  }
}

@media (max-width: 767px) {
  .SimpleFormId {
    border: 0px;
    width: 95%;
  }
  .SimpleItemOtherWayLink{
    margin:0;
    padding:0;
    background-color:#ffffff00;
    color:#0000ff;
    border:0;
    font-weight:normal;
    font-family: Graphik Web;


  }
  ul.SimpleItem {
    list-style-type: none;
    margin: 5;
    padding: 5;
  }
  ul.SimpleItemNumber {
    list-style-type: decimal;
    margin: 5;
    padding: 5;
  }
  .SimpleItemOtherWayLink:hover{
    background-color:#ffffff00 !important;
    color:#0000ff !important;
    border:0;
  }
  .SimpleItemH1 {
    color: #ffffff;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 8.55vw;
    line-height: 10.67vw;
  }

  .SimpleButton {
    font-family: Graphik Web !important;
    font-weight: bold !important;
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #ffffff !important;
    border-radius: 0px !important;
  }

  .SimpleItemH2 {
    color: #ffffff;
    font-family: Graphik Web;
    font-weight: normal;
    width: 100%;
    font-size: 6.4vw;
    line-height: 8.55vw;
  }

  .SimpleItemText {
    color: #ffffff;
    font-family: Graphik Web;
    width: 60vw;
    margin-bottom: 8vw;
    font-size: 4.3vw;
    width: 97%;
  }
  .SimpleItemTextTab {
    color: #ffffff;
    font-family: Graphik Web;
    width: 60vw;
    margin-bottom: 8vw;
    font-size: 4.3vw;
    width: 97%;
    margin-left:5vw;
  }
  .SimpleItemTextBold {
    color: #ffffff;
    font-family: Graphik Web;
    font-weight: Bold;
    width: 60vw;
    margin-bottom: 8vw;
    font-size: 4.3vw;
    width: 97%;
  }
  .SimpleItemHR {

    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5vw;
    margin-bottom: 6.5vw;
    width: 8.55vw;
    background-color: #ffffff;

  }

  .SimpleItemGreyBox {
    background-color: #EFEFF0;
    width: 96%;
    padding: 10vw 5vw 10vw 5vw;
  }

  .SimpleItemButton {
    background-color: #ffffff;
    border-radius: 0px;
    border-width: 1px;
    border-color: #000000;
    color: #000000;
    font-family: Graphik Web;
    font-weight: normal;
    margin: 0.5vw;
    padding: 0.7vw;
  }

  .SimpleItemOtherWays,
  .SimpleItemNeedHelp {
    font-weight: bold;
    font-family: Graphik Web;
    color: #ffffff;
    font-size: 4.3vw;
    margin-top: 12vw;
    margin-bottom: 3vw;

  }

  .SimpleItemOtherWay {
    font-family: Graphik Web;
    color: #ffffff;
   // float: left;
    font-size: 4.3vw;
    margin-right: 1vw;
    margin-bottom: 5vw;
    width: 100%;
  }

  .SimpleItemNeedHelpEmail {
    font-family: Graphik Web;
    color: #ffffff;
  //  float: left;
    font-size: 4.3vw;
    margin-bottom: 5vw;
  }

  .SimpleItemOtherWayGroup {
    width: 100%;
  }

  .SimpleItemNeedHelpGroup {
   // float: right;
    width: 100%;
    font-size: 1vw;
  }

  .simpleItemDiv1 {
    position: relative;
    top: 20vw;
    left: 0vw;
    margin-bottom: 2vw;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .SimpleItemOtherWayButton {
    width: 100%;
    color: #000000;
    background-color:#ffffff;

  }
  a.SimpleItemOtherWayButton {
    width: 100%;
    color: #ffffff;
    background-color:#000000;

  }
  .SimpleItemBottom {
    height: 10vw;
  }
  .SimpleItemBigBottom {
    height: 5vw;
  }
  .SimpleVideoPlayerIframe {
    margin-left: 0vw;
    padding-top: 2vw;
    width: 90vw;
    height: 50vw;
}
}
