@media (min-width: 768px) {
    .SundayMorningItem {
        height: 100vh;
        position: static;
        padding-bottom: 5vw;
        padding-top:2vh;
    }

    .SundayMorningItemDiv1 {
        position: relative;
        left: 20vw;
        width: 80vw;
    }

    .SundayMorningItemDiv2 {
        position: absolute;
        left: 40vw;
        width: 40vw;
        height: 88vh;
    }

    .SundayMorningItemDiv3 {
        position: absolute;
        left: 0vw;
        width: 40vw;
        height: 100vh;
    }

    .SundayMorningItemDiv4 {
        display: flex;
        flex-direction: row;
    }

    .SundayMorningItemDiv5 {
        width: 40vw;
        border-bottom-width: 1px;
        margin-bottom: 5px;
        border-bottom-color: #C8C8C8;
        border-bottom-style: solid;
    }

    .SundayMorningItemDiv6 {
        margin-left: auto;
        margin-right: 10px;
    }

    .SundayMorningItemListData {
        overflow-y: auto;
        height: 80vh;
    }

    .SundayMorningH1 {
        font-size: 3vw;
        font-family: Graphik Web;
        font-weight: bold;
    }

    .SundayMorningH3 {
        font-size: 2vw;
        font-family: Graphik Web;
    }

    .SundayMorningMap {
        left: 0vw;
        width: 40vw;
        height: 88vh;
    }

    .SundayMorningMapInfoWindowDiv1 {
        font-weight: bold;
        font-size: 1.3vw;
        margin-bottom: 0.5vw;
    }
    .SundayMorningMapInfoWindowDiv2 {
            font-size: 1.1vw;
            margin-bottom: 0.35vw;
    }
    .SundayMorningMapInfoWindowDiv3 {
    }
    .SundayMorningAddress,
    .SundayMorningDistances {
        font-size: 1vw;
        font-family: Graphik Web;
    }
    .SundayMorningButton{
        font-family: Graphik Web;
        color: #ffffff;
        background-color: #000000;
        border-width: 0px;
        border-radius: 0;
        font-size: 1.2vw;
        padding:0.5vw 1vw 0.5vw 1vw;
        margin:0.1vw;
        font-weight:normal;
        display:none;
        
    }
    .SundayMorningButton:hover{
        border-width: 0px;
        border-radius: 0;

    }
    .SundayMorningButton1 {
        font-family: Graphik Web;
        color: #ffffff;
        background-color: #000000;
        border-width: 0px;
        border-radius: 0;
        font-size: 1.2vw;
        padding:0.5vw 1vw 0.5vw 1vw;
        margin:0.1vw;
        font-weight:normal;
        width:11vw;
    }
    .SundayMorningButton1:hover{
        border-width: 0px;
        border-radius: 0;
    }
    .SundayMorningButton2 {
        font-family: Graphik Web;
        color: #000000;
        background-color: #ffffff;
        border-width: 0px;
        border-radius: 0;
        font-size: 1vw;
        text-decoration: underline;
        font-weight:normal;
       
    }
    .SundayMorningButton2:hover{
        border-width: 0px;
        border-radius: 0;
        background-color:#ffffff;
        color:#0000ff;
        text-decoration: underline;
        font-weight:normal;
       
    }
    .SundaMorningIcon{
        padding-right:10px;
        height:25px;
    }

    .AddToCalendarButtonContainer {
        position: relative;
        display: inline-block;
        padding: .75rem 1.25rem;

        .SundaMorningIcon {
            position: absolute;
            left: 0;
            top: 0;
            padding-right: 0;
            padding-left: 1.25rem;
            pointer-events: none;
            top: 50%;
            transform: translateY(-50%);
        }
        .react-add-to-calendar__button {
            font-family: Graphik Web;
            color: #000000;
            border-width: 0px;
            border-radius: 0;
            font-size: 1vw;
            text-decoration: underline !important;
            font-weight:normal;
            padding-left: 35px;
            cursor: pointer;
        }
        .react-add-to-calendar__dropdown {
            position: absolute;
            z-index: 100;
            top: 48px;
            background: white;
            border: 1px solid #000000;
            padding: 10px 20px 0 20px;  
            ul {
                list-style-type: none;
                padding: 0;
                font-family: Graphik Web;
                font-size: 1vw;
                a {
                    color: #000000 !important;
                    vertical-align: middle;
                }
                li {
                    position: relative;
                    vertical-align: middle;
                }
                a::before {
                    width: 15px;
                    height: 15px;
                    vertical-align: middle;
                    background-size: contain;
                    background-position-y: center;
                    background-repeat: no-repeat;
                    display: inline-block;
                    content: "";
                    margin: 5px 5px 8px 0;

                }
                a.apple-link::before {
                    background-image: url("/static/svg/Apple.svg");
                }
                a.outlook-link::before {
                    background-image: url("/static/svg/Outlook.svg");
                }
                a.outlookcom-link::before {
                    background-image: url("/static/svg/Outlook.svg");
                }
                a.yahoo-link::before {
                    background-image: url("/static/svg/Yahoo.svg");
                }
                a.google-link::before {
                    background-image: url("/static/svg/Google.svg");
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .SundayMorningItem {
        height: 100vh;
        position: static;
        padding-bottom: 5vw;
        padding-top:2vh;
    }

    .SundayMorningItemDiv1 {
        position: relative;
        left: 20vw;
        width: 80vw;
    }

    .SundayMorningItemDiv2 {
        position: absolute;
        left: 40vw;
        width: 40vw;
        height: 88vh;
    }

    .SundayMorningItemDiv3 {
        position: absolute;
        left: 0vw;
        width: 40vw;
        height: 100vh;
    }

    .SundayMorningItemDiv4 {
        display: flex;
        flex-direction: row;
    }

    .SundayMorningItemDiv5 {
        width: 40vw;
        border-bottom-width: 1px;
        margin-bottom: 5px;
        border-bottom-color: #C8C8C8;
        border-bottom-style: solid;
    }

    .SundayMorningItemDiv6 {
        margin-left: auto;
        margin-right: 10px;
    }

    .SundayMorningItemListData {
        overflow-y: auto;
        height: 80vh;
    }

    .SundayMorningH1 {
        font-size: 3vw;
        font-family: Graphik Web;
        font-weight: bold;
    }

    .SundayMorningH3 {
        font-size: 2vw;
        font-family: Graphik Web;
    }

    .SundayMorningMap {
        left: 0vw;
        width: 40vw;
        height: 88vh;
    }

    .SundayMorningAddress,
    .SundayMorningDistances {
        font-size: 1vw;
        font-family: Graphik Web;
    }
    .SundayMorningButton{
        font-family: Graphik Web;
        color: #ffffff;
        background-color: #000000;
        border-width: 0px;
        border-radius: 0;
        font-size: 1.2vw;
        padding:0.5vw 1vw 0.5vw 1vw;
        margin:0.1vw;
        font-weight:normal;
        display:none;
        
    }
    .SundayMorningButton:hover{
        border-width: 0px;
        border-radius: 0;

    }
    .SundayMorningButton1 {
        font-family: Graphik Web;
        color: #ffffff;
        background-color: #000000;
        border-width: 0px;
        border-radius: 0;
        font-size: 1.2vw;
        padding:0.5vw 1vw 0.5vw 1vw;
        margin:0.1vw;
        font-weight:normal;
        width:11vw;
    }
    .SundayMorningButton1:hover{
        border-width: 0px;
        border-radius: 0;
    }
    .SundayMorningButton2 {
        font-family: Graphik Web;
        color: #000000;
        background-color: #ffffff;
        border-width: 0px;
        border-radius: 0;
        font-size: 1vw;
        text-decoration: underline;
        font-weight:normal;
       
    }
    .SundayMorningButton2:hover{
        border-width: 0px;
        border-radius: 0;
        background-color:#ffffff;
        color:#0000ff;
        text-decoration: underline;
        font-weight:normal;
       
    }
    .SundaMorningIcon{
        padding-right:10px;
        height:25px;
    }
}

@media (max-width: 767px) {
    .SundayMorningItem {
        height: 100vh;
        position: static;
        padding-bottom: 5vw;
        padding-top:2vh;
    }

    .SundayMorningItemDiv1 {
        position: relative;
        left: 20vw;
        width: 80vw;
    }

    .SundayMorningItemDiv2 {
        position: absolute;
        left: 40vw;
        width: 40vw;
        height: 88vh;
    }

    .SundayMorningItemDiv3 {
        position: absolute;
        left: 0vw;
        width: 40vw;
        height: 100vh;
    }

    .SundayMorningItemDiv4 {
        display: flex;
        flex-direction: row;
    }

    .SundayMorningItemDiv5 {
        width: 40vw;
        border-bottom-width: 1px;
        margin-bottom: 5px;
        border-bottom-color: #C8C8C8;
        border-bottom-style: solid;
    }

    .SundayMorningItemDiv6 {
        margin-left: auto;
        margin-right: 10px;
    }

    .SundayMorningItemListData {
        overflow-y: auto;
        height: 80vh;
    }

    .SundayMorningH1 {
        font-size: 3vw;
        font-family: Graphik Web;
        font-weight: bold;
    }

    .SundayMorningH3 {
        font-size: 2vw;
        font-family: Graphik Web;
    }

    .SundayMorningMap {
        left: 0vw;
        width: 40vw;
        height: 88vh;
    }

    .SundayMorningAddress,
    .SundayMorningDistances {
        font-size: 1vw;
        font-family: Graphik Web;
    }
    .SundayMorningButton{
        font-family: Graphik Web;
        color: #ffffff;
        background-color: #000000;
        border-width: 0px;
        border-radius: 0;
        font-size: 1.2vw;
        padding:0.5vw 1vw 0.5vw 1vw;
        margin:0.1vw;
        font-weight:normal;
        display:none;
        
    }
    .SundayMorningButton:hover{
        border-width: 0px;
        border-radius: 0;

    }
    .SundayMorningButton1 {
        font-family: Graphik Web;
        color: #ffffff;
        background-color: #000000;
        border-width: 0px;
        border-radius: 0;
        font-size: 1.2vw;
        padding:0.5vw 1vw 0.5vw 1vw;
        margin:0.1vw;
        font-weight:normal;
        width:11vw;
    }
    .SundayMorningButton1:hover{
        border-width: 0px;
        border-radius: 0;
    }
    .SundayMorningButton2 {
        font-family: Graphik Web;
        color: #000000;
        background-color: #ffffff;
        border-width: 0px;
        border-radius: 0;
        font-size: 1vw;
        text-decoration: underline;
        font-weight:normal;
       
    }
    .SundayMorningButton2:hover{
        border-width: 0px;
        border-radius: 0;
        background-color:#ffffff;
        color:#0000ff;
        text-decoration: underline;
        font-weight:normal;
       
    }
    .SundaMorningIcon{
        padding-right:10px;
        height:25px;
    }
}