@media (min-width: 768px) {
    .sunday-morning-map{
        position:relative;
        width:100vw;
        height:100vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 
}

@media (min-width: 320px) and (max-width: 767px) {
  
}