.BlogLink {
  display: inline-block;
  width: 100%;
}

.BlogLink:focus,
.FocusableVideo:focus {
  .Title {
    text-decoration: underline;
  }
}

.CloseTeachingSearchButton {
  background: #ffffff00;
  border: 0;
}

.SearchBar {
  display: flex;
  align-items: center;
}

.TeachingSearchResultItem .RightContainer {
  display: flex;
  flex-direction: row;
}

.TeachingSearchResultItem {
  background: white;
}

.TeachingSearchItemDiv {
  position: absolute;
  z-index: 999;
}

.FocusableVideo {
  cursor: pointer;
}

.ShowResults {
  box-shadow: 0px 15px 30px 2px rgba(26, 26, 26, 0.16);
}

@media (min-width: 768px) {
  .CloseTeachingSearch {
    height: 30px;
  }

  .SearchIcon {
    margin-right: 30px;
    height: 30px;
  }

  .Header1 {
    font-weight: bold;
    font-size: 1.503rem;
    padding-bottom: 2vw;
  }

  .TeachingSearchItem {
    position: relative;
    left: 20vw;
    width: 80vw;
    margin-bottom: 6vw;
  }

  .TeachingSearchItemInput {
    font-family: Graphik Web;
    font-size: 2vw;
    font-weight: bolder;
    width: 70vw;
    border: none;
  }

  *:focus {
    outline: none; /* Chrome */
  }

  ::placeholder {
    color: #c8c8c8;
    opacity: 1;
  }

  .TeachingSearchItemDiv {
    width: 77.5vw;
    margin: 18px 0px 30px 0px;
    border-top: solid 2px #c8c8c8;
  }

  .ShowResults {
    overflow-y: scroll;
    max-height: 325px;
  }

  .TeachingSearchResultItem {
    padding: 15px 20px;
    border-bottom: 1px solid #efeff0;
    width: 100%;
  }

  .TeachingSearchResultItem .Description {
    width: 100%;
    font-family: Graphik Web;
    font-size: 1.1vw;
    line-height: 1.67vw;
    color: #54565a;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .TeachingSearchResultItem .Content {
    height: 100%;
    width: 100%;
  }

  .TeachingSearchResultItem .Details {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .TeachingSearchResultItem .Title {
    margin-bottom: 10px;
    font-family: Graphik Web;
    font-size: 1.1vw;
    line-height: 1.67vw;
    font-weight: bold;
    color: #1a1a1a;
  }

  .TeachingSearchResultItem .Date,
  .TeachingSearchResultItem .Length {
    font-family: Graphik Web;
    font-size: 1.1vw;
    line-height: 1.67vw;
    color: #646469;
  }

  .TeachingSearchNumberOfVideos {
    background: #1a1a1a;
    color: #ffffff;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 1vw;
    height: 3vw;
    padding-left: 24px;
    line-height: 3vw;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .Header1 {
    font-size: 1.503rem;
    padding-bottom: 2vw;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  $scale: 1.4;

  .CloseTeachingSearch {
    height: 30px;
  }

  .SearchIcon {
    margin-right: 15px;
    height: 30px;
  }

  .Header1 {
    font-weight: bold;
    font-size: $scale * 1.67vw;
    padding-bottom: $scale * 2vw;
  }

  .TeachingSearchItem {
    position: relative;
    left: 20vw;
    width: 80vw;
    margin-bottom: 6vw;
  }

  .TeachingSearchItemInput {
    font-family: Graphik Web;
    font-size: $scale * 1rem;
    font-weight: bolder;
    width: 67.5vw;
    border: none;
  }

  *:focus {
    outline: none; /* Chrome */
  }

  ::placeholder {
    color: #c8c8c8;
    opacity: 1;
  }

  .TeachingSearchItemDiv {
    width: 77.5vw;
    margin: 18px 0px 30px 0px;
    border-top: solid 2px #c8c8c8;
  }

  .ShowResults {
    overflow-y: scroll;
    max-height: 325px;
  }

  .TeachingSearchResultItem {
    padding: 15px 20px;
    border-bottom: 1px solid #efeff0;
    width: 100%;
  }

  .TeachingSearchResultItem .Description {
    width: 100%;
    font-family: Graphik Web;
    font-size: $scale * 1.1vw;
    line-height: $scale * 1.67vw;
    color: #54565a;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .TeachingSearchResultItem .Content {
    height: 100%;
    width: 100%;
  }

  .TeachingSearchResultItem .Details {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .TeachingSearchResultItem .Title {
    margin-bottom: 10px;
    font-family: Graphik Web;
    font-size: $scale * 1.1vw;
    line-height: $scale * 1.67vw;
    font-weight: bold;
    color: #1a1a1a;
  }

  .TeachingSearchResultItem .Date,
  .TeachingSearchResultItem .Length {
    font-family: Graphik Web;
    font-size: $scale * 1.1vw;
    line-height: $scale * 1.67vw;
    color: #646469;
  }

  .TeachingSearchNumberOfVideos {
    background: #1a1a1a;
    color: #ffffff;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: $scale * 1vw;
    line-height: $scale * 3vw;
    padding-left: 24px;
    height: $scale * 3vw;
  }
}

@media (max-width: 767px) {
  .CloseTeachingSearch {
    height: 30px;
  }

  .SearchIcon {
    margin-right: 15px;
    height: 30px;
  }

  .Header1 {
    font-weight: bold;
    font-size: 1.484rem;
    padding-bottom: 8vw;
  }

  .TeachingSearchItem {
    position: relative;
    margin-left: 5vw;
    width: 90vw;
    margin-bottom: 12vw;
  }

  .TeachingSearchItemInput {
    font-family: Graphik Web;
    font-size: 7vw;
    font-weight: bolder;
    width: 70vw;
    border: none;
  }

  *:focus {
    outline: none;
  }

  ::placeholder {
    color: #c8c8c8;
    opacity: 1;
  }

  .TeachingSearchItemDiv {
    width: 90vw;
    margin: 18px 0px 30px 0px;
    border-top: solid 2px #c8c8c8;
  }

  .ShowResults {
    overflow-y: scroll;
    max-height: 300px;
  }

  .TeachingSearchResultItem {
    padding: 15px 15px 15px 10px;
    border-bottom: 1px solid #efeff0;
    width: 100%;
  }

  .TeachingSearchResultItem .Description {
    width: 100%;
    font-family: Graphik Web;
    font-size: 4vw;
    line-height: 5vw;
    color: #54565a;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .TeachingSearchResultItem .Content {
    height: 100%;
    width: 100%;
  }

  .TeachingSearchResultItem .Details {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .TeachingSearchResultItem .Title {
    margin-bottom: 10px;
    width: 42.5vw;
    font-family: Graphik Web;
    font-size: 4vw;
    line-height: 5vw;
    font-weight: bold;
    color: #1a1a1a;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .TeachingSearchResultItem .Date,
  .TeachingSearchResultItem .Length {
    font-family: Graphik Web;
    font-size: 4vw;
    line-height: 5vw;
    color: #646469;
  }

  .TeachingSearchNumberOfVideos {
    background: #1a1a1a;
    color: #ffffff;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 3vw;
    line-height: 9vw;
    padding-left: 12px;
    height: 9vw;
  }
}
