@media (min-width: 768px) {
  .CloseTeachingSearch {
    padding-bottom: 6px;
    cursor: pointer;
    height: 30px;
  }

  .SearchIcon {
    padding-bottom: 6px;
    padding-right: 30px;
    height: 30px;
  }

  .Header1 {
    font-weight: bold;
    font-size: 1.67vw;
    padding-bottom: 2vw;
  }

  .TeachingSearchItem {
    position: relative;
    z-index: 99;
    left: 20vw;
    width: 80vw;
    margin-bottom: 4vw;
  }

  .TeachingSearchItemInput {
    font-family: Graphik Web;
    font-size: 2vw;
    font-weight: bolder;
    width: 70vw;
    border: none;
  }

  *:focus {
    outline: none; /* Chrome */
  }

  ::placeholder {
    color: #c8c8c8;
    opacity: 1;
  }

  .TeachingSearchItemDiv {
    width: 77.5vw;
    margin: 18px 0px 30px 0px;
    border-top: solid 2px #c8c8c8;
  }

  .ShowResults {
    overflow-y: scroll;
    max-height: 325px;
  }

  .TeachingSearchResultItem {
    cursor: pointer;
    padding-bottom: 15px;
    padding-top: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #efeff0;
    width: 100%;
  }

  .TeachingSearchResultItem .Description {
    width: 100%;
    font-family: Graphik Web;
    font-size: 1.1vw;
    line-height: 1.67vw;
    color: #54565a;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .TeachingSearchResultItem .Content {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 100%;
  }

  .TeachingSearchResultItem .Details {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }

  .TeachingSearchResultItem .RightContainer {
    float: right;
  }

  .TeachingSearchResultItem .Title {
    margin-bottom: 10px;
    font-family: Graphik Web;
    font-size: 1.1vw;
    line-height: 1.67vw;
    font-weight: bold;
    color: #1a1a1a;
    float: left;
  }

  .TeachingSearchResultItem .Date {
    font-family: Graphik Web;
    font-size: 1.1vw;
    line-height: 1.67vw;
    color: #646469;
    float: left;
  }

  .TeachingSearchResultItem .Length {
    font-family: Graphik Web;
    font-size: 1.1vw;
    line-height: 1.67vw;
    color: #646469;
    float: right;
  }

  .TeachingSearchNumberOfVideos {
    background: #1a1a1a;
    color: #ffffff;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 1vw;
    height: 3vw;
    padding-left: 24px;
    line-height: 3vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  $scale: 1.4;

  .CloseTeachingSearch {
    padding-bottom: 6px;
    cursor: pointer;
    height: 30px;
  }

  .SearchIcon {
    padding-bottom: 6px;
    padding-right: 15px;
    height: 30px;
  }

  .Header1 {
    font-weight: bold;
    font-size: $scale * 1.67vw;
    padding-bottom: $scale * 2vw;
  }

  .TeachingSearchItem {
    position: relative;
    z-index: 99;
    left: 20vw;
    width: 80vw;
    margin-bottom: 4vw;
  }

  .TeachingSearchItemInput {
    font-family: Graphik Web;
    font-size: $scale * 2vw;
    font-weight: bolder;
    width: 67.5vw;
    border: none;
  }

  *:focus {
    outline: none; /* Chrome */
  }

  ::placeholder {
    color: #c8c8c8;
    opacity: 1;
  }

  .TeachingSearchItemDiv {
    width: 77.5vw;
    margin: 18px 0px 30px 0px;
    border-top: solid 2px #c8c8c8;
  }

  .ShowResults {
    overflow-y: scroll;
    max-height: 325px;
  }

  .TeachingSearchResultItem {
    cursor: pointer;
    padding-bottom: 15px;
    padding-top: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #efeff0;
    width: 100%;
  }

  .TeachingSearchResultItem .Description {
    width: 100%;
    font-family: Graphik Web;
    font-size: $scale * 1.1vw;
    line-height: $scale * 1.67vw;
    color: #54565a;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .TeachingSearchResultItem .Content {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 100%;
  }

  .TeachingSearchResultItem .Details {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }

  .TeachingSearchResultItem .RightContainer {
    float: right;
  }

  .TeachingSearchResultItem .Title {
    margin-bottom: 10px;
    font-family: Graphik Web;
    font-size: $scale * 1.1vw;
    line-height: $scale * 1.67vw;
    font-weight: bold;
    color: #1a1a1a;
    float: left;
  }

  .TeachingSearchResultItem .Date {
    font-family: Graphik Web;
    font-size: $scale * 1.1vw;
    line-height: $scale * 1.67vw;
    color: #646469;
    float: left;
  }

  .TeachingSearchResultItem .Length {
    font-family: Graphik Web;
    font-size: $scale * 1.1vw;
    line-height: $scale * 1.67vw;
    color: #646469;
    float: right;
  }

  .TeachingSearchNumberOfVideos {
    background: #1a1a1a;
    color: #ffffff;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: $scale * 1vw;
    line-height: $scale * 3vw;
    padding-left: 24px;
    height: $scale * 3vw;
  }
}

@media (max-width: 767px) {
  .CloseTeachingSearch {
    padding-bottom: 6px;
    cursor: pointer;
    height: 30px;
  }

  .SearchIcon {
    padding-bottom: 6px;
    padding-right: 15px;
    height: 30px;
  }

  .Header1 {
    font-weight: bold;
    font-size: 5vw;
    padding-bottom: 8vw;
  }

  .TeachingSearchItem {
    position: relative;
    z-index: 99;
    margin-left: 5vw;
    width: 90vw;
    margin-bottom: 4vw;
  }

  .TeachingSearchItemInput {
    font-family: Graphik Web;
    font-size: 7vw;
    font-weight: bolder;
    width: 70vw;
    border: none;
  }

  *:focus {
    outline: none;
  }

  ::placeholder {
    color: #c8c8c8;
    opacity: 1;
  }

  .TeachingSearchItemDiv {
    width: 90vw;
    margin: 18px 0px 30px 0px;
    border-top: solid 2px #c8c8c8;
  }

  .ShowResults {
    overflow-y: scroll;
    max-height: 300px;
  }

  .TeachingSearchResultItem {
    cursor: pointer;
    padding-bottom: 15px;
    padding-top: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #efeff0;
    width: 100%;
  }

  .TeachingSearchResultItem .Description {
    width: 100%;
    font-family: Graphik Web;
    font-size: 4vw;
    line-height: 5vw;
    color: #54565a;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .TeachingSearchResultItem .Content {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 100%;
  }

  .TeachingSearchResultItem .Details {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }

  .TeachingSearchResultItem .RightContainer {
    float: right;
  }

  .TeachingSearchResultItem .Title {
    margin-bottom: 10px;
    width: 45vw;
    font-family: Graphik Web;
    font-size: 4vw;
    line-height: 5vw;
    font-weight: bold;
    color: #1a1a1a;
    float: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .TeachingSearchResultItem .Date {
    font-family: Graphik Web;
    font-size: 4vw;
    line-height: 5vw;
    color: #646469;
    float: left;
  }

  .TeachingSearchResultItem .Length {
    font-family: Graphik Web;
    font-size: 4vw;
    line-height: 5vw;
    color: #646469;
    float: right;
  }

  .TeachingSearchNumberOfVideos {
    background: #1a1a1a;
    color: #ffffff;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 3vw;
    line-height: 9vw;
    padding-left: 12px;
    height: 9vw;
  }
}
