@media (min-width: 768px) {
    .teachingButton {
        position: relative;
        font-family: Graphik Web !important;
        border-radius:0 !important;
        background-color:#ffffff !important;
        color:#000000 !important;
        font-weight:bold!important;
        margin-right:2vw;
        font-size: 1vw;
    }

    .titleOnly {
        border-bottom: solid 1px;
        padding-bottom: 2px;
        cursor: pointer;
    }

    .teachingButton-icon {
        padding-bottom: 2px;
        padding-right: 18px;
    }

    .teachingdescription {
        font-size: 1vw;
        width: 30.625vw;
    }

    .teaching-h1 {
        position: relative;
        top: 3vw;
        font-size: 3vw;
        font-weight: bold;
        font-family: Graphik Web;
    }

    .teaching-blackbox {
        padding: 3vw;
        padding-right: 15vw;
        position: absolute;
        left: 5vw;
        width: 50vw;
        top: 10vw;
        height: 42vw;
        background-color: #000000;
        color: #ffffff;
    }

    .teachingdiv {
        padding: 0.5vw;
        color: #C8C8C8;
        font-family: Graphik Web;
    }

    .teachingdiv2 {
        position: absolute;
        bottom: 6vw;
        font-family: Graphik Web;
    }

    .teaching-episode-title {
        padding: 0.5vw;
        font-size: 2.5vw;
        font-weight: bold;
        color: #ffffff;
        font-family: Graphik Web;
    }

    .teaching-span {
        margin: 1vw;
        font-family: Graphik Web;
    }

    .teaching-image-desktop {
        cursor: pointer;
        position: absolute;
        top: 5vw;
        left: 35vw;
        width: 40vw;
    }

    .teaching-image-mobile {
        display: none;
    }

    .teaching {
        position: relative;
        left: 20vw;
        width: 80vw;
        height: 55vw;
        padding-bottom: 5vh;
    }

    .TeachingSelected {
        font-family: Graphik Web;
        font-weight: bold;
        color: black;
        font-size:1vw;
        border-bottom: black solid;
        padding-bottom: 1px;
    }

    .TeachingUnselected {
        font-family: Graphik Web;
        font-weight: bold;
        cursor: pointer;
        color: #646469; 
        opacity: 0.54;
        font-size:1vw;
    }

    .teaching-mostrecent {
        position: absolute;
        left: 2vw;
        top: 50vw;
        transform: rotate(-90deg);
        transform-origin: left top 0;
        font-family: Graphik Web;
        color: #646469; 
        font-size:1vw;
    }

    .teaching-options {
        position: absolute;
        right: 78vw;
        text-align: right;
        width: 25vw;
        top: 10vw;
        transform: rotate(-90deg);
        transform-origin: right top 0;
    }

    .line-decoration {
        position: absolute;
        left: 2vw;
        top: 40vw;
        transform: rotate(-90deg);
        transform-origin: left top 0;
        border-top: 1px solid red;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .teachingButton {
        font-family: Graphik Web !important;
        border-radius:0 !important;
        background-color:#ffffff !important;
        color:#000000 !important;
        font-weight:bold!important;
        margin-right:2vw;
    }

    .teachingButton-icon {
        padding-bottom: 1px;
        padding-right: 18px
    }

    .teaching-h1 {
        position: relative;
        top: 3vw;
        font-size: 3vw;
        font-weight: bold;
        font-family: Graphik Web;
    }

    .teaching-blackbox {
        padding: 3vw;
        padding-right: 15vw;
        position: absolute;
        left: 5vw;
        width: 50vw;
        top: 10vw;
        height: 42vw;
        background-color: #000000;
        color: #ffffff;
    }

    .teachingdiv {
        padding: 0.5vw;
        color: #C8C8C8;
        font-family: Graphik Web;
    }

    .teachingdiv2 {
        position: absolute;
        bottom: 5vw;
        font-family: Graphik Web;
    }

    .teaching-episode-title {
        padding: 0.5vw;
        font-size: 2.5vw;
        font-weight: bold;
        color: #ffffff;
        font-family: Graphik Web;
    }

    .teaching-span {
        margin: 1vw;
        font-family: Graphik Web;
    }

    .teaching-image-desktop {
        cursor: pointer;
        position: absolute;
        top: 5vw;
        left: 35vw;
        width: 40vw;
    }

    .teaching-image-mobile {
        display: none;
    }

    .teaching {
        position: relative;
        left: 20vw;
        width: 80vw;
        height: 55vw;
        padding-bottom: 5vh;
    }

    .TeachingSelected {
        font-family: Graphik Web;
        font-weight: bold;
        color: black;
        font-size:1vw;
        border-bottom: black solid;
        padding-bottom: 1px;
        cursor: pointer;
    }

    .TeachingUnselected {
        font-family: Graphik Web;
        font-weight: bold;
        cursor: pointer;
        color: #646469; 
        opacity: 0.54;
        font-size:1vw;
    }

    .teaching-mostrecent {
        position: absolute;
        left: 2vw;
        top: 50vw;
        transform: rotate(-90deg);
        transform-origin: left top 0;
        font-family: Graphik Web;
        color: #646469; 
    }

    .teaching-options {
        position: absolute;
        right: 78vw;
        text-align: right;
        width: 25vw;
        top: 10vw;
        transform: rotate(-90deg);
        transform-origin: right top 0;
    }
}

@media (max-width: 767px) {
    .teaching-h1 {
        position: relative;
        top: 3vw;
        font-size: 3vw;
        font-weight: bold;
        font-family: Graphik Web;
    }

    .titleOnly {
        border-bottom: solid 1px;
        padding-bottom: 2px;
        cursor: pointer;
    }

    .teaching-blackbox {
        padding: 3vw;
        position: relative;
        left: 0vw;
        width: 100vw;
        top: 16vw;
        background-color: #000000;
        color: #ffffff;
        padding-bottom: 30vw;
    }

    .teachingdiv {
        padding: 7vw 2vw;
        color: #C8C8C8;
        font-family: Graphik Web;
        font-size: 3.25vw;
    }

    .teachingdiv2 {
        font-family: Graphik Web;
        padding-bottom: 5vw;
        padding-left: 2vw;
    }

    .teaching-episode-title {
        padding: 0vw 2vw;
        font-size: 8.55vw;
        line-height: 10.7vw;
        font-weight: bold;
        color: #ffffff;
        font-family: Graphik Web;
    }

    .teaching-span {
        margin: 1.25vw;
        font-family: Graphik Web;
    }

    .teaching-image-desktop {
        display: none;
    }

    .teaching-image-mobile {
        cursor: pointer;
        position: relative;
        width: 90%;
        bottom: 10vw;
    }

    .mobile-image-container {
        text-align: center;
        display: block;
    }

    .teaching {
        position: relative;
        left: 0vw;
        width: 100vw;
    }

    .TeachingSelected {
        cursor: pointer;
        font-family: Graphik Web;
        font-weight: bold;
        color: black;
        border-bottom: black solid;
        padding-bottom: 1px;
    }

    .TeachingUnselected {
        cursor: pointer;
        font-family: Graphik Web;
        font-weight: bold;
        color: #646469; 
        opacity: 0.54;
    }

    .teaching-mostrecent {
        position: absolute;
        left: 5vw;
        top: 10vw;
        font-family: Graphik Web;
        color: #646469; 
    }

    .teaching-options {
        position: absolute;
        right: 4.5vw;
        text-align: right;
        width: 100%;
        top: 10vw;
    }

    .teachingseriestitle {
        padding: 2vw 2vw 0 2vw;
    }

    .teachingdescription {
        font-size: 4.3vw;
        line-height: 6.4vw;
        padding-bottom: 11.2vw;
    }

    .teachingButton {
      line-height: 5vw!important;
      background-color: #ffffff!important;
      color: #000000!important;
      font-weight: 800!important;
      border-radius:0!important;
      margin-right:5vw;
      font-size: 4.5vw;
      width: 40vw;
      height: 15vw;
    }

    .teachingButton-icon {
        padding-bottom: 2px;
        padding-right: 18px
    }
}
