@media (min-width: 768px) {
    .teachingButton {
        font-family: Graphik Web !important;
    }

    .teaching-h1 {
        position: relative;
        top: 3vw;
        font-size: 3vw;
        font-weight: bold;
        font-family: Graphik Web;
    }

    .teaching-blackbox {
        padding: 3vw;
        padding-right: 15vw;
        position: absolute;
        left: 5vw;
        width: 50vw;
        top: 10vw;
        height: 40vw;
        background-color: #000000;
        color: #ffffff;
    }

    .teachingdiv {
        padding: 0.5vw;
        color: #C8C8C8;
        font-family: Graphik Web;
    }

    .teachingdiv2 {
        position: absolute;
        bottom: 5vw;
        font-family: Graphik Web;
    }

    .teaching-episode-title {
        padding: 0.5vw;
        font-size: 2.5vw;
        font-weight: bold;
        color: #ffffff;
        font-family: Graphik Web;
    }

    .teaching-span {
        margin: 1vw;
        font-family: Graphik Web;
    }

    .teaching-image {
        cursor: pointer;
        position: absolute;
        top: 5vw;
        left: 35vw;
        width: 40vw;
    }

    .teaching {
        position: relative;
        left: 20vw;
        width: 80vw;
        height: 55vw;
        padding-bottom: 5vh;
    }

    .TeachingSelected {
        font-family: Graphik Web;
        font-weight: bold;
        color: black;
    }

    .TeachingUnselected {
        font-family: Graphik Web;
        font-weight: bold;
        cursor: pointer;
        color: blue;
        text-decoration: underline;

    }

    .teaching-mostrecent {
        position: absolute;
        left: 2vw;
        top: 50vw;
        transform: rotate(-90deg);
        transform-origin: left top 0;
        font-family: Graphik Web;
    }

    .teaching-options {
        position: absolute;
        right: 78vw;
        text-align: right;
        width: 25vw;
        top: 10vw;
        transform: rotate(-90deg);
        transform-origin: right top 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .teaching-h1 {
        position: relative;
        top: 3vw;
        font-size: 3vw;
        font-weight: bold;
        font-family: Graphik Web;
    }

    .teaching-blackbox {
        padding: 3vw;
        padding-right: 15vw;
        position: absolute;
        left: 5vw;
        width: 50vw;
        top: 10vw;
        height: 40vw;
        background-color: #000000;
        color: #ffffff;
    }

    .teachingdiv {
        padding: 0.5vw;
        color: #C8C8C8;
        font-family: Graphik Web;
    }

    .teachingdiv2 {
        position: absolute;
        bottom: 5vw;
        font-family: Graphik Web;
    }

    .teaching-episode-title {
        padding: 0.5vw;
        font-size: 2.5vw;
        font-weight: bold;
        color: #ffffff;
        font-family: Graphik Web;
    }

    .teaching-span {
        margin: 1vw;
        font-family: Graphik Web;
    }

    .teaching-image {
        cursor: pointer;
        position: absolute;
        top: 5vw;
        left: 35vw;
        width: 40vw;
    }

    .teaching {
        position: relative;
        left: 20vw;
        width: 80vw;
        height: 55vw;
        padding-bottom: 5vh;
    }

    .TeachingSelected {
        font-family: Graphik Web;
        font-weight: bold;
        color: black;
    }

    .TeachingUnselected {
        font-family: Graphik Web;
        font-weight: bold;
        cursor: pointer;
        color: blue;
        text-decoration: underline;

    }

    .teaching-mostrecent {
        position: absolute;
        left: 2vw;
        top: 50vw;
        transform: rotate(-90deg);
        transform-origin: left top 0;
        font-family: Graphik Web;
    }

    .teaching-options {
        position: absolute;
        right: 78vw;
        text-align: right;
        width: 25vw;
        top: 10vw;
        transform: rotate(-90deg);
        transform-origin: right top 0;
    }
}

@media (max-width: 767px) {
    .teaching-h1 {
        position: relative;
        top: 3vw;
        font-size: 3vw;
        font-weight: bold;
        font-family: Graphik Web;
    }

    .teaching-blackbox {
        padding: 3vw;
        position: absolute;
        left: 0vw;
        width: 100vw;
        top: 22vw;
        height: 100%;
        background-color: #000000;
        color: #ffffff;
    }

    .teachingdiv {
        padding: 7vw 2vw;
        color: #C8C8C8;
        font-family: Graphik Web;
        font-size: 3.25vw;
    }

    .teachingdiv2 {
        position: absolute;
        /* bottom: 0; */
        padding: 0 2vw 0 2vw;
        font-family: Graphik Web;
    }

    .teaching-episode-title {
        padding: 0vw 2vw;
        font-size: 8.55vw;
        line-height: 10.7vw;
        font-weight: bold;
        color: #ffffff;
        font-family: Graphik Web;
    }

    .teaching-span {
        margin: 2.25vw;
        font-family: Graphik Web;
    }

    .teaching-image {
        cursor: pointer;
        position: absolute;
        top: 95vw;
        left: 5vw;
        width: 90%;
    }

    .teaching {
        position: relative;
        left: 0vw;
        width: 100vw;
        padding-bottom: 5vh;
        height: 130vw;
    }

    .TeachingSelected {
        font-family: Graphik Web;
        font-weight: bold;
        color: black;
    }

    .TeachingUnselected {
        font-family: Graphik Web;
        font-weight: bold;
        cursor: pointer;
        color: blue;
        text-decoration: underline;

    }

    .teaching-mostrecent {
        position: absolute;
        left: 5vw;
        top: 10vw;
        font-family: Graphik Web;
    }

    .teaching-options {
        position: absolute;
        right: 28vw;
        text-align: right;
        width: 20vw;
        top: 10vw;
    }

    .teachingseriestitle {
        padding: 2vw 2vw 0 2vw;
    }

    .teachingdescription {
        font-size: 4.3vw;
        line-height: 6.4vw;
        padding-bottom: 11.2vw;
    }

    .teachingButton {
      padding: 5vw 10vw!important;
      line-height: 5vw!important;
      background-color: #ffffff!important;
      color: #000000!important;
      font-weight: 800!important;
  }
}
