@use 'sass:math';

.dropdown-toggle:after {
  display: none;
}

.button-icon {
  margin-right: 16px;
}

@media (min-width: 768px) {
  .LiveVideoPlayerTitle {
    font-family: Graphik Web;
    margin-top: clamp(8px, 48px, 7vw);
    font-weight: bold;
    color: #ffffff;
    font-size: 2rem;
    margin-left: 10vw;
  }

  .LiveVideoPlayerDiv {
    position: relative;
    top: 0;
    left: 0vw;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: auto;
    margin-bottom: 5vw;
  }

  .LiveVideoPlayerDetails {
    left: 10vw;
    position: relative;
  }

  .LiveVideoPlayerIframe {
    margin-left: 10vw;
    padding-top: 2vw;
    width: 80vw;
    height: math.div(9, 16) * 80vw;
  }

  .LiveVideoPlayerInfoText {
    font-family: Graphik Web;
    color: #646469;
  }
  .LiveVideoPlayerText {
    font-family: Graphik Web;
    color: #646469;
    margin-left: 10vw;
    margin-right: 10vw;
    a {
      color: #ffffff;
    }
  }
  .LiveVideoPlayerEpisodeTitleMain {
    font-family: Graphik Web;
    font-weight: bold;
    color: #ffffff;
    font-size: 2rem;
    margin-left: 10vw;
    float: left;
    margin-top: 8vw;
  }
  .LiveVideoPlayerEpisodeTitle {
    font-family: Graphik Web;
    font-weight: bold;
    color: #ffffff;
    font-size: 2rem;
    margin-left: 10vw;
    // float:left;
    margin-top: 5vw;
  }
  .LiveVideoPlayerSeriesVideo,
  .LiveVideoPlayerSeriesAudio,
  .LiveVideoPlayerSeriesNotes {
    margin-right: 2vw;
    color: #ffffff;
    font-family: Graphik Web;
  }
  .LiveVideoPlayerSeriesMenuContainer {
    float: right;
    margin-right: 8vw;
    margin-top: 2.2vw;
  }
  .LiveVideoPlayerSeriesMenu {
    float: right;

    margin-right: 2vw;
    font-size: 1.4rem;
    color: #ffffff;
    font-family: Graphik Web;
    a {
      color: #ffffff;
    }
  }

  .LiveVideoPlayerSeries,
  .LiveVideoPlayerPublished,
  .LiveVideoPlayerDuration {
    float: left;
    margin-right: 2vw;
  }

  .LiveVideoPlayerClear {
    clear: left;
  }

  .LiveVideoPlayerSeriesTitle,
  .LiveVideoPlayerPublishedTitle,
  .LiveVideoPlayerDurationTitle {
    font-family: Graphik Web;
    color: #c8c8c8;
  }

  .LiveVideoPlayerExtra {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    left: 10vw;
    margin-top: 30px;
    width: 80vw;
  }

  .LiveVideoPlayerDescription {
    font-family: Graphik Web;
    color: #c8c8c8;
    left: 10vw;
    position: relative;
    margin-top: 2vw;
    width: 70vw;
  }

  .ZoomGrid {
    margin-top: 5vw;
    display: grid;
    margin-left: 10vw;
    gap: 1vw;
    grid-template-columns: repeat(3, 26vw);
  }

  .ZoomItem {
    transition: 0.5s;
    position: relative;
    width: 26vw;
    height: math.div(9, 16) * 26vw;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
  }

  .ZoomText {
    transition: 0.5s;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 1.5rem;
    width: 24vw;
    text-align: center;
    color: #1a1a1a;
  }

  .WatchVideoTag {
    transition: 0.5s;
    opacity: 0;
    position: absolute;
    font-family: Graphik Web;
    font-size: 1.4rem;
    color: #ffffff;
    padding-top: 6vw;
    border-bottom: 1px solid #ffffff;
  }

  .ZoomItem:hover {
    transition: 0.5s;
    background-color: #1a1a1a;
    .ZoomText {
      color: #ffffff;
      transition: 0.5s;
      transform: translateY(-2.5vw);
    }
    .WatchVideoTag {
      transition: 0.5s;
      opacity: 1;
    }
  }

  .LiveMenuLink {
    color: #ffffff !important;
    border-bottom: solid;
    padding-bottom: 1px;
    text-decoration: none !important;
  }

  #share-custom {
    border-radius: 0;
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
    font-family: Graphik Web;
    font-weight: bold;
    width: 200px;
    margin-top: 5px;
    box-shadow: none !important;
  }

  .FeaturedButton {
    margin: 0 2vw 0 0 !important;
    padding: 0.375rem 0.75rem !important;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px !important;
    font-size: 1rem !important;
  }

  .ShareButtonDesktop {
    float: right;
    margin-right: 10vw;
  }

  .ShareButtonMobile {
    display: none;
  }

  .social-share-icon {
    margin-right: 20px;
  }

  .ShareMenu {
    border-radius: 0;
  }

  .ShareOption {
    text-align: left;
  }

  .dropitem {
    width: 200px;
  }

  .dropitem:hover {
    background-color: #c8c8c8;
    border: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .LiveVideoPlayerTitle {
    font-family: Graphik Web;
    font-weight: bold;
    color: #ffffff;
    font-size: 2rem;
    margin-left: 10vw;
  }

  .LiveVideoPlayerDiv {
    position: relative;
    top: 0;
    left: 0vw;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: auto;
    margin-bottom: 5vw;
  }
  .LiveVideoPlayerText {
    font-family: Graphik Web;
    color: #646469;
    margin-left: 10vw;
    margin-right: 10vw;
    a {
      color: #ffffff;
    }
  }
  .LiveVideoPlayerDetails {
    left: 10vw;
    position: relative;
  }

  .LiveVideoPlayerIframe {
    margin-left: 10vw;
    padding-top: 2vw;
    width: 80vw;
    height: math.div(9, 16) * 80vw;
  }

  .LiveVideoPlayerInfoText {
    font-family: Graphik Web;
    color: #646469;
  }

  .LiveVideoPlayerEpisodeTitleMain {
    font-family: Graphik Web;
    font-weight: bold;
    color: #ffffff;
    font-size: 3vw;
    margin-left: 10vw;
    float: left;
    margin-top: 8vw;
  }
  .LiveVideoPlayerEpisodeTitle {
    font-family: Graphik Web;
    font-weight: bold;
    color: #ffffff;
    font-size: 3vw;
    margin-top: 5vw;
    margin-left: 10vw;
  }
  .LiveVideoPlayerSeriesVideo,
  .LiveVideoPlayerSeriesAudio,
  .LiveVideoPlayerSeriesNotes {
    margin-right: 2vw;
    color: #ffffff;
    font-family: Graphik Web;
  }

  .LiveVideoPlayerSeries,
  .LiveVideoPlayerPublished,
  .LiveVideoPlayerDuration {
    float: left;
    margin-right: 2vw;
  }

  .LiveVideoPlayerClear {
    clear: left;
  }

  .LiveVideoPlayerSeriesTitle,
  .LiveVideoPlayerPublishedTitle,
  .LiveVideoPlayerDurationTitle {
    font-family: Graphik Web;
    color: #c8c8c8;
  }

  .LiveVideoPlayerExtra {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    left: 10vw;
    width: 80vw;
  }

  .LiveVideoPlayerDescription {
    font-family: Graphik Web;
    color: #c8c8c8;
    left: 10vw;
    position: relative;
    margin-top: 2vw;
    width: 70vw;
  }

  .ZoomGrid {
    margin-top: 5vw;
    display: grid;
    margin-left: 10vw;
    gap: 1vw;
    grid-template-columns: repeat(3, 26vw);
  }

  .ZoomItem {
    transition: 0.5s;
    position: relative;
    width: 26vw;
    height: math.div(9, 16) * 26vw;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
  }

  .ZoomText {
    transition: 0.5s;
    font-family: Graphik Web;
    font-weight: bold;
    width: 24vw;
    font-size: 2.1vw;
    text-align: center;
    color: #1a1a1a;
  }

  .WatchVideoTag {
    transition: 0.5s;
    opacity: 0;
    position: absolute;
    font-family: Graphik Web;
    font-size: 1.4vw;
    color: #ffffff;
    padding-top: 6vw;
    border-bottom: 1px solid #ffffff;
  }

  .ZoomItem:hover {
    transition: 0.5s;
    background-color: #1a1a1a;
    .ZoomText {
      color: #ffffff;
      transition: 0.5s;
      transform: translateY(-2.5vw);
    }
    .WatchVideoTag {
      transition: 0.5s;
      opacity: 1;
    }
  }

  #share-custom {
    border-radius: 0;
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
    font-family: Graphik Web;
    font-weight: bold;
    width: 200px;
    margin-top: 5px;
    box-shadow: none !important;
  }

  .FeaturedButton {
    margin: 0 2vw 0 0 !important;
    padding: 0.375rem 0.75rem !important;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px !important;
    font-size: 1rem !important;
  }

  .ShareButtonDesktop {
    float: right;
    margin-right: 10vw;
  }

  .ShareButtonMobile {
    display: none;
  }

  .social-share-icon {
    margin-right: 20px;
  }

  .ShareMenu {
    border-radius: 0;
  }

  .ShareOption {
    text-align: left;
  }

  .dropitem {
    width: 200px;
  }

  .dropitem:hover {
    background-color: #c8c8c8;
    border: none;
  }
}

@media (max-width: 767px) {
  .LiveVideoPlayerTitle {
    font-family: Graphik Web;
    font-weight: bold;
    color: #ffffff;
    font-size: 8.55vw;
    line-height: 10.65vw;
    margin-left: 0vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 7vw;
  }

  .LiveVideoPlayerSeriesMenuContainer {
    float: right;
    margin-right: 8vw;
    margin-top: 2vw;
  }
  .LiveVideoPlayerSeriesMenu {
    float: right;

    margin-right: 2vw;
    font-size: 2vw;
    color: #ffffff;
    font-family: Graphik Web;
    a {
      color: #ffffff;
    }
  }

  .LiveVideoPlayerDiv {
    position: relative;
    top: 0;
    left: 0vw;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: auto;
    margin-bottom: 5vw;
    margin-top: 20vw;
  }

  .LiveVideoPlayerDetails {
    left: 10vw;
    position: relative;
  }

  .LiveVideoPlayerIframe {
    padding-top: 2vw;
    width: 100vw;
    height: 58vw;
  }

  .KidmaxVideo {
    padding-top: 2vw;
    width: 90vw;
    height: math.div(9, 16) * 90vw;
    margin-left: 5vw;
  }

  .LiveVideoPlayerInfoText {
    font-family: Graphik Web;
    color: #646469;
  }

  .LiveVideoPlayerEpisodeTitleMain {
    font-family: Graphik Web;
    font-weight: bold;
    color: #ffffff;
    font-size: 5vw;
    margin-left: 10vw;
  }
  .LiveVideoPlayerEpisodeTitle {
    font-family: Graphik Web;
    font-weight: bold;
    color: #ffffff;
    font-size: 5vw;
    clear: both;
    margin-left: 5vw;
    margin-top: 5vw;
  }
  .LiveVideoPlayerSeriesVideo,
  .LiveVideoPlayerSeriesAudio,
  .LiveVideoPlayerSeriesNotes {
    margin-right: 2vw;
    color: #ffffff;
    font-family: Graphik Web;
    margin-bottom: 5vw;
  }

  .LiveVideoPlayerSeries,
  .LiveVideoPlayerPublished,
  .LiveVideoPlayerDuration {
    float: left;
    margin-right: 2vw;
  }

  .LiveVideoPlayerClear {
    clear: left;
  }

  .LiveVideoPlayerSeriesTitle,
  .LiveVideoPlayerPublishedTitle,
  .LiveVideoPlayerDurationTitle {
    font-family: Graphik Web;
    color: #c8c8c8;
  }

  .LiveVideoPlayerExtra {
    position: relative;
    display: flex;
    margin-top: 7vw;
    padding-left: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5vw;
  }

  .LiveVideoPlayerDescription {
    font-family: Graphik Web;
    color: #c8c8c8;
    left: 20px;
    position: relative;
    margin-top: 16px;
    width: 90%;
  }
  .LiveVideoPlayerSeriesMenuContainer {
    float: right;
    margin-right: 8vw;
    margin-top: -5vw;
    z-index: 12000;
    overflow: visible;
  }
  .LiveVideoPlayerSeriesMenu {
    float: right;

    margin-right: 2vw;
    font-size: 2vw;
    color: #ffffff;
    font-family: Graphik Web;
    a {
      color: #ffffff;
    }
  }
  .LiveVideoPlayerText {
    font-family: Graphik Web;
    color: #646469;
    margin-left: 10vw;
    margin-right: 10vw;
    a {
      color: #ffffff;
    }
  }

  .ZoomGrid {
    margin-top: 5vw;
    display: grid;
    margin-left: 5vw;
    gap: 2vw;
    grid-template-columns: repeat(2, 44vw);
  }

  .ZoomItem {
    transition: 0.5s;
    position: relative;
    width: 44vw;
    height: math.div(9, 16) * 44vw;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
  }

  .ZoomText {
    transition: 0.5s;
    font-family: Graphik Web;
    font-weight: bold;
    font-size: 3.5vw;
    width: 35vw;
    text-align: center;
    color: #1a1a1a;
  }

  .WatchVideoTag {
    display: none;
  }

  .LiveMenuLink {
    color: #ffffff !important;
    border-bottom: solid;
    padding-bottom: 1px;
    text-decoration: none !important;
    margin-right: 5vw;
  }

  #share-custom {
    border-radius: 0;
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
    font-family: Graphik Web;
    font-weight: bold;
    width: 125px;
    box-shadow: none !important;
    margin-right: 5vw;
  }

  .ShareButtonDesktop,
  .hide-mobile {
    display: none !important;
  }

  .ShareButtonMobile {
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
  }

  .FeaturedButton {
    padding: 0.375rem 0.75rem !important;
    min-width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-share-icon {
    margin-right: 20px;
  }

  .ShareMenu {
    border-radius: 0;
    width: 180px;
  }

  .ShareOption {
    text-align: left;
  }

  .dropitem {
    width: 178px;
  }

  .dropitem:hover {
    background-color: #c8c8c8;
    border: none;
  }
}
