@media (min-width: 768px) {
      .VideoPlayerDiv {
            position: relative;
            top: 0;
            left: 0vw;
            width: 100%;
            height: 100%;
            padding: 0;
            margin-bottom: 5vw;
      }

      .VideoPlayerDetails {
            left: 10vw;
            position: relative;
            max-width: 50vw;
      }

      .VideoPlayerIframe {
            margin-left: 10vw;
            padding-top: 2vw;
            width: 80vw;
            height: 45vw;
      }

      .VideoPlayerInfoText {
            font-family: Graphik Web;
            color: #646469
      }

      .VideoPlayerEpisodeTitle {
            font-family: Graphik Web;
            font-weight: bold;
            color: #ffffff;
            font-size: 3vw;
            margin-left: 10vw;
      }

      .VideoPlayerSeriesVideo,
      .VideoPlayerSeriesAudio,
      .VideoPlayerSeriesNotes {
            float: left;
            margin-right: 3vw;
            color: #ffffff;
            font-family: Graphik Web;
      }

      .VideoPlayerSeries,
      .VideoPlayerPublished,
      .VideoPlayerDuration {
            float: left;
            margin-right: 2vw;
      }

      .VideoPlayerClear {
            clear: left;
      }

      .VideoPlayerSeriesTitle,
      .VideoPlayerPublishedTitle,
      .VideoPlayerDurationTitle {
            font-family: Graphik Web;
            color: #C8C8C8;
      }

      .VideoPlayerExtra {
            margin-top: 3vw;
            position: relative;
            left: 10vw;
      }

      .VideoPlayerDescription {
            font-family: Graphik Web;
            color: #C8C8C8;
            left: 10vw;
            position: relative;
            margin-top: 2vw;
            width: 50vw;
      }

      .DownloadLink {
            color: #ffffff !important;
            border-bottom: solid;
            padding-bottom: 1px;
            text-decoration: none !important;
      }

      .button-icon {
            margin-right: 16px;
      }

      .dropdown-toggle:after {
            display: none;
      }

      #share-custom {
            border-radius: 0;
            color: #000000;
            background-color: #ffffff;
            border-color: #ffffff;
            font-family: Graphik Web;
            font-weight: bold;
            width: 200px;
            margin-top: 5px;
            box-shadow: none !important;
      }

      .ShareButtonDesktop {
            float: right;
            margin-right: 10vw;
      }

      .ShareButtonMobile {
            display:none;
      }

      .social-share-icon {
            margin-right: 20px;
      }

      .ShareMenu {
            border-radius: 0;
      }

      .dropitem {
            width: 200px;
      }

      .dropitem:hover {
            background-color: #C8C8C8;
            border: none;
      }

      .ShareOption {
            text-align: left;
      }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .VideoPlayerDiv {
            position: relative;
            top: 0;
            left: 0vw;
            width: 100%;
            height: 100%;
            padding: 0;
            margin-bottom: 5vw;
      }

      .VideoPlayerDetails {
            left: 10vw;
            position: relative;
            max-width: 50vw;
      }

      .VideoPlayerIframe {
            margin-left: 10vw;
            padding-top: 2vw;
            width: 80vw;
            height: 45vw;
      }

      .VideoPlayerInfoText {
            font-family: Graphik Web;
            color: #646469
      }

      .VideoPlayerEpisodeTitle {
            font-family: Graphik Web;
            font-weight: bold;
            color: #ffffff;
            font-size: 3vw;
            margin-left: 10vw;
      }

      .VideoPlayerSeriesVideo,
      .VideoPlayerSeriesAudio,
      .VideoPlayerSeriesNotes {
            float: left;
            margin-right: 2vw;
            color: #ffffff;
            font-family: Graphik Web;
      }

      .VideoPlayerSeries,
      .VideoPlayerPublished,
      .VideoPlayerDuration {
            float: left;
            margin-right: 2vw;
      }

      .VideoPlayerClear {
            clear: left;
      }

      .VideoPlayerSeriesTitle,
      .VideoPlayerPublishedTitle,
      .VideoPlayerDurationTitle {
            font-family: Graphik Web;
            color: #C8C8C8;
      }

      .VideoPlayerExtra {
            margin-top: 3vw;
            position: relative;
            left: 10vw;
      }

      .VideoPlayerDescription {
            font-family: Graphik Web;
            color: #C8C8C8;
            left: 10vw;
            position: relative;
            margin-top: 2vw;
            width: 70vw;
      }
}

@media (max-width: 767px) {
      .VideoPlayerDiv {
            position: relative;
            top: 0;
            left: 0vw;
            width: 100%;
            height: 100%;
            padding: 0;
            margin-bottom: 10vw;
            margin-top:20vw;
      }

      .VideoPlayerDetails {
            left: 0vw;
            position: relative;
            padding-left: 5vw;
            padding-right: 5vw;
            margin-top: 3vw;
      }

      .VideoPlayerIframe {
          margin-left: 0vw;
          padding-top: 2vw;
          width: 100%;
          height: 58vw;
      }

      .VideoPlayerInfoText {
            font-family: Graphik Web;
            color: #646469
      }

      .VideoPlayerEpisodeTitle {
            font-family: Graphik Web;
            font-weight: bold;
            color: #ffffff;
            font-size: 8.55vw;
            line-height: 10.65vw;
            margin-left: 0vw;
            padding-left: 5vw;
            padding-right: 5vw;
            margin-top: 7vw;
      }

      .VideoPlayerSeriesVideo,
      .VideoPlayerSeriesAudio,
      .VideoPlayerSeriesNotes {
            float: left;
            margin-right: 5vw;
            color: #ffffff;
            font-family: Graphik Web;
            margin-bottom: 10vw;
      }

      .VideoPlayerSeries,
      .VideoPlayerPublished,
      .VideoPlayerDuration {
            float: left;
            margin-right: 2vw;
      }

      .VideoPlayerSeries {
          margin-right: 12vw;
      }

      .VideoPlayerClear {
            clear: left;
      }

      .VideoPlayerSeriesTitle,
      .VideoPlayerPublishedTitle,
      .VideoPlayerDurationTitle {
            font-family: Graphik Web;
            color: #C8C8C8;
      }

      .VideoPlayerExtra {
            margin-top: 3vw;
            position: relative;
            left: 5vw;
      }

      .VideoPlayerDescription {
            font-family: Graphik Web;
            color: #C8C8C8;
            left: 0vw;
            position: relative;
            margin-top: 7vw;
            width: 100%;
            padding-left: 5vw;
            padding-right: 5vw;
      }

      .DownloadLink {
            color: #ffffff !important;
            border-bottom: solid;
            padding-bottom: 1px;
            text-decoration: none !important;
            margin-right: 5vw;
      }

      .button-icon {
            margin-right: 16px;
      }

      .dropdown-toggle:after {
            display: none;
      }

      #share-custom {
            border-radius: 0;
            color: #000000;
            background-color: #ffffff;
            border-color: #ffffff;
            font-family: Graphik Web;
            font-weight: bold;
            width: 125px;
            box-shadow: none !important;
      }

      .ShareButtonDesktop {
            display: none;
      }

      .ShareButtonMobile {
            margin-left: 5vw;
      }

      .social-share-icon {
            margin-right: 20px;
      }

      .ShareMenu {
            border-radius: 0;
            width: 180px;
      }

      .dropitem {
            width: 178px;
      }

      .dropitem:hover {
            background-color: #C8C8C8;
            border: none;
      }

      .ShareOption {
            text-align: left;
      }
}
