@media (min-width: 768px) {

    .weatherItem {
        position: relative;
        width: 100vw;
        height: 105vh;
        padding-bottom: 5vh;
    }

    .weatherH1 {
        font-family: Graphik Web;
        font-weight: bold;
        color: #ffffff;
        font-size: 3vw;
    }

    .weatherH2 {
        font-family: Graphik Web;
        font-weight: bold;
        color: #ffffff;
        font-size: 1.5vw;
        margin-top: 0vw !important;
        margin-bottom: 0vw !important;
    }


    .weatherHr {
        margin-left: 0;
        margin-right: 0;
        margin-top: 1.5vw;
        margin-bottom: 1.5vw;
        width: 3vw;
        background-color: #ffffff;
    }

    .weatherText1 {
        font-family: Graphik Web;
        width: 32vw;
        color: #ffffff;
        font-size: 1.5vw;
    }

    .weatherText2 {
        font-family: Graphik Web;
        width: 32vw;
        color: #ffffff;
        font-size: 1vw;
    }

    .weatherImage {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        mask-mode: alpha;
        //  webkit-mask-mode: alpha;
        mask-repeat: no-repeat;
        //  webkit-mask-repeat: no-repeat;
        mask-size: 20vw;
        z-index: 50;
        //  webkit-mask-size: 20vw;
        //background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);

    }

    .weatherImageGradient {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        mask-mode: alpha;
        //  webkit-mask-mode: alpha;
        mask-repeat: no-repeat;
        //  webkit-mask-repeat: no-repeat;
        mask-size: 20vw;
        z-index: 51;
        background-image: linear-gradient(135deg, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 66%);

    }

    .weatherPartialBlackBox {
        position: absolute;
        background-color: #000000;
        padding: 2vw;
        left: 10vw;
        width: 36vw;
        top: 10vh;
        z-index: 100;
    }

    .weatherBlackBox {
        position: absolute;
        background-color: #000000;
        padding: 2vw;
        left: 20vw;
        width: 36vw;
        top: 30vh;
        z-index: 100;
    }

    .weatherButton {
        margin-top: 1.5vw !important;
        color: #000000 !important;
        background-color: #ffffff !important;
        border-radius: 0 !important;
        padding: 1rem 1.5rem !important;
        font-weight: 800 !important;
        font-family: Graphik Web !important;
    }

    .weatherItemButton {
        margin-top: 1.5vw;
        color: #000000; background-color: #ffffff;
        border-radius: 0;
    }
    .weatherItemButtonA {
        font-family: Graphik Web;
        color: #ffffff;
    }
    .weatherItemA2 {
        font-family: Graphik Web;
    }
    .weatherPartial {
        position: relative;
        left: 20vw;
        top:10vw;
        width: 80vw;
        height: 50vw; padding-bottom: 5vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


    .weatherH2 {
        font-family: Graphik Web;
        font-weight: bold;
        color: #ffffff;
        font-size: 1.5vw;
        margin-top: 0vw !important;
        margin-bottom: 0vw !important;
    }

    .weatherItem {
        position: relative;
        width: 100vw;
        height: 105vh;
        padding-bottom: 5vh;
    }

    .weatherH1 {
        font-family: Graphik Web;
        font-weight: bold;
        color: #ffffff;
        font-size: 3vw;
    }


    .weatherHr {
        margin-left: 0;
        margin-right: 0;
        margin-top: 1.5vw;
        margin-bottom: 1.5vw;
        width: 3vw;
        background-color: #ffffff;
    }

    .weatherText1 {
        font-family: Graphik Web;
        width: 60vw;
        color: #ffffff;
        font-size: 1.5vw;
        margin-bottom:1vw;
    }

    .weatherText2 {
        font-family: Graphik Web;
        width: 32vw;
        color: #ffffff;
        font-size: 1vw;
    }

    .weatherImage {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        mask-mode: alpha;
        //  webkit-mask-mode: alpha;
        mask-repeat: no-repeat;
        //  webkit-mask-repeat: no-repeat;
        mask-size: 20vw;
        z-index: 50;
        //  webkit-mask-size: 20vw;
        //background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);

    }

    .weatherImageGradient {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        mask-mode: alpha;
        //  webkit-mask-mode: alpha;
        mask-repeat: no-repeat;
        //  webkit-mask-repeat: no-repeat;
        mask-size: 20vw;
        z-index: 51;
        background-image: linear-gradient(135deg, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 66%);

    }

    .weatherPartialBlackBox {
        position: absolute;
        background-color: #000000;
        padding: 2vw;
        left: 10vw;
        width: 36vw;
        top: 10vh;
        z-index: 100;
    }

    .weatherBlackBox {
        position: absolute;
        background-color: #000000;
        padding: 2vw;
        left: 20vw;
        width: 36vw;
        top: 30vh;
        z-index: 100;
    }

    .weatherButton {
        margin-top: 1.5vw !important;
        color: #000000 !important;
        background-color: #ffffff !important;
        border-radius: 0 !important;
        padding: 1rem 1.5rem !important;
        font-weight: 800 !important;
        font-family: Graphik Web !important;
    }

    .weatherItemButton {
        margin-top: 1.5vw;
        color: #000000; background-color: #ffffff;
        border-radius: 0;
    }
    .weatherItemButtonA {
        font-family: Graphik Web;
        color: #ffffff;
    }
    .weatherItemA2 {
        font-family: Graphik Web;
    }
}

@media (max-width: 767px) {


    .weatherH2 {
        font-family: Graphik Web;
        font-weight: bold;
        color: #ffffff;
        font-size: 4.3vw;
        line-height: 6.4vw;
        margin-top: 0vw !important;
        margin-bottom: 0vw !important;
    }

    .weatherItem {
        position: relative;
        width: 100vw;
        // height: 120vh;
        padding-bottom: 5vh;
        // margin-bottom: 45vw;
    }

    .weatherH1 {
        font-family: Graphik Web;
        font-weight: bold;
        color: #ffffff;
        font-size: 10vw;
        line-height: 10.65vw;
        margin-top: 5rem;
        padding: 0 1rem;
    }


    .weatherHr {
        margin-left: 0;
        margin-right: 0;
        margin-top: 4.5vw;
        margin-bottom: 4.5vw;
        width: 8.55vw;
        background-color: #ffffff;
    }

    .weatherText1 {
        font-family: Graphik Web;
        font-weight: 800;
        width: 90vw;
        color: #ffffff;
        font-size: 4.3vw;
        line-height: 6.4vw;
        margin-bottom: 5vw;
        padding: 0 1rem;

    }

    .weatherText2 {
        font-family: Graphik Web;
        width: 90vw;
        color: #ffffff;
        font-size: 4.3vw;
        line-height: 6.4vw;
    }

    .weatherText3 {
      padding: 0 1rem;
    }

    .weatherImage {
        width: 100vw;
        height: 35vh;
        object-fit: cover;
        // position: absolute;
        mask-mode: alpha;
        //  webkit-mask-mode: alpha;
        mask-repeat: no-repeat;
        //  webkit-mask-repeat: no-repeat;
        mask-size: 20vw;
        z-index: 50;
        object-position: 85% 50%;
        //  webkit-mask-size: 20vw;
        //background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
        margin-top: 8vw;
    }

    .weatherImageGradient {
        visibility: hidden;
    }

    .weatherBlackBox {
        // position: absolute;
        background-color: rgba(0, 0, 0, 1);
        padding: 2vw;
        left: 0vw;
        width: 100vw;
        // height: 65vh;
        // top: 46vh;
        z-index: 100;
        padding: 10vw 5vw 10vw 5vw;
    }

    .weatherPartialBlackBox {
        position: absolute;
        z-index: 51;
       // background-color: rgba(0, 0, 0, 1);
        padding: 2vw;
        left: 0vw;
        width: 100vw;
        // height: 65vh;
        top: 0;
        padding: 10vw 6vw 10vw 6vw;
        //margin-top: 75vw;
    }

    .weatherButton {
        margin-top: 15vw !important;
        color: #000000 !important;
        background-color: #ffffff !important;
        border-radius: 0 !important;
        padding: 1rem 1.5rem !important;
        font-weight: 800 !important;
        font-family: Graphik Web !important;
    }

    .weatherItemButton {
        margin-top: 1.5vw;
        color: #000000; background-color: #ffffff;
        border-radius: 0;
    }
    .weatherItemButtonA {
        font-family: Graphik Web;
        color: #ffffff;
    }
    .weatherItemA2 {
        font-family: Graphik Web;
    }

}
