.LocationsModalHeader {
  letter-spacing: 0.5px;
  font-size: 20px;
  font-weight: 500;
}
.LocationsModalSubHeader {
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
  color: grey;
}
.LocationsModalHeader {
  span {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  button {
    background-color: #fff !important;
    border: none;
    font-size: 32px;
    padding: 0px;
    padding-left: 32px;
    padding-right: 32px;
    margin-right: -32px;
  }
}
.LocationsModal {
  padding: 10px 32px 16px;
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  column-gap: 16px;

  label {
    display: flex;
    flex-direction: column;

    input {
      flex: 1;
      padding: 8px;
      margin-top: 4px;
      border: 1px solid lightgrey;
    }
    .LocationsModalCheckbox {
      padding: 0px;
      margin-left: 4px;
      height: 15px;
      width: 15px;
      flex: unset;
    }
  }
}
