.LocationsModalCreateNewHeader {
  letter-spacing: 0.5px;
  font-size: 20px;
  font-weight: 500;
}
.LocationsModalCreateNewSubHeader {
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
  color: grey;
}
.ButtonContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  column-gap: 8px;
  margin-top: 16px;
}
