.LocationsModalButton {
  background-color: unset;
  border: none;
  font-size: 12px;
  font-weight: 600;
  padding: 8px 16px;
  border: 3px solid transparent;
  &.link {
    background-color: unset;
    color: #1a1a1a;
    border: none;
    text-decoration: underline;
  }
  &.solid {
    background-color: #1a1a1a;
    color: #fff;
  }
  &.outline {
    background-color: #fff;
    color: #1a1a1a;
    border: 3px solid #1a1a1a;
  }
}
.LocationsModalButton:hover {
  opacity: 0.7;
}
