@use '../../theme.scss';

.add-to-calendar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  .add-to-calendar {
    font-family: Graphik Web;
    font-size: 16px;
    background: transparent;
    border: none;
    padding-left: 0;
    padding-right: 0;
    &.white {
      color: #ffffff;
    }
    &.black {
      color: theme.$onyxblacktext;
    }
    &.decoration {
      text-decoration: underline;
    }
    &.hover-decoration {
      &:hover {
        text-decoration: underline;
      }
    }
    text-underline-offset: 0.25em;
  }

  a {
    &::before {
      width: 15px;
      height: 15px;
      content: '';
      vertical-align: middle;
      background-size: contain;
      background-position-y: center;
      background-repeat: no-repeat;
      display: inline-block;
      margin: 5px 5px 8px 0;
    }

    &.Apple::before {
      background-image: url('../../svg/Apple.svg');
    }

    &.Outlook::before,
    &.Outlookcom::before {
      background-image: url('../../svg/Outlook.svg');
    }

    &.Google::before {
      background-image: url('../../svg/Google.svg');
    }
  }
}
