@use '~bootstrap/scss/bootstrap';
@use 'theme';
a {
  color: unset;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.VideoPlayer {
  background-color: #000000;
}
.bg-white {
  background-color: transparent !important;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.example-mask {
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-size: 20vw;
}

/*
  ##Device = Desktops
  ##Screen = 1025px to higher resolution desktops
*/
.imageList {
  .hoverText,
  .noHoverText {
    position: relative;
    padding-right: 10vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-left: 10vw;
    width: 58vw;
    min-height: 25vw;
    left: 22vw;
    top: 0vw;
  }
}

.arrow {
  transition: 1s;
}

.imageList .hoverText:hover {
  background-color: #efeff0;
  cursor: pointer;
  .arrow {
    transform: translateX(20px);
  }
}

.tmh-header1,
.tmh-header2 {
  font-family: Graphik Web;
  font-weight: bold;

  &.w {
    color: theme.$white;
  }

  &.b {
    color: theme.$onyxblacktext;
  }
}

.tmh-header1 {
  font-size: 3rem;
}

.tmh-header2 {
  font-size: 1.5rem;
}

.v-player-h2 {
  margin-bottom: 1rem;
}

.v-player-hr {
  margin-top: 3.75vw;
  height: 8px;
  background: theme.$white;
  opacity: 0.12;
}
body {
  font-size: 1rem;
}
@media (min-width: 768px) {
  body {
    overflow-x: hidden;
    padding-top: 90px;
    font-family: Graphik Web;
    padding-top: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .brand {
    position: fixed;
    left: 0;
    right: 0;
    width: 16vw;
    z-index: 1001;
    margin: 2vw;
    top: 0vh;
  }
  .footer {
    padding-left: 20vw;
    margin-left: 0vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    overflow-x: hidden;
    padding-top: 90px;
    font-family: Graphik Web;
    font-size: 16px;
  }

  body {
    padding-top: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .brand {
    position: fixed;

    left: 0;
    right: 0;
    width: 16vw;
    z-index: 1001;
    margin: 2vw;
    top: 0vh;
  }

  .footer {
    padding-left: 20vw;
    margin-left: 0vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .tmh-header1 {
    font-size: 2rem;
  }
  body {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
    padding-top: 12vw;
    font-family: Graphik Web;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .footer {
    margin-left: 0vw;
  }
  .imageList .hoverText {
    position: relative;
    padding-right: 0vw;
    padding-bottom: 5vw;
    padding-left: 0vw;
    width: 100% !important;
    height: 100% !important;
    left: 0vw;
  }
  .imageList .noHoverText {
    position: relative;
    padding-right: 0vw;
    padding-bottom: 5vw;
    padding-left: 0vw;
    width: 100% !important;
    height: 100% !important;
    left: 0vw;
  }

  .imageList .hoverText:hover {
    .arrow {
      transform: none;
    }
  }

  .tmh-header1 {
    font-size: 2rem;
  }

  .v-player-hr {
    width: 88.53vw;
  }
}

/*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
