$body-bg: #ffffff;
$body-color: #000000;

$onyxblack: #000000;
$onyxblacktext: #1A1A1A;
$coolgray11: #54565A;
$coolgray10: #646469;
$coolgray3: #C8C8C8;

$coral: #FF595A;
$galileesea: #1A428A;
$goldensun: #FFC60B;
$tangerine: #FF8300;
$crimson: #D7282F;

$greenleaf: #00AE42;
$bluesky: #5EB3E4;
$jade: #1A5632;
$jacinth: #8E5928;
$royalpurple: #21145F;
$amethyst: #9594D2;
$chrysoprase: #A0E2BA;
$coolgray7: #969696;

$goldensun-light: #FFF7D9;
$tangerine-light: #FFECD9;
$coral-light: #FFEEEE;
$jacinth-light: #F6F2EE;
$bluesky-light: #E7F2FC;
$greenleaf-light: #EBF9F0;
$amethyst-light: #F0F0F9;
$onyxblack-light: #EFEFF0;

$white: #FFFFFF;

@import "~bootstrap/scss/bootstrap.scss";
@import "/static/fonts/commercial-type-1906-WOIKTV-web/fonts.css";


html{
    scroll-behavior: smooth;
}


.VideoPlayer{
    background-color:#000000;
}
.bg-white {
    background-color: transparent !important;
}

.example-mask {

    mask-mode: alpha;
  //  webkit-mask-mode: alpha;
    mask-repeat: no-repeat;
  //  webkit-mask-repeat: no-repeat;
    mask-size: 20vw;
  //  webkit-mask-size: 20vw;
}


/*
  ##Device = Desktops
  ##Screen = 1025px to higher resolution desktops
*/
.imageList .hoverText{
    position: relative;
    padding-right:10vw;
    padding-top:5vw;
    padding-bottom:5vw;
    padding-left: 10vw;
    width: 58vw;
    height: 25vw;
    left: 22vw;
    top: 0vw;
}
.imageList .noHoverText{
    position: relative;
    padding-right:10vw;
    padding-top:5vw;
    padding-bottom:5vw;
    padding-left: 10vw;
    width: 58vw;
    height: 25vw;
    left: 22vw;
    top: 0vw;
}
.imageList .hoverText:hover{
    background-color: #EFEFF0;
    cursor:pointer;

}
@media (min-width: 768px) {


    body {
        padding-top: 90px;
        font-family: Graphik Web;
        font-size: 16px;
       // line-height: 24px;
    }



    body {
        padding-top: 0 ;
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
    }


    .brand {
        position: fixed;

        left: 0;
        right: 0;
        width: 16vw;
        z-index: 100;
        margin: 2vw;
        top: 0vh;
    }


    .footer {

        padding-left: 20vw;
        margin-left:0vw;
    }

}

/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    body {
        padding-top: 90px;
        font-family: Graphik Web;
        font-size: 16px;
     //   line-height: 24px;
    }

    body {
        padding-top: 0 ;
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
    }


    .brand {
        position: fixed;

        left: 0;
        right: 0;
        width: 16vw;
        z-index: 100;
        margin: 2vw;
        top: 0vh;
    }


    .footer {
        padding-left: 20vw;
        margin-left:0vw;
    }

}

/*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (max-width: 767px) {

    body {
        padding-top: 12vw;
        font-family: Graphik Web;
        font-size: 16px;
     //  line-height: 24px;
    }
    .footer {
        margin-left: 0vw;
    }
    .imageList .hoverText{
        position: relative;
        padding-right:0vw;
        // padding-top:30vw;
        padding-bottom:5vw;
        padding-left: 0vw;
        width: 100%!important;
        height: 100%!important;
        left: 0vw;
        // top: 32vw;
    }
    .imageList .noHoverText{
        position: relative;
        padding-right:0vw;
        // padding-top:30vw;
        padding-bottom:5vw;
        padding-left: 0vw;
        width: 100%!important;
        height: 100%!important;
        left: 0vw;
        // top: 32vw;
    }
}

/*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
