$body-bg: #ffffff;
$body-color: #000000;

$onyxblack: #000000;
$onyxblacktext: #1a1a1a;
$coolgray11: #54565a;
$coolgray10: #646469;
$coolgray3: #c8c8c8;

$coral: #ff595a;
$galileesea: #1a428a;
$goldensun: #ffc60b;
$tangerine: #ff8300;
$crimson: #d7282f;

$greenleaf: #00ae42;
$bluesky: #5eb3e4;
$jade: #1a5632;
$jacinth: #8e5928;
$royalpurple: #21145f;
$amethyst: #9594d2;
$chrysoprase: #a0e2ba;
$coolgray7: #969696;

$goldensun-light: #fff7d9;
$tangerine-light: #ffecd9;
$coral-light: #ffeeee;
$jacinth-light: #f6f2ee;
$bluesky-light: #e7f2fc;
$greenleaf-light: #ebf9f0;
$amethyst-light: #f0f0f9;
$onyxblack-light: #efeff0;

$white: #ffffff;

@import '~bootstrap/scss/bootstrap.scss';
@import 'fonts/commercial-type-1906-WOIKTV-web/fonts.css';

html {
  scroll-behavior: smooth;
}

.VideoPlayer {
  background-color: #000000;
}
.bg-white {
  background-color: transparent !important;
}

.example-mask {
  mask-mode: alpha;
  //  webkit-mask-mode: alpha;
  mask-repeat: no-repeat;
  //  webkit-mask-repeat: no-repeat;
  mask-size: 20vw;
  //  webkit-mask-size: 20vw;
}

/*
  ##Device = Desktops
  ##Screen = 1025px to higher resolution desktops
*/
.imageList .hoverText {
  position: relative;
  padding-right: 10vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  padding-left: 10vw;
  width: 58vw;
  height: 25vw;
  left: 22vw;
  top: 0vw;
}
.imageList .noHoverText {
  position: relative;
  padding-right: 10vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  padding-left: 10vw;
  width: 58vw;
  height: 25vw;
  left: 22vw;
  top: 0vw;
}

.arrow {
  transition: 1s;
}

.imageList .hoverText:hover {
  background-color: #efeff0;
  cursor: pointer;
  .arrow {
    transform: translateX(20px);
  }
}
@media (min-width: 768px) {
  body {
    padding-top: 90px;
    font-family: Graphik Web;
    font-size: 16px;
    // line-height: 24px;
  }

  body {
    padding-top: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .brand {
    position: fixed;

    left: 0;
    right: 0;
    width: 16vw;
    z-index: 100;
    margin: 2vw;
    top: 0vh;
  }

  .footer {
    padding-left: 20vw;
    margin-left: 0vw;
  }
}

/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    padding-top: 90px;
    font-family: Graphik Web;
    font-size: 16px;
    //   line-height: 24px;
  }

  body {
    padding-top: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .brand {
    position: fixed;

    left: 0;
    right: 0;
    width: 16vw;
    z-index: 100;
    margin: 2vw;
    top: 0vh;
  }

  .footer {
    padding-left: 20vw;
    margin-left: 0vw;
  }
}

/*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (max-width: 767px) {
  body {
    padding-top: 12vw;
    font-family: Graphik Web;
    font-size: 16px;
    //  line-height: 24px;
  }
  .footer {
    margin-left: 0vw;
  }
  .imageList .hoverText {
    position: relative;
    padding-right: 0vw;
    // padding-top:30vw;
    padding-bottom: 5vw;
    padding-left: 0vw;
    width: 100% !important;
    height: 100% !important;
    left: 0vw;
    // top: 32vw;
  }
  .imageList .noHoverText {
    position: relative;
    padding-right: 0vw;
    // padding-top:30vw;
    padding-bottom: 5vw;
    padding-left: 0vw;
    width: 100% !important;
    height: 100% !important;
    left: 0vw;
    // top: 32vw;
  }

  .imageList .hoverText:hover {
    .arrow {
      transform: none;
    }
  }
}

/*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
