@use '~bootstrap/scss/bootstrap';
@use 'fonts/commercial-type-1906-WOIKTV-web/fonts';

html {
  scroll-behavior: smooth;
}

.VideoPlayer {
  background-color: #000000;
}
.bg-white {
  background-color: transparent !important;
}

.example-mask {
  mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-size: 20vw;
}

/*
  ##Device = Desktops
  ##Screen = 1025px to higher resolution desktops
*/
.imageList .hoverText {
  position: relative;
  padding-right: 10vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  padding-left: 10vw;
  width: 58vw;
  height: 25vw;
  left: 22vw;
  top: 0vw;
}
.imageList .noHoverText {
  position: relative;
  padding-right: 10vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  padding-left: 10vw;
  width: 58vw;
  height: 25vw;
  left: 22vw;
  top: 0vw;
}

.arrow {
  transition: 1s;
}

.imageList .hoverText:hover {
  background-color: #efeff0;
  cursor: pointer;
  .arrow {
    transform: translateX(20px);
  }
}
@media (min-width: 768px) {
  body {
    padding-top: 90px;
    font-family: Graphik Web;
    font-size: 16px;
  }

  body {
    padding-top: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .brand {
    position: fixed;

    left: 0;
    right: 0;
    width: 16vw;
    z-index: 100;
    margin: 2vw;
    top: 0vh;
  }

  .footer {
    padding-left: 20vw;
    margin-left: 0vw;
  }
}

/*
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    padding-top: 90px;
    font-family: Graphik Web;
    font-size: 16px;
  }

  body {
    padding-top: 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .brand {
    position: fixed;

    left: 0;
    right: 0;
    width: 16vw;
    z-index: 100;
    margin: 2vw;
    top: 0vh;
  }

  .footer {
    padding-left: 20vw;
    margin-left: 0vw;
  }
}

/*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (max-width: 767px) {
  body {
    padding-top: 12vw;
    font-family: Graphik Web;
    font-size: 16px;
  }
  .footer {
    margin-left: 0vw;
  }
  .imageList .hoverText {
    position: relative;
    padding-right: 0vw;
    padding-bottom: 5vw;
    padding-left: 0vw;
    width: 100% !important;
    height: 100% !important;
    left: 0vw;
  }
  .imageList .noHoverText {
    position: relative;
    padding-right: 0vw;
    padding-bottom: 5vw;
    padding-left: 0vw;
    width: 100% !important;
    height: 100% !important;
    left: 0vw;
  }

  .imageList .hoverText:hover {
    .arrow {
      transform: none;
    }
  }
}

/*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
