$body-bg: #ffffff;
$body-color: #000000;
@import "~bootstrap/scss/bootstrap.scss";
@import "/static/fonts/commercial-type-1906-WOIKTV-web/fonts.css";

.modal-video{
  width:100%;
  max-width:none!important;
  color:#000000;
  margin:0!important;
}
.modal-video .modal-content{
 
  background-color:#000000!important;
}

html{
    scroll-behavior: smooth;
}
.showVideoPlayer-enter {
    opacity: 0.01;
  }
  
  .showVideoPlayer-enter.showVideoPlayer-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  .showVideoPlayer-appear {
    opacity: 0.01;
  }
  
  .showVideoPlayer-appear.showVideoPlayer-appear-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }  
  .showVideoPlayer-leave {
    opacity: 1;
  }
  
  .showVideoPlayer-leave.showVideoPlayer-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

.VideoPlayer{
    background-color:#000000;
}
.bg-white {
    background-color: transparent !important;
}

.example-mask {

    mask-mode: alpha;
  //  webkit-mask-mode: alpha;
    mask-repeat: no-repeat;
  //  webkit-mask-repeat: no-repeat;
    mask-size: 20vw;
  //  webkit-mask-size: 20vw;
}


/* 
  ##Device = Desktops
  ##Screen = 1025px to higher resolution desktops
*/
.imageList .hoverText{
    position: relative;
    padding-right:10vw;
    padding-top:5vw;
    padding-bottom:5vw;
    padding-left: 10vw;
    width: 58vw;
    height: 25vw;
    left: 22vw;
    top: 0vw;
}
.imageList .hoverText:hover{
    background-color: #EFEFF0;
    cursor:pointer;

}
@media (min-width: 768px) {


    body {
        padding-top: 90px;
        font-family: Graphik Web;
        font-size: 16px;
        line-height: 24px;
    }
    


    body {
        padding-top: 0 ;
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
    }


    .brand {
        position: fixed;

        left: 0;
        right: 0;
        width: 16vw;
        z-index: 100;
        margin: 2vw;
        top: 0vh;
    }

   
    .footer {
        margin-left: 20vw;
    
    }
    
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    body {
        padding-top: 90px;
        font-family: Graphik Web;
        font-size: 16px;
        line-height: 24px;
    }
    
    body {
        padding-top: 0 ;
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
    }


    .brand {
        position: fixed;

        left: 0;
        right: 0;
        width: 16vw;
        z-index: 100;
        margin: 2vw;
        top: 0vh;
    }

  
    .footer {
        margin-left: 20vw;
    
    }
    
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 320px) and (max-width: 767px) {

    body {
        padding-top: 12vw;
        font-family: Graphik Web;
        font-size: 16px;
        line-height: 24px;
    }
    
  
  
    .footer {
        margin-left: 0vw;
    
    }
    
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */