$body-bg: #ffffff;
$body-color: #000000;

$onyxblack: #000000;
$onyxblacktext: #1A1A1A;
$coolgray11: #54565A;
$coolgray10: #646469;
$coolgray3: #C8C8C8;

$coral: #FF595A;
$galileesea: #1A428A;
$goldensun: #FFC60B;
$tangerine: #FF8300;
$crimson: #D7282F;

$greenleaf: #00AE42;
$bluesky: #5EB3E4;
$jade: #1A5632;
$jacinth: #8E5928;
$royalpurple: #21145F;
$amethyst: #9594D2;
$chrysoprase: #A0E2BA;
$coolgray7: #969696;

$goldensun-light: #FFF7D9;
$tangerine-light: #FFECD9;
$coral-light: #FFEEEE;
$jacinth-light: #F6F2EE;
$bluesky-light: #E7F2FC;
$greenleaf-light: #EBF9F0;
$amethyst-light: #F0F0F9;
$onyxblack-light: #EFEFF0;

$white: #FFFFFF;
