$body-bg: #ffffff;
$body-color: #000000;

$onyxblack: #000000;
$onyxblacktext: #1a1a1a;
$coolgray11: #54565a;
$coolgray10: #646469;
$coolgray3: #c8c8c8;

$coral: #ff595a;
$galileesea: #1a428a;
$goldensun: #ffc60b;
$tangerine: #ff8300;
$crimson: #d7282f;

$greenleaf: #00ae42;
$bluesky: #5eb3e4;
$jade: #1a5632;
$jacinth: #8e5928;
$royalpurple: #21145f;
$amethyst: #9594d2;
$chrysoprase: #a0e2ba;
$coolgray7: #969696;

$goldensun-light: #fff7d9;
$tangerine-light: #ffecd9;
$coral-light: #ffeeee;
$jacinth-light: #f6f2ee;
$bluesky-light: #e7f2fc;
$greenleaf-light: #ebf9f0;
$amethyst-light: #f0f0f9;
$onyxblack-light: #efeff0;

$white: #ffffff;
