@keyframes slideIn {
  from {
    height: 200px;
    min-height: 200px;
    overflow: hidden;
  }
  to {
    overflow: hidden;
    min-height: 250px;
  }
}

.announcementContainer {
  margin-top: 24px;
  width: 100%;
  margin: auto;
  position: relative;
  min-height: 90vh;
}

/* Announcement Page Header */

.announcementHeader {
  margin: 16px;
  flex-direction: row;
}
.addAnnouncementButton {
  color: red;
}
.addAnnouncementButton:hover {
  background-color: #efefef;
}

.announcementHeaderText {
  display: inline;
  font-size: 26px;
  font-weight: 700;
}

.regionalFilter {
  margin-left: 16px;
  display: inline;
}

/* Announcement Item */
.announcementBox {
  padding-top: 16px;
  text-align: center;
  width: 50%;
  padding: 16px;
  margin: 16px;
  border-radius: 4px;
  border: solid 1px black;
  height: 250px;
  -webkit-box-shadow: 6px 6px 11px -8px rgba(0, 0, 0, 1);
  -moz-box-shadow: 6px 6px 11px -8px rgba(0, 0, 0, 1);
  box-shadow: 6px 6px 11px -8px rgba(0, 0, 0, 1);
}
.announcementBoxBodyText {
  font-size: 12px;
}
.announcementIcons {
  margin: 16px 16px 4px 16px;
}
.announcementBox[data-custom='open'] {
  animation: slideIn 0.5s 1;
}
.announcementBox:hover {
  background-color: lightgrey;
}

.announcementSummary {
  font-size: 10px;
}

/* Add Announcement Modal */
.addAnnouncementModal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}
.addAnnouncementModalContainer {
  display: flex;
  flex-direction: column;
}
