@keyframes slideIn {
  from {
    height: 200px;
    min-height: 200px;
    overflow: hidden;
  }
  to {
    overflow: hidden;
    min-height: 360px;
  }
}

.announcementContainer {
  display: flex;
  flex-direction: column;
  height: 360px;
}

/* Announcement Page Header */

.announcementHeader {
  margin: 16px;
  flex-direction: row;
}
.addAnnouncementButton {
  color: red;
}
.addAnnouncementButton:hover {
  background-color: #efefef;
}

.announcementHeaderText {
  display: inline;
  font-size: 26px;
  font-weight: 700;
}

.regionalFilter {
  margin-left: 16px;
  display: inline;
}

/* Announcement Item */
.announcementBox {
  overflow: hidden;
  margin: 16px;
  border-radius: 4px;
  border: solid 1px black;
  flex: 1;
  width: 50%;
  height: 400px;
  -webkit-box-shadow: 6px 6px 11px -8px rgba(0, 0, 0, 1);
  -moz-box-shadow: 6px 6px 11px -8px rgba(0, 0, 0, 1);
  box-shadow: 6px 6px 11px -8px rgba(0, 0, 0, 1);
}

.announcementBox[data-custom='open'] {
  animation: slideIn 0.5s 1;
}
.announcementBox:hover {
  background-color: lightgrey;
}

.announcementButton {
  background-color: lightgrey;
  border-radius: 8px;
  color: black;
  font-weight: 700;
}

.announcementBoxFooter {
  border-top: 1px solid black;
  height: 36px;
  position: sticky;
  background-color: white;
  bottom: 0;
}
.announcementBoxBodyText {
  font-size: 14px;
}
.announcementBoxFooter:hover {
  background-color: lightgrey;
}

/* Add Announcement Modal */
.addAnnouncementModal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}
.addAnnouncementModalContainer {
  display: flex;
  flex-direction: column;
}
