@keyframes slideIn {
  from {
    height: 160px;
    min-height: 160px;
  }
  to {
    min-height: 250px;
  }
}

.announcementContainer {
  border: 1px solid black;
  min-height: 500px;
  width: 100%;
  margin-top: 50px;
  position: relative;
}

/* Announcement Page Header */

.announcementHeader {
  margin-top: 0;
  margin-bottom: 16px;
  top: 24px;
  position: absolute;
  z-index: 100;
  background-color: white;
  width: 100%;
  flex-direction: row;
}
.addAnnouncementButton {
  color: red;
}
.addAnnouncementButton:hover {
  background-color: #efefef;
}

.announcementHeaderText {
  margin-left: 24px;
  display: inline;
  font-size: 26px;
  font-weight: 700;
}

.regionalFilter {
  margin-left: 16px;
  display: inline;
}

/* Announcement Item */
.announcementBox {
  padding: 16px;
  position: relative;
  display: block;
  overflow-y: auto;
  text-align: center;
  width: 30vw;
  margin: 16px;
  border-radius: 4px;
  border: solid 1px black;
  height: 250px;
  -webkit-box-shadow: 6px 6px 11px -8px rgba(0, 0, 0, 1);
  -moz-box-shadow: 6px 6px 11px -8px rgba(0, 0, 0, 1);
  box-shadow: 6px 6px 11px -8px rgba(0, 0, 0, 1);
}
.announcementBoxBodyText {
  font-size: 12px;
}
.announcementIcons {
  margin: 16px 16px 4px 16px;
}
.announcementBox[data-custom='open'] {
  animation: slideIn 0.5s 1;
}
.announcementBox:hover {
  background-color: lightgrey;
}

.announcementSummary {
  font-size: 12px;
}

/* Add Announcement Modal */
.announcementModal {
  width: 80%;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
}
.addAnnouncementModalContainer {
  display: flex;
  flex-direction: column;
}
.genericTextField {
  width: 100%;
}
.genericTextArea {
  width: 100%;
  color: black;
  padding: 16px;
  line-height: 20px;
}
