.blog-content {
  position: relative;
  padding: 0px 5px;
  padding-bottom: 5vw;
  outline-color: lightgrey;
  outline-style: solid;
}

.blog-h1 {
  font-size: 3vw;
  font-weight: bold;
  font-family: Graphik Web;
  color: #1a1a1a;
  width: 58vw;
}

.blog-details {
  font-family: Graphik Web;
  color: #54565a;
  font-size: 1.1vw;
}

.blog-author {
  color: #1a1a1a;
  //border-bottom: #1A1A1A solid;
  //padding-bottom: 1px;
}

.body {
  padding-top: 3vw;
  font-family: Graphik Web;
  width: 48.33vw;
  overflow-x: hidden;
}

.body p {
  font-family: Graphik Web !important;
}

.body span {
  font-family: Graphik Web !important;
}

.button-icon {
  margin-right: 16px;
}

.dropdown-toggle:after {
  display: none;
}

#share-custom {
  border-radius: 0;
  color: #ffffff;
  background-color: #1a1a1a;
  border-color: #1a1a1a;
  font-family: Graphik Web;
  font-weight: bold;
  width: 134px;
  height: 56px;
  margin-top: 5px;
  box-shadow: none !important;
}

.ShareButtonDesktop {
  margin-right: 11.25vw;
  float: right;
}

.social-share-icon {
  margin-right: 20px;
}

.ShareMenu {
  border-radius: 0;
}
