@use './admin.scss';

h2 {
  color: black;
  margin-top: 12px !important;
  margin-bottom: 0px !important;
  font-weight: bold;
}

.toolbar-button {
  color: black;
  background: white;
  margin-right: 10px;
  padding: 4px;
  font-weight: bold;
  border: 3px solid black;
  font-size: 14px;
  &.black {
    color: #fff;
    background-color: black;
  }
  &.disabled {
    background-color: grey;
    color: #fff;
  }
}

.toolbar-button-container {
  z-index: 10;
  display: flex;
  flex-direction: row;

  row-gap: 20px;
  flex-wrap: wrap;
  position: sticky;
  top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

.DraftEditor-editorContainer {
  margin-top: 20px;
  border: lightgrey solid !important;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.editor-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 15vw;
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
}

.notesInput {
  flex: 1;
  border: 1px solid lightgrey;
  margin-top: 4px;
  padding: 8px;
}

.desc-button {
  position: relative;
  top: 40px;
}

.imageURL-output {
  font-size: small;
}

.copied-alert {
  position: fixed;
  font-size: large;
  opacity: 0.5;
  text-align: center;
}

.tags-button {
  color: black;
  background: white;
  margin-left: 12px;
  border-radius: 8px;
  font-size: 14px;
  width: 140px;
}

.tags-item {
  display: inline;
}

.tags-item:hover {
  color: red;
  cursor: pointer;
}

.calendar-label {
  margin-right: 10px;
}
.rdw-link-modal {
  position: absolute;
  top: 35px;
  left: 5px;
  display: flex;
  flex-direction: column;
  width: 235px;
  height: 350px;
  border: 1px solid #f1f1f1;
  padding: 15px;
  border-radius: 2px;
  z-index: 100;
  background: white;
  box-shadow: 3px 3px 5px #bfbdbd;
}
.rdw-link-modal-btn {
  margin-left: 10px;
  width: 75px;
  height: 50px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  cursor: pointer;
  background: grey;
  text-transform: capitalize;
  color: black;
}
.rdw-embedded-modal {
  position: absolute;
  top: 35px;
  left: 5px;
  display: flex;
  flex-direction: column;
  width: 235px;
  height: 250px;
  border: 1px solid #f1f1f1;
  padding: 15px;
  border-radius: 2px;
  z-index: 100;
  background: white;
  justify-content: space-between;
  box-shadow: 3px 3px 5px #bfbdbd;
}
.rdw-embedded-modal-btn {
  margin: 0 3px;
  width: 80px;
  height: 50px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  cursor: pointer;
  color: black;
  background: grey;
  text-transform: capitalize;
}
.rdw-image-modal {
  position: absolute;
  top: 35px;
  left: 5px;
  display: flex;
  flex-direction: column;
  width: 235px;
  height: 440px;
  border: 1px solid #f1f1f1;
  padding: 15px;
  border-radius: 2px;
  z-index: 100;
  background: white;
  box-shadow: 3px 3px 5px #bfbdbd;
}
.rdw-image-modal-btn {
  margin: 0 5px;
  width: 75px;
  height: 50px;
  border: 1px solid #f1f1f1;
  border-radius: 2px;
  cursor: pointer;
  background: grey;
  color: black;
  text-transform: capitalize;
}
.rdw-editor-toolbar {
  padding: 6px 5px 0;
  border-radius: 2px;
  border: 1px solid #f1f1f1;
  display: flex;
  justify-content: flex-start;
  background: white;
  flex-wrap: wrap;
  font-size: 15px;
  margin-bottom: 5px;
  user-select: none;
  order: 2;
}
.rdw-editor-wrapper {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .editor-container {
    margin-left: 0px !important;
  }
}
.editButtonModal1 {
  background-color: #1a1a1a;
  color: white;
  padding: 8px;
  font-weight: 700;
  padding-left: 30px;
  padding-right: 30px;
  &.white {
    background-color: white;
    border: 1.5px solid #1a1a1a;
    color: black;
  }
}
