.HMTable {
  background-color: #efefef;
  width: 100%;
  & td {
    font-size: 12px;
    text-align: center;
  }
  & input {
    width: 20px;
    height: 20px;
  }
}

.hmSearchInput {
  position: relative;
  text-align: left;

  & > img {
    position: absolute;
    top: 27px;
    left: 15px;
    z-index: 1000;
  }
  & > input {
    height: unset;
    width: 50%;
    margin: 16px 0px;
    padding: 8px 8px 8px 38px;
  }
}

.hmEditButton {
  background-color: #1a1a1a;
  color: white;
  padding: 8px;
  font-weight: 700;
  padding-left: 30px;
  padding-right: 30px;
  &.white {
    background-color: white;
    border: 1.5px solid #1a1a1a;
    color: black;
  }
}
