td {
  font-size: 12px;
  padding: 0;
  padding-left: 16px;
  line-height: 28px;
  max-width: 220px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

th {
  padding: 0px;
  padding-left: 16px;
}

.HomeChurchCheckbox {
  transform: scale(1.5);
}
