.HMTable {
  background-color: #efefef;
  width: 100%;
  & td {
    font-size: 12px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 4px;
  }
  & input {
    width: 17px;
    height: 17px;
  }
  & th {
    font-size: 11px;
    font-weight: 600;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 2px;
    padding-right: 2px;
  }

  & tfoot tr td {
    text-align: left;
    padding-left: 4px;
  }
}

.hmSearchInput1 {
  position: relative;
  text-align: left;
  flex: 0.8;
  & > img {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1000;
  }
  & > input {
    height: unset;
    width: 100%;
    padding: 8px 8px 8px 38px;
  }
}

.hmEditButton {
  background-color: #1a1a1a;
  color: white;
  padding: 8px;
  font-weight: 700;
  padding-left: 30px;
  padding-right: 30px;
  &.white {
    background-color: white;
    border: 1.5px solid #1a1a1a;
    color: black;
  }
}
