.importVideoHeader {
  margin-bottom: 8px;

  row-gap: 10px;
  display: flex;
  flex-wrap: wrap;
}
.tableContainer {
  height: 300px;
  overflow: auto;
}
.adminButton {
  background-color: #fff;
  border: 3px solid #000;
  color: #000;
  font-weight: 700;
  padding: 4px;
  font-size: 12px;
  margin-right: 4px;
}

.youtubeBox {
  margin-top: 20px;
  margin-bottom: 20px;
}

.importvideoInput {
  padding: 8px;
  margin-top: 4px;
  border: 1px solid lightgrey;
  font-family: Graphik Web;
}

.importvideoDropdown {
  padding: 8px;
  margin-top: 4px;
  border: 1px solid lightgrey;
  font-family: Graphik Web;
}
.divTable {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  tr {
    margin-top: 16px;
    margin-bottom: 16px;
    th {
      display: table-cell;
      border: 1px solid lightgrey;
      padding: 2px;
      font-size: 10px;
      font-weight: bold;
    }
    display: table-row;
    border: 1px solid lightgrey;
    td {
      display: table-cell;
      border: 1px solid lightgrey;
      padding: 2px;
      font-size: 10px;
    }
  }
}
.divTable2 {
  td {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
