.modal-content {
  max-height: 95vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  .close {
    background-color: white;
    border: none;
    transform: scale(2);
  }
}

.modal {
  background-color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    --bs-modal-width: 700px;
  }
}
@media (min-width: 1100px) {
  .modal-lg,
  .modal-xl {
    --bs-modal-width: 800px;
  }
}
.modal-header {
  padding: 16px 32px;
  background-color: #fff;
}
.modal {
  overflow-y: hidden;
}
.livestreamModalContainer {
  width: 80vw;
  height: 80vh;
}
.livestream-input {
  padding: 8px;
  margin-top: 4px;
  border: 1px solid lightgrey;
  font-family: Graphik Web;
}

.videoSelectBox {
  display: flex;
  flex-direction: column;
}
