@use '../../theme.scss';

.app-promo {
  @media (max-width: 360px) {
    font-size: 12px;
    .close-btn-custom {
      span {
        font-size: 18px !important;
      }
    }
  }
  @media (min-width: 768px) {
    font-size: 20px;
    .close-btn-custom {
      span {
        font-size: 24px !important;
      }
    }
    padding: 10px 16px;
    height: 75px;
    .vl {
      margin: 0 16px !important;
    }
  }

  .close-btn-custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      font-size: 22px;
    }
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  bottom: 0;
  z-index: 999;

  padding: 10px 12px;
  background-color: theme.$onyxblacktext;
  font-family: Graphik Web;
  font-size: min(1em, 4vw);

  height: 65px;
  .vl {
    background: white;
    width: 2px;
    height: 55px;
    margin: 0 12px;
  }

  .promo-text {
    color: white;
    font-weight: 600;
    margin-right: auto;
  }

  .download-btn {
    background: white;
    text-decoration: none;
    vertical-align: middle;
    color: theme.$onyxblacktext;
    font-weight: 800;
    padding: 0.4em 0.8em;
  }
}
