body {
  padding-top: unset;
}
.MyAccountContainer {
  background-color: #e5e5e5;
}
.spinnerContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: 'center';
  margin-top: -54px;
}

.DashboardContent {
  z-index: 1000;
  margin-top: -12vh;
  min-height: 88vh;
}

@media (max-width: 768px) {
  .DashboardContent {
    margin-top: 0;
    max-width: 100vw;
  }
}
