.footerText {
  font-family: Graphik Web;
  font-weight: 700;
  line-height: 24px;
  font-size: 1em;
  margin: 0px;
  .subText {
    font-weight: 400;
    text-decoration: underline;
  }
}

.Footer {
  display: flex;

  position: absolute;
  left: 10.972vw;
  bottom: 5vh;
  flex-direction: row;
}
