@use '../../theme';

@mixin hollow-btn {
  position: relative;
  border-radius: 0;
  background-color: #fff;
  color: theme.$onyxblacktext;
  font-weight: bold;
  text-decoration: none;

  margin-right: 2vw;

  &.inverted {
    background-color: theme.$onyxblack;
    color: #fff;

    &:hover {
      background-color: theme.$onyxblack;
      color: #fff;
    }
  }

  &:hover {
    color: theme.$onyxblacktext;
    background-color: #fff;
  }

  padding: 16px 24px;
  margin-top: 48px;
}

// A link that looks like a button
a.button-link {
  @include hollow-btn;
}

a {
  color: theme.$onyxblacktext;
  text-decoration: underline;
  text-underline-offset: 0.25em;

  &.link-plain {
    text-decoration: none;
  }

  &.inverted {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }

  &.container,
  &.container:hover {
    color: initial;
    text-decoration: none;
  }

  &:hover {
    color: #0056b3;
    text-decoration: underline;
  }
}

.tmh-arrow-svg {
  transition: 1s;
}

.tmh-arrow-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1rem;
  font-weight: bold;
  @media (min-width: 1024px) {
    font-size: 1.25rem;
  }

  text-decoration: none;
  color: theme.$onyxblacktext;
  &:hover,
  &:focus {
    color: theme.$onyxblacktext;
    .tmh-arrow-svg {
      transform: translate(20px);
    }
  }
}
